[2019-07-06 04:03] sonusourav commented on #2809
@liveHarshit  You are right in some sense. Let me put it this way. If we don't fix the maximum area over which the image can be displayed, then chances are there that the images will get cropped also. That's what happened in #1926  and #1873 . Also, in such cases when you see the image in other orientation, the image gets definitely cropped. You may check that.
@yashk2000  We don't need different

[2019-07-06 04:20] sonusourav opened #2811 "Add multiple selection in Upload History"
**Describe the feature you'd like**
Currently, there is no feature to select items ( either one or all by the long press) in Upload History. This would be required if a user wants to remove selected images or share selected images in the upload history.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-06 04:28] sonusourav opened #2812 "Upon changing orientation, images on the screen change"
**Describe the bug**
For some images, when we change the orientation from landscape to portrait, the images on the screen change. I could not generalize for which type of images is this true at the moment, but I have found 3 such images till this time. Also, I have not observed vice-versa of this i.e. happening something similar when changing orientation from portrait to landscape.

**To Reproduce

[2019-07-06 04:38] sonusourav commented on #2698
For me the case is opposite, the above options are not visible.

[2019-07-06 04:41] yashk2000 commented on #2811
@sonusourav thanks for reporting the issue. We already have similar issues. https://github.com/fossasia/phimpme-android/issues/2602 and https://github.com/fossasia/phimpme-android/issues/2604. Please work on this issue there. These issues only focus on delete options, but you can add share option for upload images too.
Closing this issue hence.

[2019-07-06 04:41] #2811 closed

[2019-07-06 04:42] yashk2000 commented on #2809
@sonusourav ok. Proceed with the issue :+1:

[2019-07-06 04:58] sonusourav commented on #2811
Sorry, but since the title was not proper, it was not displayed in similar issues. Thanks for bringing it to my notice. Next time, I will take care.

[2019-07-06 05:50] #2517 closed

[2019-07-06 22:03] yashk2000 commented on #2362
@iamareebjamal @abishekvashok this issue cannot be fixed easily. The camera module is a separate app in itself, opencamera, and has a very different architecture. It will take an unnecessarily large amount of time and resources to introduce the option of different modes here.
I don't think it is practical to do this. Please tell me whether to close the issue or not.

[2019-07-08 13:05] #2303 closed

[2019-07-08 13:05] #2797 closed

[2019-07-08 13:31] yashk2000 opened #2816 "Adding signingConfig to the build.gralde file."
**Describe the chore**
`signingConfigs` needs to be added to the build.gralde file for signing app using the new process.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-08 20:26] #2816 closed

[2019-07-09 10:18] yashk2000 opened #2818 "Error in the update-apk script."
**Describe the bug**
What went wrong:
Task 'bundlePlayStoreRelease' not found in root project 'phimpme-android'.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-09 10:55] #2818 closed

[2019-07-09 11:00] yashk2000 commented on #2362
Closing this issue because of the above reason.

[2019-07-09 11:00] #2362 closed

[2019-07-09 12:16] yashk2000 opened #2820 "Decrease the download size of the repo."
**Describe the chore**
The current download size of the repository is very large, 292.08mb. It should be decreased as the code size in the repo is barely around 20mb.
This will be done using bgf.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-09 13:20] yashk2000 commented on #2364
This is not a valid issue. While you are painting, there is an eraser to erase the things done. Once you are done with the painting, and press the tick mark button, then the changes are saved. Now the undo option will become activated and you can use it. Same is the case with the text method.
While editting, there is the backspace or eraser button to undo changes. Once the tick button to save is p

[2019-07-09 13:20] #2364 closed

[2019-07-10 09:51] #2731 closed

[2019-07-10 10:13] mariobehling commented on #2744
Google does not see the 64 builds yet.

Please resolve this on the app store as well.

[2019-07-10 10:17] iamareebjamal commented on #2744
Play Store Artifact Library Release v1.8.0 -

Native platforms | arm64-v8a, armeabi-v7a, x86, x86_64

[2019-07-10 10:45] yashk2000 opened #2822 "Update screenshots in fastlane metadata."
**Describe the chore**
Update screenshots in fastlane metadata.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-10 11:05] yashk2000 commented on #2744
@mariobehling this is already done.

[2019-07-10 12:46] yashk2000 commented on #2744
Closing this issue as it is already fixed.

[2019-07-10 12:46] #2744 closed

[2019-07-10 13:30] #2822 closed

[2019-07-10 16:32] yashk2000 commented on #2820
@iamareebjamal

[2019-07-10 16:37] iamareebjamal commented on #2820
git rev-list --objects --all | git cat-file --batch-check='%(objecttype) %(objectname) %(objectsize) %(rest)' | sed -n 's/^blob //p' | sort --numeric-sort --key=2 | cut -c 1-12,41- | numfmt --field=2 --to=iec-i --suffix=B --padding=7 --round=nearest

[2019-07-10 16:57] yashk2000 commented on #2820
I ran the command.
256e4355e77a  6.2MiB sample-apk/app-debug-unaligned.apk
a6fa80a6e144  6.2MiB sample-apk/app-debug-unaligned.apk
2e6d33385169  6.2MiB sample-apk/app-debug-unaligned.apk
c28a3bf0975e  6.2MiB sample-apk/app-debug-unaligned.apk
7a71ec4c6cca  6.2MiB sample-apk/app-debug-unaligned.apk
870c8e469983  6.4MiB sample-apk/app-debug-unaligned.apk
c73398da9692  7.1MiB app/build/outputs/apk/ap

[2019-07-10 18:31] iamareebjamal commented on #2820
Your analysis includes the apk branch, delete it and rerun

[2019-07-11 12:44] yashk2000 commented on #2820
@iamareebjamal I did that, I'll remove some media files also which seem to be increasing the repo size.
Currently, this is being shown after I pushed:
`This branch is 1658 commits ahead, 1658 commits behind fossasia:development.`
Is it alright?
https://github.com/yashk2000/phimpme-android/tree/repo_size
This is the branch.

[2019-07-11 14:47] iamareebjamal commented on #2820
Yes it is right. But you'll first give the list of files to remove, I'll review it and move forward. Every contributor will have to reclone so it's not straightforward

[2019-07-11 15:24] yashk2000 commented on #2820
sample-apk
app-debug-unaligned.apk
phimpme-master-app-debug.apk
phimpme-dev-app-debug.apk
phimpme-master-app-release.apk
phimpme-master-app-release-unaligned.apk
phimpme-master-app-release-unsigned.apk
phimpme-dev-app-release-unsigned.apk
fileSnapshots.bin
mockable-Google-Inc.-Google-APIs-23.jar
ss_7.png
73-usersthink-stock-image-web.jpg
ss_8.png
screenshot_5.png
oc_sample.png
31-usersthink-stock-

[2019-07-11 15:25] yashk2000 commented on #2820
@iamareebjamal these are the files.
There are several more files that can be removed, but it is too tedious to go through the list and find out each and every small file that can be removed.

[2019-07-11 15:35] yashk2000 commented on #2820
Cloning into 'phimpme-android'...
remote: Enumerating objects: 4363, done.
remote: Counting objects: 100% (4363/4363), done.
remote: Compressing objects: 100% (2178/2178), done.
remote: Total 30581 (delta 2610), reused 3916 (delta 2176), pack-reused 26218
Receiving objects: 100% (30581/30581), 59.02 MiB | 585.00 KiB/s, done.
Resolving deltas: 100% (16994/16994), done.

[2019-07-11 15:44] iamareebjamal commented on #2820
[code]

You have apk branch in your repo
`git branch -D apk`

And rerun

There were a lot of .so, .aar and .html files.

Before this, remove every jar file from here https://github.com/fossasia/phimpme-android/tree/development/app/libs

Very stupid to keep jars in a gradle project when you can just add a dependency in build.gradle

[2019-07-11 15:45] iamareebjamal commented on #2820
No need to store javaDoc for openCV, remove - https://github.com/fossasia/phimpme-android/tree/development/openCV/javadoc

[2019-07-11 15:48] yashk2000 commented on #2820
@iamareebjamal I do not have the apk branch in my repo.

[2019-07-11 15:48] iamareebjamal commented on #2820
What are these and why are they not a dependency?

https://github.com/fossasia/phimpme-android/tree/development/pdk
https://github.com/fossasia/phimpme-android/tree/development/photoview

[2019-07-11 15:49] iamareebjamal commented on #2820
@yashk2000 Then those apks should not be listed

[2019-07-11 15:50] yashk2000 commented on #2820
I checked using `git branch` and also did the branch deletion command. The apk branch is not there.

[2019-07-11 15:52] iamareebjamal commented on #2820
OK. We'll see that later. In history, there's entire build folder, so that can be directly removed

[2019-07-11 15:53] yashk2000 commented on #2820
The pdk module is for pinterest authentication.
I do not know about the photoview module. I think it can be added as a dependency instead.

[2019-07-11 15:57] yashk2000 commented on #2820
@iamareebjamal shoulld I delete these jars permanently or using `bfg --delete-files` ?

[2019-07-11 15:57] iamareebjamal commented on #2820
That won't work. You have to remove the jar from the project and add gradle dependencies in their place and create a PR

[2019-07-11 15:58] yashk2000 commented on #2820
Should I create a separate pr after this issue is resolved or right now?

[2019-07-11 15:59] iamareebjamal commented on #2820
Read above comment. How will it make a difference after this issue is resolved?

[2019-07-11 15:59] yashk2000 commented on #2820
Yeah. Ok, doing it.

[2019-07-11 16:00] iamareebjamal commented on #2820
pdk can be made into a gradle dependency as well

[2019-07-11 16:01] yashk2000 commented on #2820
Ok

[2019-07-11 19:09] yashk2000 commented on #2820
@iamareebjamal I removed the photoview module and replaced it as dependency. But the pdk module required either the sdk or an aar to be downloaded. So what should I do about the pdk module?

[2019-07-11 21:45] iamareebjamal commented on #2820
I'll give you a link. First send a PR for above stuff

[2019-07-12 03:46] yashk2000 commented on #2820
Ok.

[2019-07-12 04:05] yashk2000 commented on #2820
@iamareebjamal do we need all jars that are present in the libs folder? I checked the build.gradle of the app. There only 3 of all those dependencies are implemented:
`implementation files('libs/flickrj-android-2.1.0.jar')`
`implementation files('libs/twitter4j-core-3.0.5.jar')`
`implementation files('libs/twitter4j-media-support-3.0.5.jar')`

[2019-07-12 04:15] yashk2000 opened #2824 "Optimize the modules and jars used in the app."
**Describe the chore**
The photoview module can be replaced by a dependency instead of using the whole module.
There are also several unneeded jars in the `app/libs` folder which can be removed.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-12 04:54] yashk2000 commented on #2820
@iamareebjamal please review https://github.com/fossasia/phimpme-android/pull/2825.

[2019-07-12 08:55] #2824 closed

[2019-07-12 08:56] iamareebjamal commented on #2820
Now change these into gradle dependencies as well

`
implementation files('libs/flickrj-android-2.1.0.jar')
implementation files('libs/twitter4j-core-3.0.5.jar')
implementation files('libs/twitter4j-media-support-3.0.5.jar')
`

[2019-07-12 12:20] yashk2000 commented on #2820
Ok. On it.

[2019-07-12 12:26] yashk2000 opened #2826 "Replace pdk and jars with respective dependencies."
**Describe the chore**
Replace pdk and jars with respective dependencies.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-12 15:02] #2826 closed

[2019-07-12 15:06] iamareebjamal commented on #2820
AFAIK, there is one last thing to do before we can move ahead.

https://github.com/fossasia/phimpme-android/commits/gh-pages

gh-pages branch has a history, it shouldn't. It should be like https://github.com/fossasia/phimpme-android/commits/apk

[2019-07-13 04:48] yashk2000 commented on #2820
@iamareebjamal how to stop the commit history from being recorded for the gh pages branch?

[2019-07-13 05:10] yashk2000 commented on #2820
@iamareebjamal do we need the github pages? Currently the website, `https://phimp.me/` doesn't look very good.

[2019-07-13 09:29] iamareebjamal commented on #2820
http://fossasia.github.io/phimpme-android/

[2019-07-13 09:30] iamareebjamal commented on #2820
The same way it is done for apk branch

[2019-07-15 13:06] yashk2000 commented on #2820
@iamareebjamal the current gh pages is continuously updated by yaydoc bot. The branch is not deleted and rebuilt completely. Hence the commit history is recorded.
The apk branch is deleted and rebuilt everytime. Hence the commit history is not there.

[2019-07-15 13:21] iamareebjamal commented on #2820
OK. Yaydoc website is down. Open an issue on yaydoc repo to allow repo users to create orphan branches. We'll delete gh-pages branch for now to move forward

[2019-07-15 13:23] iamareebjamal commented on #2820
Also, who are regular contributors besides you? They'll need to be informed about this change as they will be required to reclone their repos

[2019-07-15 13:35] yashk2000 commented on #2820
Ok.

[2019-07-15 13:37] yashk2000 commented on #2820
@iamareebjamal currently, I am the only active contributor. @sonusourav created a few issues and mentioned that he'll be working on them, but there has not been any activity yet.

[2019-07-15 13:40] yashk2000 commented on #2820
Should  I proceed with using bgf to clean the commit history now?

[2019-07-15 13:50] iamareebjamal commented on #2820
You can proceed and list the file and folders removed and then push to your fork. I'll review and add some more, remove some and iterate will it's ensured no extra file is being removed and no extra file is remaining, then I'll push to the repo

[2019-07-15 17:13] yashk2000 commented on #2820
@iamareebjamal https://github.com/yashk2000/phimpme-android/tree/decrease_size

[2019-07-15 17:16] yashk2000 commented on #2820
fileSnapshots.bin
mockable-android-23.jar
mockable-Google-Inc.-Google-APIs-23.jar
classes.zip
app-debug.apk
app-debug-unaligned.apk
resources.zip
Phimpme.apk
PhimpMe.apk
resources-debug.ap_
ss_7.png
ss_8.png
screenshot_5.png
oc_sample.png
commons-lang3-3.1-javadoc.jar
ss_1.png
ss_2.png
ss_5.png
ss_4.png
ss_3.png
ss_1.png
classes.dex
merger.xml
screenshot_2.png

[2019-07-15 17:17] yashk2000 commented on #2820
@iamareebjamal  These files were removed.

[2019-07-15 21:16] iamareebjamal commented on #2820
These are way few files and folders. Normally, you won't remove things like this. You just say `bfg --delete-folders build`, `bfg --delete-folders libs`, `bfg --delete-folders pdk` etc. And then delete files on some left out files

What'd be the point of deleting all those jars, modules and files if you're not going to remove it? And it'll take ages if you remove all those files one by one

Make a

[2019-07-16 02:24] yashk2000 opened #2828 "Remove the openCV/javadoc files."
**Describe the chore**
Remove the openCV/javadoc files.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-16 07:57] #2828 closed

[2019-07-16 18:53] yashk2000 commented on #2820
.github
Dangerfile
upload-apk.sh
.project
gradle.properties
build.gradle
upload_apk_forks.sh
.travis.yml
gradlew
CODE_OF_CONDUCT.md
CONTRIBUTING.md
lint.xml
viewflow
imageeditlibrary
scripts
.DS_Store
import-summary.txt
LICENSE
AndroidManifest.xml
README.md
res
pdk
openCV
src
openCVLibrary24133
app
.idea
metadata
fastlane
libs
docs
PhimpMe.apk
sample-app
sample-apk
.gradle
build

@iamareebjamal I

[2019-07-16 19:25] iamareebjamal commented on #2820
[code]

None of these files are to be deleted. Most of them are in use and don't contribute to the size of the repo

Add a distinction between file and folder

Why delete docs, fastlane, metadata, etc? All of these are in use. I don't think you have understood the process correctly. Delete folders mainly, then if remaining, delete large files. And obviously don't delete files and folders currently

[2019-07-17 01:57] yashk2000 commented on #2820
I thought that the commits of these fiiles at HEAD are preserved, that's why I did that. I'll revert the changes and make a new branch.

[2019-07-17 02:23] yashk2000 commented on #2820
Folders:
javadoc
screenshots
_static
photoview
openCVLibrary24133
sample-app
sample-apk
.gradle
pdk
libs
build

Files:
oc_sample.png
PhimpMe.apk

[2019-07-17 02:23] yashk2000 commented on #2820
@iamareebjamal are these changes fine?

[2019-07-17 07:00] iamareebjamal commented on #2820
Will see

[2019-07-18 02:29] yashk2000 commented on #2820
@iamareebjamal is it alright?

[2019-07-18 07:35] iamareebjamal commented on #2820
jniInclude and others are missing. Didn't check thoroughly though

[2019-07-18 17:47] yashk2000 commented on #2820
@iamareebjamal do I need to send a pr? Or will you be force pushing directly to the repo?

[2019-07-18 18:16] iamareebjamal commented on #2820
I'll be pushing after complete review

[2019-07-18 18:18] yashk2000 commented on #2820
Ok

[2019-07-18 19:00] iamareebjamal commented on #2820
Final Cleanup List:

o .gradle/
i *.apk
o build
o jniLibs
o _site
o backgrounds
o 3rdparty
o libs
o javadoc
o _static
o screenshots
o .idea
o bower_components
i *.aar
o openCVLibrary24133
i *.pdf
o obj
o include
o photoview
o pdk
i *.log
i device-*.png
i oc_sample.png
i awesome-app-landing-page-screenshot.png
i phone.png
i screenshot.png
o img

o - folder
i - file

[2019-07-18 19:13] iamareebjamal commented on #2820
Done!

[code]

Refork and reclone! :tada:

[2019-07-18 19:13] #2820 closed

[2019-07-18 19:33] iamareebjamal commented on #1181
@yashk2000 First part is done. Now please focus on second part

[2019-07-18 19:37] iamareebjamal opened #2830 "fix fastlane screenshots directory"
https://github.com/fossasia/open-event-attendee-android/issues/2123

[2019-07-19 02:36] yashk2000 commented on #1181
On it.

[2019-07-19 08:50] #2830 closed

[2019-07-19 11:43] mariobehling opened #2832 "Fix Readme.md and gh-pages, include all assets in /docs folder"
* The assets used in the main documentation need to be included directly in the /docs folder. Images should go to /docs/images.
* Please update any outdated info in the Readme as well and check that the generated site in the gh-pages branch uses the Readme.md to build the page.
* Add social media links and fix remaining links in the template used for the page.
* Get rid of left side bar and move s

[2019-07-22 11:18] yashk2000 opened #2834 "google-services.json is unused."
**Describe the chore**
Remove the unused google-services.jaon file.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-22 15:07] #2834 closed

[2019-07-22 15:09] iamareebjamal commented on #1181
You'll have to see what other apps using OpenCV do and add a download and moving step in between

[2019-07-24 07:28] iamareebjamal commented on #1181
@yashk2000 -
we cannot add the app directly to fdroid? OpenCV is open source.

@iamareebjamal -
[code]

Run these commands and tell me the output. This is what fdroid will run. If this runs without any error, then yes, you can add the app directly in fdroid

@yashk2000 -
we need to add the other files, `jniLibs`, `staticlibs`, `3rdparty` and `jni/include` too.

@iamareebjamal -

Exactly what I sai

[2019-07-24 11:14] yashk2000 commented on #1181
@iamareebjamal I found only two apps with openCV on fdroid. One is Open Note Scanner. It provides the openCV manager, but it's using an older version of openCV, 3.x. The other app, Form-N-Fun using openCV also claims to provide the openCV manager, and it uses openCV4, but I was unable to download the app as it was not compatible with my device.

Please give some advice on how to proceed.

[2019-07-24 12:31] iamareebjamal commented on #1181
Use this https://github.com/iamareebjamal/opencv-android

[2019-07-24 13:01] yashk2000 commented on #1181
@iamareebjamal you created an aar itself. Thanks :)

[2019-07-24 15:50] yashk2000 opened #2836 "Replace the openCV module with aar."
**Describe the chore**
Replace the openCV module with aar.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-24 16:20] #2836 closed

[2019-07-24 16:59] yashk2000 commented on #1181
@iamareebjamal we still need to copy `staticlibs`, `jni/include`, `3rdParty` and `libs` from the openCV sdk.

[2019-07-24 18:10] iamareebjamal commented on #1181
Why?

[2019-07-25 10:13] yashk2000 commented on #1181
The apk built successfully at that time because I still had those folders in the app/src/main directory.
I deleted my local repository and recloned it. Then on building, it showed an error because of missing files.

[2019-07-25 10:17] yashk2000 commented on #1181
I think it is because of the jni folder. It is the same as the jni in openCV but it has a few other files for applying the filters and effects. This contains the openCV.mk file which points to the staticlibs, 3rdpart and libs folders.

[2019-07-25 13:18] iamareebjamal commented on #1181
The app is building fine on Travis. List the errors which you are encountering?

[2019-07-25 13:26] iamareebjamal commented on #1181
Which other files are you talking about exactly?

Which is also present in the aar file

[2019-07-25 13:26] iamareebjamal commented on #1181
Which other files are you talking about exactly?

Which is also present in the aar file

[2019-07-25 13:27] iamareebjamal commented on #1181
When we removed JNI and other files from the repo, no error happened. Then why is it happening now?

[2019-07-25 13:27] yashk2000 commented on #1181
It is building fine on travis because travis still has the openCV download script and copies the needed files.

[2019-07-25 13:28] yashk2000 commented on #1181
Jni is not removed. It is there.

[2019-07-25 13:29] iamareebjamal commented on #1181
You should have disabled the script when migrating to aar

[2019-07-25 13:48] iamareebjamal commented on #1181
So I analyzed the way things were working and it is extremely confusing. The opencv folder is used as a module, but it did not contain any jni code. All its native files are in phimpme package because they are needed to compile certain custom filter code. Don't understand how that was working, but I am reverting the AAR file. Please explain below how and why things were working

For now, adapt the

[2019-07-25 15:37] yashk2000 commented on #1181
I myself am not very clear about how the openCV files present in the phimpme package work directly from there. @abishekvashok could you please help with this part?

How do I adapt the travis script to be used with F-Droid build process? We need the script to download the openCV sdk and copy the needed files to phimpme package.

[2019-07-25 16:01] iamareebjamal commented on #1181
Remove the sudo apt commands and make a single script and test with fdroid

[2019-07-26 06:11] yashk2000 commented on #1181
I'll do it by today evening.

[2019-07-27 12:53] yashk2000 commented on #1181
@iamareebjamal I have been working on the script. But I am facing some errors.
[This](https://travis-ci.org/yashk2000/phimpme-android/builds/564368602) is one of the things I tried. I also tried to use wget <link> -P $HOME/openCV. But then when I try to move the $HOME/openCV-android-sdk to $HOME/openCV/opencv, it shows no such file or directory. Could you please help.

[2019-07-27 13:39] iamareebjamal commented on #1181
Don't use $HOME. Just use relative paths

[2019-07-27 13:40] iamareebjamal commented on #1181
You already have a script of travis. You just have to rearrange it and move some commands

[2019-07-27 14:23] yashk2000 commented on #1181
Ok. I'll try that.

Yes. I am just facing this path problem.

[2019-07-27 16:01] yashk2000 opened #2841 "Create a single script for all functions to be run doing the travis build."
**Describe the chore**
Create a single script for all functions to be run doing the travis build.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-27 16:02] yashk2000 opened #2842 "Move to correct directory containing metadata"
**Describe the chore**
Move to correct directory containing metadata

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-27 16:10] #2842 closed

[2019-07-27 20:45] abishekvashok commented on #1257
Reopening as the same problem has come back and #1376 is solved

[2019-07-29 14:55] yashk2000 commented on #2807
@mariobehling I am not able to reproduce this issue. When I run the app with Bluetooth off, after editing, I do not get any alert to turn on Bluetooth. Bluetooth is not required to be turned on when a picture is edited.

[2019-07-29 16:01] yashk2000 commented on #869
I tried this on 2 phones with android 9. When I said `take a selfie`, I was shown an option for phimpme. On clicking it, the app directly opened.

[2019-07-29 16:01] #869 closed

[2019-07-29 19:32] mariobehling commented on #2807
Ok, seems to be wrong. Closing it.

[2019-07-29 19:32] #2807 closed

[2019-07-30 12:07] KiranRajR commented on #1484
It happens because Build Tools revision 24.4.1 doesn't exist.

The latest version is 23.0.2.
These tools is included in the SDK package and installed in the <sdk>/build-tools/ directory.

Don't confuse the Android SDK Tools with SDK Build Tools.

Change in your build.gradle

android {
   buildToolsVersion "23.0.2"
   // ...

}

[2019-07-30 18:50] VIKAS9899 commented on #2812
image looks little scrolled.This Happens when we open Last image from the folder

[2019-07-30 19:31] VIKAS9899 opened #2845 "App returns to home page when Screen Locked while editing image."
**Describe the bug**
App returns to home page when screen is locked while editing image. Sometime app crashes doing same thing.

**To Reproduce**
1. Open Any folder
2. Click on any image
3. Click on edit icon
4. Lock the Screen
5. Go to app back

**Expected behavior**
App should go back to same editing state

**Smartphone Info:**
Device : ASUS_Z01DB
Android Version : 8.0.0

**Would you like to wor

[2019-07-31 13:29] yashk2000 opened #2846 "Update build gradle version being used."
**Describe the chore**
Update build gradle version to 3.4.2 which is the latest.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-07-31 15:11] #2846 closed

[2019-08-01 16:20] #2841 closed

[2019-08-01 16:26] iamareebjamal commented on #1181
@yashk2000 Please create a merge request on Fdroid repo with metadata YML with the setup_opencv script to include the app

[2019-08-02 23:54] TacoTheDank opened #2849 "Update ExoPlayer to v2.x.x"
**Describe the chore**

- Update ExoPlayer to v2.x.x

Here's some documentation to help:
- https://github.com/google/ExoPlayer/blob/release-v2/RELEASENOTES.md#r200
- https://medium.com/google-exoplayer/exoplayer-2-x-why-what-and-when-74fd9cb139#.am7h8nytm

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other: I'd like to work on this but I don't trust myself to do it correctly (plu

[2019-08-04 11:53] yashk2000 commented on #1181
@iamareebjamal in the org.fossasia.phimpme.yml, how do I put the setup_opencv script so that it is also run?

[2019-08-04 12:15] iamareebjamal commented on #1181
Read the docs https://f-droid.org/en/docs/Build_Metadata_Reference/#Build

[2019-08-04 12:35] yashk2000 commented on #1181
@iamareebjamal so I can execute the script using:
`build: ./scripts/opencv_setup.sh`

[2019-08-04 12:39] iamareebjamal commented on #1181
No, that is build step to build the apk

[2019-08-04 12:39] iamareebjamal commented on #1181
I don't think you even opened the link and read about different options.

[2019-08-04 12:41] yashk2000 commented on #1181
I thought that I had to read the build option only because in the link you gave, it's #Build at the end. Sorry. I'll go through all the options.

[2019-08-04 12:42] iamareebjamal commented on #1181
You have to read the build **section** only. That's why I gave you the link

[2019-08-04 12:45] yashk2000 commented on #1181
Whether I open the link with or without the #Build extension, it is always leading me to the landing page of the Build Metadata Reference.

I went through the options. Do I have to use the `sudo` command?

[2019-08-04 12:46] iamareebjamal commented on #1181
No

[2019-08-04 12:46] iamareebjamal commented on #1181
https://f-droid.org/en/docs/Build_Metadata_Reference/#Builds

[2019-08-04 13:10] yashk2000 commented on #1181
@iamareebjamal the commands I found for running bash commands are `sudo`, `prebuild`, `build`, and `init`.

[2019-08-04 13:19] iamareebjamal commented on #1181
So which one do you think should be used?

[2019-08-04 13:23] yashk2000 commented on #1181
`prebuild`? We need to copy the folders before the build starts.

[2019-08-04 13:24] iamareebjamal commented on #1181
Yes

[2019-08-04 13:35] yashk2000 commented on #1181
@iamareebjamal so I store the opencv_setup in the scrlib directory and then use it by `prebuild: $$opencv_setup$$` ?

[2019-08-04 15:10] iamareebjamal commented on #1181
You already have the script in scripts folder

[2019-08-04 16:53] yashk2000 commented on #1181
@iamareebjamal https://gitlab.com/fdroid/fdroiddata/merge_requests/5164

[2019-08-04 20:37] iamareebjamal commented on #1181
Add this change in prebuild as well https://gitlab.com/fdroid/fdroiddata/merge_requests/5053/diffs

[2019-08-05 04:07] yashk2000 commented on #1181
@iamareebjamal is it fine now?
https://gitlab.com/fdroid/fdroiddata/merge_requests/5164

[2019-08-05 07:08] ByteHamster commented on #1181
If you remove the description from that file, F-Droid will take the description from this repository's fastlane folder. That allows to change and translate the description more easily.

[2019-08-05 07:27] iamareebjamal commented on #1181
No, read the documentation again on how you add multiple commands in prebuild.

https://f-droid.org/en/docs/Build_Metadata_Reference/#Builds

[2019-08-05 07:36] yashk2000 commented on #1181
Yes I tried to do `scripts/setup_opencv.sh && <the other command>`.

But the pipeline showed a lint error and showed that it had to be written like it is now.

[2019-08-05 08:13] iamareebjamal commented on #1181
OK

[2019-08-05 10:33] yashk2000 commented on #1181
https://gitlab.com/fdroid/fdroiddata/merge_requests/5164#note_200055659

@iamareebjamal should I remove the maven dependencies? I removed them and built the app. There wasn't any problem.

[2019-08-05 10:37] iamareebjamal commented on #1181
Yes

[2019-08-05 11:04] yashk2000 opened #2850 "Remove unused maven dependencies."
**Describe the chore**
The unused maven dependencies need to be removed for the app to be released on fdorid.

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-08-05 11:08] yashk2000 commented on #1181
@iamareebjamal https://github.com/fossasia/phimpme-android/pull/2851

[2019-08-05 22:15] #2850 closed

[2019-08-06 15:51] yashk2000 commented on #2651
This part of processing is done by a separate module, the openCamera module. Making changes like introducing snackbars in this module will be a bit difficult as it follows a very difficult architecture from the rest of the app. It will take an unnecessary amount of time and resources to add snackbars to all settings and then the sub-settings inside. Closing this hence.

[2019-08-06 15:51] #2651 closed

[2019-08-06 16:05] yashk2000 commented on #2849
Thanks for this issue. But we left it deliberately when updating the dependencies because exoplayer version 2.x.x seems to use androidx. Our app currently does not support androidx and hence updating to version 2.x.x will cause manifest merger errors. Closing this hence.

[2019-08-06 16:05] #2849 closed

[2019-08-07 13:26] #2119 closed

[2019-08-07 13:27] yashk2000 commented on #2119
Closed as discussions for fdroid release are being carried out on #1181

[2019-08-07 20:22] TacoTheDank commented on #2849
hmm, ok

[2019-08-08 03:39] TacoTheDank opened #2852 "Update Glide to 4.x.x"
**Describe the chore**

Update Glide from 3.x.x to 4.x.x

https://github.com/bumptech/glide/releases
https://bumptech.github.io/glide/doc/migrating.html

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other: Someone who has the know-how can do this :)

[2019-08-08 16:44] yashk2000 commented on #2852
@iamareebjamal while migrating to version 4, I cannot find a replacement for AnimatedGifEncoder. Could you please tell me if there is an alternative to this in version 4, or do we need to keep using version 3?

[2019-08-08 17:47] iamareebjamal commented on #2852
It's supported by default I guess

[2019-08-08 17:53] yashk2000 commented on #2852
@iamareebjamal when I change to glide 4.9.0, this `import com.bumptech.glide.gifencoder.AnimatedGifEncoder;` stops working and it shows gifencoder not found.

[2019-08-08 17:54] iamareebjamal commented on #2852
Yeah because it is not needed now

[2019-08-08 17:55] yashk2000 commented on #2852
But we are using `AnimatedGifEncoder` in phimpme.

[2019-08-08 19:14] iamareebjamal commented on #2852
For what?

[2019-08-08 21:05] TacoTheDank commented on #2852
It still exists as far as I can tell: https://bumptech.github.io/glide/javadocs/490/index.html "com.bumptech.glide.gifencoder"

[2019-08-09 05:33] yashk2000 commented on #2852
@TacoTheDank thanks :+1:

[2019-08-09 06:06] yashk2000 commented on #2852
@iamareebjamal on updating the version to 4.9.0, we need to make a lot of changes. We also need to make changes in some of the custom animation modules. So should we update to 4.x.x or keep it to the current 3.7.x version?

[2019-08-09 07:56] iamareebjamal commented on #2852
Your choice

[2019-08-13 22:55] TacoTheDank commented on #2852
I mean, the longer we use old dependencies, the harder upgrading will potentially be later when we will have to upgrade. I'd say we should tackle the old dependency issue sooner rather than later, I guess.

[2019-08-14 11:58] #2252 closed

[2019-08-14 11:58] #2832 closed

[2019-08-14 13:45] niansa opened #2857 "Provide APKs on releases pages"
As i think, **every** open source project should at least provide it's own build and not **bind** users to download from some closed-source store with bad privacy practice. Sure, they could download from ApkMirror but there is always the risk to have malware included.

[2019-08-14 14:35] yashk2000 commented on #2857
@niansa did you perhaps checkout our [apk branch](https://github.com/fossasia/phimpme-android/tree/apk). It is updated with all our apks.

Also, we are working on a fdroid release. We have already created a pr. The fdroid packagers need to package the app now.

Closing this issue hence.

[2019-08-14 14:35] #2857 closed

[2019-08-14 14:37] niansa commented on #2857
Alright, fine thank you

[2019-08-15 11:52] #2593 closed

[2019-08-15 11:54] #2722 closed

[2019-08-15 12:11] yashk2000 commented on #2251
This has been done.

[2019-08-15 12:11] #2251 closed

[2019-08-15 12:17] yashk2000 commented on #2306
Invalid issue since the gh-pages branch is automatically generated every time a pr is merged or development and master are made up to date.

[2019-08-15 12:17] #2306 closed

[2019-09-04 13:59] rahulpansari commented on #2845
I would like to work on this issue

[2019-09-05 16:02] mariobehling opened #2859 "Update camera library to latest version"
If we update the camera library to a newer version it could help to close a number of bugs.

[2019-09-05 16:10] prudhvir3ddy opened #2860 "convert the app from v7 support versions to androidx"
v7 support version is going to be deprecated soon and we have to migrate the app to androidx

[2019-09-06 11:31] yashk2000 opened #2861 "Typo in readme."
**Describe the bug**

`OpenCV-android-sdk/sdk/native/staticlibs` is the correct path instead `OpenCV-android-sdk/sdk/native/jni/staticlibs`.

**Would you like to work on the issue?**

- [ ] Yes
- [X] No

[2019-09-06 13:23] #2861 closed

[2019-09-06 19:35] iman100 commented on #1891
how add fonts RTL with assets folder??

[2019-09-07 13:59] codedsun commented on #2845
@VIKAS9899 Not reproducible for me

[2019-09-07 14:02] codedsun commented on #2860
@prudhvir3ddy @yashk2000 Can I take this?

[2019-09-07 14:12] yashk2000 commented on #2860
If @prudhvir3ddy is not working on it, go ahead @codedsun.

[2019-09-07 14:17] codedsun opened #2863 "Improving permission flow in the splash screen"
**Describe the bug**
The permission flow is not correctly implemented, it should be done correctly when returning from application settings page while clicking on grant permission option in dialog

**To Reproduce**

1. Go to 'Splash screen'
2. Deny the permission
3. check don't ask again
4. A dialog will appear of permission required
5. Click on grant permission, go to settings page and return

Ap

[2019-09-07 14:23] codedsun commented on #2860
@prudhvir3ddy Please confirm and let me know. Thanks

[2019-09-07 14:24] codedsun commented on #2863
@yashk2000 Please let me know to convert in Kotlin?

[2019-09-07 18:35] codedsun commented on #2809
@yashk2000 What has to be done for this?

[2019-09-08 04:07] yashk2000 commented on #2809
@codedsun let's leave this issue for now.

This is a correct point and so I think we shouldn't waste time on this issue.

[2019-09-08 04:07] #2809 closed

[2019-09-08 04:09] yashk2000 commented on #2863
@codedsun currently we are not migrating the app to Kotlin. We'll be using Java only.

[2019-09-08 04:11] yashk2000 commented on #2860
@codedsun you can work on this issue.

[2019-09-09 08:48] prudhvir3ddy commented on #2860
@codedsun @yashk2000 working on this issue. sorry i didn't get notification. i'll send the PR by tomorrow

[2019-09-09 13:29] codedsun commented on #2859
@yashk2000 what has to be done in this. please describe

[2019-09-09 13:30] codedsun commented on #2845
@yashk2000 please confirm this and close if not reproducible.

[2019-09-09 13:34] yashk2000 commented on #2859
Currently, you'll see that we have a module called `open camera`. This version of open camera being used is very old. It has been updated a lot as you can see [here](https://sourceforge.net/projects/opencamera/).
We need to update our module with the new module. This blog might help: https://blog.fossasia.org/phimpme-merging-several-android-projects-into-one-project/

[2019-09-09 13:44] yashk2000 commented on #2845
@codedsun it's i'm not able to reproduce this issue.

@VIKAS9899 since it is not being reproduced on the devices of 2 separate users, I'm closing this issue.

[2019-09-11 05:03] prudhvir3ddy opened #2865 "support in app updates"
**Describe the feature you'd like**
https://developer.android.com/guide/app-bundle/in-app-updates

**Would you like to work on the issue?**
- [ ] Yes
- [x] No
- Other:

[2019-09-11 05:36] #2863 closed

[2019-09-11 17:17] anandtushar111 commented on #2808
I want to work on this issue.

[2019-09-11 17:33] yashk2000 commented on #2808
Go ahead @anandtushar111

[2019-09-12 11:32] yashk2000 opened #2867 "Update the build.gradle(app) and gradlewrapper.properties files."
**Describe the chore**
Update the `complieSdkVersion`, `targetSdkVersion` and the `buildToolsVersion` : build.gradle
Also update the gradle plugin version to the latest : gradlewrapper.properties

**Would you like to work on the issue?**

- [ ] Yes
- [X] No

[2019-09-13 15:47] #2860 closed

[2019-09-14 07:25] codedsun commented on #2859
@yashk2000 that means we will take the files from the latest release and merge that in our project, as we did that earlier?

[2019-09-14 07:29] yashk2000 commented on #2859
Yes. We'll have to repeat that entire process with the updated files.

[2019-09-14 07:48] codedsun commented on #2859
@yashk2000 Do we also need to add extra features of video editing?

[2019-09-14 07:55] codedsun opened #2868 "Connect to us on facebook crashes"
**Describe the bug**
On clicking connect to us on facebook, the app crashes

**To Reproduce**

1. Go to 'About'
2. Click on 'Connect to facebook' at the bottom
3. crash

**Expected behavior**

Should not crash

**Logs**
[code]

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-09-14 10:37] yashk2000 commented on #2859
@iamareebjamal should we go ahead with adding features of video editing too?

If not video editing, I think we should still let users take videos using phimpme camera and view the videos in phimpme gallery instead of making a user switch between multiple apps to record and view videos. What are your views on this @iamareebjamal ?

[2019-09-14 11:09] #2867 closed

[2019-09-14 11:11] iamareebjamal commented on #2859
First, upgrade with only existing functionality and make it big free

[2019-09-14 11:16] codedsun commented on #2859
@iamareebjamal Okay, I will do it.

[2019-09-14 16:21] prudhvir3ddy commented on #2868
@codedsun working fine for me. can you please explain in what situation it's crashing?

[2019-09-14 19:16] dipu989 commented on #2865
@prudhvir3ddy  @yashk2000  I would like to work on this issue!

[2019-09-15 07:50] prudhvir3ddy commented on #2865
@prudhvir3ddy i am working on this. mentioned in PR description

[2019-09-15 08:05] abishekvashok commented on #2845
Can't reproduce, closing this issue

[2019-09-15 08:05] #2845 closed

[2019-09-15 10:33] dipu989 commented on #2865
@prudhvir3ddy Oh! It's fine then. I didn't saw it earlier!

[2019-09-17 00:33] #2868 closed

[2019-09-18 06:51] iman100 commented on #1891
how read font files from assets folder and add to Class FontManeger

[2019-09-19 15:04] nikhil097 commented on #2471
I want to work on this issue.

[2019-09-20 13:42] iman100 opened #2873 "how add custom Font from Assets folder??"
how read font files from assets folder and add to Class FontManeger.

![36608630-615a6514-18f0-11e8-8b42-049808501252](https://user-images.githubusercontent.com/13415270/65331639-6d026780-dbd2-11e9-980b-dabb45d88af6.png)

[2019-09-20 16:15] nikhil097 commented on #2388
@yashk2000  I want to work on this issue

[2019-09-20 16:17] nikhil097 commented on #2806
@mariobehling I want to work on this issue

[2019-09-20 16:18] yashk2000 commented on #2388
Go ahead @nikhil097

[2019-09-20 16:19] yashk2000 commented on #2806
@nikhil097 you can work on it.

[2019-09-20 16:21] nikhil097 commented on #2388
Okay I will work on this issue.

[2019-09-20 18:37] nikhil097 commented on #2806
I am working on this issue.

[2019-09-21 18:13] nikhil097 commented on #2388
@yashk2000 What should be done after selectin the images?

[2019-09-22 07:21] yashk2000 commented on #2388
@nikhil097 after multiple images getting selected, 2 options can be provided, one to delete all images permanently, and the other to restore all images,

[2019-09-23 12:01] codedsun commented on #2865
The immediate and flexible update has to come from server and whether an update is available or not. We need an api for that to use this feature

[2019-09-23 14:17] prudhvir3ddy commented on #2865
@codedsun @dipu989 you can take the issue

[2019-09-23 14:22] codedsun commented on #2865
@prudhvir3ddy that means?

[2019-09-24 03:01] prudhvir3ddy commented on #2865
@codedsun issue is open. anyone is free to take

[2019-09-24 06:54] codedsun commented on #2865
@yashk2000 We have to take a call after every release that we have to take immediate update or flexible update because we don't have any server for this app.

[2019-09-24 07:49] #2806 closed

[2019-09-24 09:32] codedsun commented on #2704
@kk63852 Are you working? any update?

[2019-09-25 03:43] prudhvir3ddy commented on #2865
@codedsun i implemented immediate update in my MR but i couldn't find a way to test it.

even in one of my app i had to release without testing whether this update works or not.

it worked.

please let me know if you find any way to test the in app updates

[2019-09-25 04:27] codedsun commented on #2859
@iamareebjamal I am copying the files from the latest apk, and making changes into the current prooject. It requires a lot of changes and is taking time, how will I send the PR? step by step or once  all done?

[2019-09-25 06:54] iamareebjamal commented on #2859
I don't understand

[2019-09-25 07:15] codedsun commented on #2859
@iamareebjamal What I meant to say that
1. I am solving this issue that means I am merging opencamera to phimpme project which requires me to copy the source code of opencamera project to phimpme

2. The above task requires a lot changes in the project and the module named `opencamera`, so the concern is shall I send a direct PR with all the commits at once or I send a PR now and do the commits re

[2019-09-25 09:10] iamareebjamal commented on #2859
Why are you merging it and not using it as a library?

[2019-09-25 09:37] codedsun commented on #2859
@iamareebjamal The blog states this only
https://blog.fossasia.org/phimpme-merging-several-android-projects-into-one-project/

Also i see no jar file to import from their project, please guide me further

[2019-09-25 11:08] codedsun commented on #2873
What you want to achieve?

[2019-09-25 16:10] nikhil097 commented on #2388
@yashk2000 TrashBinAdapter uses arraylist of RealmModel. Adding a property to TrashBinRealmModel to save selected state will cause select state save into realm model and it will be an expensive process. So should I use a model class to wrap that TrashBinModel? Actually, I have implemented it and its working smoothly. Please suggest if I am doing it right or not.

[2019-09-25 17:06] codedsun commented on #2859
@iamareebjamal Any update?

[2019-09-25 18:14] iamareebjamal commented on #2859
Do it in 1 PR

[2019-09-26 09:35] codedsun opened #2875 "refactor About us Activity layout and activity code"
**Describe the bug**

Currently the about us layout has unnecessary views and groups, simplify them to use a constraint layout and use camelCase for naming variables.

**Expected behavior**
Standard common casing and layout should be properly written with no extra views

**Logs**

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-09-26 10:03] codedsun commented on #2873
@yashk2000 @iman100 Please close the issue

[2019-09-26 17:49] codedsun opened #2877 "Remove cloudrail services and fix all the non working accounts section with bugs"
**Describe the bug**
We have integrated cloudrail services which has been discontinued, switch to either account wise sdks or some other service

**Expected behavior**
Fix all the behaviour of accounts services and test them

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-09-27 04:26] #2873 closed

[2019-09-28 16:46] AshutoshDas07 commented on #2274
Can i work on it?

[2019-09-29 17:31] codedsun opened #2878 "Migrate support version library usage to android x"
**Describe the bug**

Some files still contains support version library in layout views, please migrate to androidX

**Would you like to work on the issue?**

- [ ] Yes
- [x] No
- Other:

[2019-09-29 17:33] codedsun commented on #2878
@yashk2000 Please assign it a label of hacktoberfest, beginner first issues

[2019-09-29 19:01] codedsun opened #2879 "bump: Upgrade nextcloud dependency to latest one"
**Describe the chore**
bump: Upgrade nextcloud dependency to latest one

Parent Issues #2877

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-09-30 15:42] codedsun commented on #2878
taking this up!

[2019-09-30 15:44] #2879 closed

[2019-10-01 17:58] codedsun opened #2882 "bump: Upgrade box dependency to latest version and test"
**Describe the chore**
Update the box library to latest version

Parent issue: #2877

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-10-01 18:16] #2875 closed

[2019-10-01 19:47] #2878 closed

[2019-10-02 05:04] amilaneni99 commented on #2808
Is this issue still open? If yes, then I would like to give it a shot. Thanks.

[2019-10-02 06:13] yashk2000 commented on #2808
Go ahead @amilaneni99

[2019-10-02 07:24] codedsun opened #2884 "Accounts Activity switch not working properly"
**Describe the bug**
Accounts Activity switch not working properly

**To Reproduce**
1. Go to Accounts
2. Click on OwnCloud
3. Press back
4. Imgur switch is checked in (or in on state)

Parent Issue: #2877

**Expected behavior**
This should not happen

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2019-10-03 11:46] codedsun opened #2886 "Fix dropbox upload and authentication"
**Describe the bug**
Fix dropbox upload and authentication. The cloudrail has been depreciated switch to product specific sdk

**Expected behavior**
It should work fine

Parent issue : Fix #2877

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-10-03 11:49] codedsun opened #2887 "Add Google drive option in Accounts section"
**Describe the feature you'd like**
Add Google drive option in Accounts section

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-10-03 12:29] shanky199912 commented on #2808
I want to work on this issue.

[2019-10-08 13:47] #2886 closed

[2019-10-08 13:47] #2882 closed

[2019-10-09 16:39] codedsun commented on #2877
This issue is completed with all the functionalities. Closing the parent issue

[2019-10-09 16:39] #2877 closed

[2019-10-10 18:16] codedsun opened #2889 "Convert Account Mvp to MVVM"
**Describe the feature you'd like**
Converts accounts section mvp architecture to MVVM

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-10-10 20:30] codedsun commented on #2852
i have completed this issue and upgraded the dependency to 4.10.0, sending a pr shortly!

[2019-10-11 12:19] #2852 closed

[2019-10-11 20:18] #2884 closed

[2019-10-12 12:54] codedsun commented on #2258
@iamareebjamal Please close this!

[2019-10-12 13:06] #2258 closed

[2019-10-13 11:52] #2889 closed

[2019-10-14 10:05] Susith1995 commented on #2887
@codedsun @yashk2000  I would like to work on this issue!

[2019-10-14 10:08] codedsun commented on #2887
@Susith1995 Go ahead!

[2019-10-16 10:11] Susith1995 opened #2893 "Project building issue related android NDK?"
process_begin: CreateProcess(NULL, "", ...) failed.
C:/Android_ndk/android-ndk-r20/build//../build/core/prebuilt-library.mk:45: *** Android NDK: Aborting    .  Stop.

Android Studio 3.5 / Windows 10

also...

Android NDK: ERROR:D:\FossAsia_CodeHeat\phimpme-android\app\src\main\jni\Android.mk:opencv_dnn: LOCAL_SRC_FILES points to a missing file
Android NDK: Check that D:/FossAsia_CodeHeat/phimpme-a

[2019-10-16 10:30] codedsun commented on #2274
@yashk2000  @iamareebjamal  This is not possible as they have stop accepting the text from intent. please close this issue

[2019-10-16 10:30] codedsun commented on #2893
Have you followed the guidelines?

[2019-10-16 10:36] #2274 closed

[2019-10-16 11:00] codedsun commented on #2644
@yashk2000 Please confirm. For me it's working fine now please close the issue if working

[2019-10-16 13:09] yashk2000 commented on #2644
@codedsun it does not occur on my device too. But I think it might still occur on other devices as currently the height has been hardcoded. We need to figure out a way to automatically calculate the height so it works on all devices.

[2019-10-16 13:11] codedsun commented on #2644
@yashk2000 Okay will check.

[2019-10-17 06:36] #2893 closed

[2019-10-17 20:49] codedsun opened #2894 "Clicking delete icon deletes only one media and not all the folder images"
**Describe the bug**
Clicking on delete icon in any folder will delete only 1 media and not all the media present in the album and also the file doesn't moves to trash directory.

**To Reproduce**

1. Go to Any album
2. Click on delete icon from toolbar
3. Now click on delete in popup dialog
4. Only 1 image is deleted, wrong snackbar message shown and also the image doesn;t moves to trashbin

Chil

[2019-10-18 12:20] prudhvir3ddy commented on #2865
@codedsun @yashk2000 @iamareebjamal let's take a decision.

as we update app after some good features and fixes can we force the user to take immediate updates?

or let just go implement the flexible update?

[2019-10-18 13:13] iamareebjamal commented on #2865
Flexible

[2019-10-19 11:46] codedsun opened #2895 "Move to Retrofit"
**Describe the feature you'd like**
Remove volley and move to retrofit

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-10-20 12:22] codedsun opened #2897 "Remove uneccesary permission in manifest and correct flow of requesting sd card permission"
**Describe the feature you'd like**

1. Remove extra permission mentioned in manifest.
2. Request sdcard permission follows sd card flow, change to write_External_storage permission
3. Delete action, copy action request permission after the task is completed This should be done before hand.

**Additional context**
this will also solve #2196 #2167

**Would you like to work on the issue?**

- [x] Ye

[2019-10-21 03:19] #2895 closed

[2019-10-21 21:11] tateisu opened #2899 "Force close when edit image"
**Describe the bug**

Phimp.me 1.9.0
Force close when edit image

**To Reproduce**
- pick a image
- tap edit(pencil) button

**Expected behavior**
? I'm newbie of this app. I don't know what should be happen.

**Logs**
10-22 06:03:49.770 17000 17000 I AppCompatViewInflater: app:theme is now deprecated. Please move to using android:theme instead.
10-22 06:03:49.779   977  1102 E storaged: getDiskSt

[2019-10-30 18:23] codedsun commented on #2167
@iamareebjamal PR Merged also solves this. Please close this

[2019-10-30 19:27] codedsun commented on #2318
Taking this up

[2019-10-30 19:28] #2167 closed

[2019-10-30 19:29] #2899 closed

[2019-10-30 19:29] #2196 closed

[2019-10-31 17:44] codedsun commented on #2264
@yashk2000 @iamareebjamal  Please modify the label to feature and not a bug

[2019-10-31 18:06] codedsun commented on #2261
@yashk2000 Please detail about the exact issue, as the frames we mentioned in this are made to overlap with the image. Their is no bug in this, either we should change the frames images

[2019-10-31 20:34] codedsun commented on #2644
Taking this up

[2019-10-31 20:46] codedsun commented on #2261
@iamareebjamal need inputs please

[2019-11-01 06:44] codedsun commented on #2698
May be solved by #2859

[2019-11-01 19:25] #2644 closed

[2019-11-03 09:22] codedsun commented on #2261
@yashk2000 @iamareebjamal Inputs here please

[2019-11-03 09:27] codedsun commented on #2812
@yashk2000 Are you able to reproduce this, I am not able to reproduce. Please close this, if not reproducible

[2019-11-03 09:31] yashk2000 commented on #2812
@codedsun I was also not able to reproduce the issue.
@sonusourav for now, I'm closing the issue, if you are able to give any more inputs to this issue, please comment here.

[2019-11-03 09:31] #2812 closed

[2019-11-03 09:34] yashk2000 commented on #2261
@codedsun while applying a frame, can you resize the image in such a way that it fits exactly inside the frame without any portion of it being cut?

[2019-11-03 09:36] codedsun commented on #2261
@yashk2000 The frame is transparent with the boundaries, that's why it overlaps. It's not a bug in my opinion as their are frames which also cover some parts of the pic and also if this was an issue then it would have been with every frame not with last 2 frames.

[2019-11-03 09:48] codedsun commented on #2149
@yashk2000 Please list this as a feature.

[2019-11-03 09:49] codedsun commented on #2264
@yashk2000 inputs please

[2019-11-03 18:07] codedsun opened #2903 "Introducing Kotlin and Coroutines with MVVM"
**Describe the feature you'd like**
The app currently needs to have following

- Kotlin
- Async task and all DB related operations to Kotlin Coroutine
- Moving the architecture to MVVM

**Additional context**
This is a big task and will be taken by creating child issues and sending a PR. This will help to remove most of the bugs and clean the code with the operations of DB, Async task more smooth

[2019-11-04 08:54] codedsun commented on #2903
@yashk2000 @iamareebjamal  We are moving in this direction. Before moving to new  `opencamera` module version. I would like to do this prior so that all the app bugs are removed and app is more fast.

[2019-11-04 11:55] codedsun opened #2904 "Setup kotlin in the project"
**Describe the feature you'd like**
Introduce kotlin in project

Parent issue : #2903

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-11-04 13:19] iamareebjamal commented on #2903
Any refactoring will inadvertently introduce more bugs, and not remove them. There are more important things to be done

[2019-11-04 13:24] codedsun commented on #2903
@iamareebjamal - Like? Except Fdroid issue

On Mon, Nov 4, 2019, 6:49 PM Areeb Jamal <notifications@github.com> wrote:

[2019-11-04 13:32] codedsun commented on #2903
@iamareebjamal There are bugs due to the code being written in not proper architecture. Before porting to new version of open-camera. I wanted this to be done.

[2019-11-04 13:32] codedsun commented on #2903
@iamareebjamal If you want the other things to be done, please list it out

[2019-11-04 13:53] codedsun commented on #2903
@iamareebjamal If you want the other things to be done, please list it out.
Currently the issue tracker has less than 25 issues, and more of them are features instead of bugs.

Also I would like to move to a good UI of the app since the project has same UI since the last 2 yrs. I have these goals in mind for the app.

- Kotlin+ MVVM
- UI improvement
- Open camera module to new version
- Phimpme re

[2019-11-04 15:49] iamareebjamal commented on #2903
Fdroid + OpenCamera

Mark my words that any refactoring done by even the greatest software engineer leads to bugs. Refactoring is done to improve maintainability and design of code, bugs solved due to it are side effects. And as side effects, more bugs are introduced as well.

I cannot merge anything related to refactoring until a new release is made, Doing so will mean releasing a more buggy app

[2019-11-04 16:05] codedsun commented on #2903
@iamareebjamal MVVM? shall it be done or not

1. For Fdroid related task, I used mac system and as suggested I dont have a linux base. Nd my mackbook is 128GB so making a VM and installing the studio,etc will take space which is not available. I am trying to find the alternative.

2. Till the meantime, shall I go with

or

As the opencamera requires a lot of rewrite and refactor, I wanted to have

[2019-11-04 16:07] codedsun commented on #2904
Closing this issue as not required for now.

[2019-11-04 16:07] #2904 closed

[2019-11-04 19:48] codedsun commented on #2903
@iamareebjamal inputs please

[2019-11-04 22:17] iamareebjamal commented on #2903
Done after release on F-Droid. And integration of OpenCamera will not be easier or more difficult after you move to refactor, so do it first. If you think it'll be easier, please point to how. I think the things required to change will be same before and after the refactor

[2019-11-05 07:14] codedsun commented on #2903
@iamareebjamal Okay I am taking the opencamera bump issue, also for the Fdroid I am having storage issues in my mac, you suggested me that fdroidserver on mac has issues, so  I am finding an alternative for that.

After i bump the opencamera, I will be going with these issues of MVVM, Coroutines etc. Thanks a lot

[2019-11-06 03:11] #2318 closed

[2019-11-06 15:12] Rajchowdhury420 opened #2906 "Gradle Version needs to be Updated in build.gradle file"
**Describe the chore**
Gradle version Needs to be Updated to latest from 3.5.0 to 3.5.2
**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-11-06 15:16] codedsun commented on #2906
@Rajchowdhury420 Please follow the template.

[2019-11-06 15:25] Rajchowdhury420 commented on #2906
where is it Exactly ?

[2019-11-06 15:25] codedsun commented on #2906
@Rajchowdhury420 Please check how other issues are made.

[2019-11-06 16:01] Rajchowdhury420 commented on #2906
okay ! Thanks

[2019-11-06 23:54] satyajiit commented on #2808
If this issue is open , Can I please work on it?

[2019-11-06 23:56] satyajiit commented on #2894
I want to work on this issue.
Can I ? 🙂

[2019-11-07 07:10] codedsun commented on #2894
@satyajiit Yes please take it

[2019-11-07 07:31] #2906 closed

[2019-11-08 18:27] codedsun opened #2907 "Remove dependencies for F-droid"
**Describe the bug**
There are maven dependencies which should be removed for F-droid inclusion

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-11-08 18:35] codedsun commented on #2907
@iamareebjamal I am removing the following dependencies of maven

[code]

For box sdk do we need to create a flavors for the app or just remove this option from now?

Also I am facing issue in colorpickr which we have used in Paint Fragment and addText Fragment, what should be done?

[2019-11-08 18:37] codedsun commented on #2887
Closing this for now, not needed.

[2019-11-08 18:37] #2887 closed

[2019-11-09 08:17] codedsun commented on #2907
@iamareebjamal ?

[2019-11-09 08:37] iamareebjamal commented on #2907
@yashk2000

[2019-11-11 19:41] codedsun commented on #2907
@yashk2000 Please update on this

[2019-11-11 19:43] iamareebjamal commented on #2907
Tell the issue please, not just you are facing an issue

[2019-11-11 19:45] iamareebjamal commented on #2907
You don't need maven repo for box SDK. Next

[2019-11-11 19:50] codedsun commented on #2907
@yashk2000 @iamareebjamal while removing this dependency I m getting this error
[code]

What shall I do ?

[2019-11-11 20:05] iamareebjamal commented on #2907
Use a different color picker

[2019-11-11 20:07] codedsun commented on #2907
Okay thanks!

[2019-11-11 20:08] codedsun opened #2908 "Use a different color picker"
**Describe the feature you'd like**
The color picker used currently should be replaced, as it's maven dependency is not accepted in F-droid

Parent issue: #2907

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-11-13 19:37] codedsun opened #2910 "Remove stetho from app"
**Describe the bug**
Remove stetho dependency from app

Parent Issue: #2907

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-11-13 19:59] codedsun opened #2912 "Increment version name to 1.10.0"
**Describe the chore**
Increment versionName to 1.10.0
Increment versionCode to 13

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-11-13 20:40] #2910 closed

[2019-11-13 21:01] #2912 closed

[2019-11-14 17:40] codedsun commented on #2908
Closing issue, not needed!

[2019-11-14 17:40] #2908 closed

[2019-11-14 18:12] tanmayrauth commented on #2894
Is anyone looking into this issue?

[2019-11-14 18:15] codedsun commented on #2894
@tanmayrauth You can take this issue as it has been 7 days.

[2019-11-15 17:18] iman100 commented on #2873
add custom font rtl for Txt on app

[2019-11-17 22:34] TarunPal3551 commented on #2894
@codedsun can I work on this?

[2019-11-18 03:00] mariobehling opened #2919 "Reduce number of effects and increase speed of remaining effects"
The app feels slow at times. This is partly caused by effects, e.g. click an image and return to main screen will show images moving into some directions.

1. These effects are not really needed and don't add any helpful functionality for the user. Please go through effects and take out these effects as much as possible.

2. Other effects, e.g. the opening screen of the app - please speed up the e

[2019-11-18 03:09] mariobehling opened #2920 "About Screen: Redesign screen and follow standard UI"
Please implement a more standard looking about screen, e.g. compare to PSLab About screen. Change the following:
* use system colors and fonts
* use system bottom bar colors and transparency
* use standard structure as PSLab
* change any other non-standard looking way

![Screenshot_20191118_110624_org fossasia phimpme](https://user-images.githubusercontent.com/1583873/69021817-1360c280-09f4-11ea-8

[2019-11-18 03:13] mariobehling opened #2921 "Implement font styles and sizes following Gallery standard"
The Android Gallery has much smaller fonts. It avoids italic and bold font etc.

Please follow the Android standard gallery implementation and change fonts accordingly.

[2019-11-18 03:16] mariobehling opened #2922 "Redesign bottom menu bar with smaller icons and semi-transparency white"
Let's make the bottom menu bar less intrusive. Please design it with smaller icons and use semi-transparent white.

Please take inspiration from the standard Android gallery.

[2019-11-18 03:21] mariobehling opened #2923 "Bottom menu bar "move in effect" not from expected direction"
If a user clicks on the left "camera" icon it would be expected that the cam function screen moves in from the left as well. If the user is on the "accounts screen" and clicks "Gallery" it would be expected that the "Gallery screen" moves in from the left. Instead it moves in from the right.

Please check and correct this. Screens should be moving in from the expected direction according to the bo

[2019-11-18 04:57] tanmayrauth commented on #2894
Yeah

[2019-11-18 06:35] satyajiit commented on #2604
Can I take this issue?

[2019-11-18 09:22] satyajiit commented on #2923
I have fixed the issue. 🙂

[2019-11-18 14:35] satyajiit commented on #2922
Can I work on this?

[2019-11-18 19:24] codedsun commented on #2920
@mariobehling Taking this up. Also, I was thinking to redefine the UI and features like Google Photos.

[2019-11-18 23:14] satyajiit commented on #2922
What about making the UI Materialized?
Like :

BottomBar :
![Screenshot_20191119-042622__01](https://user-images.githubusercontent.com/41864109/69101882-d4c81800-0a86-11ea-8df4-fc99b7c76880.jpg)

Toolbar or ActionBar : ( with three bars on the left like Gmail App)

![Screenshot_20191119-042622__02](https://user-images.githubusercontent.com/41864109/69101883-d4c81800-0a86-11ea-904d-c7dd4ba7d684.jpg

[2019-11-18 23:52] satyajiit opened #2926 "App Crash On Search"
**Describe the bug**
Clicking on Search Icon in the Toolbar Crash/Terminate the App

**To Reproduce**
1. Store an image in the root directory or root of internal i.e /sdcard
2. Run the App
3. Click on Search Icon on the Toolbar or Actionbar
4. App Crash

**Expected behavior**
Should work normally without crashing the App.

**Logs**
[code]
**GIF**
![ezgif com-video-to-gif](https://user-images.githu

[2019-11-19 00:19] satyajiit opened #2927 "Building App with SDK 29 Crash on Android 10"
**Describe the bug**
Building the App with SDK Tools 29 and BuildTools 29.0.2 will not run on android 10 devices.
The official version of the app i.e "1.10.0" is also built with SDK 29 ,
Hence the app is crashing on all android 10 devices.

**To Reproduce**
1. Use any android 10 device or emulator
2. Install from playStore or run from debug
3. App Crash on SplashScreen

**Expected behavior**
Shoul

[2019-11-19 04:47] codedsun commented on #2927
@satyajiit The issue is specified clearly. Please look into the logs

[2019-11-19 05:06] satyajiit commented on #2927
@codedsun I have gone through the logcat but couldn't find a correct clue to track the issue.
As far i have checked, I think the Android_Iconics 2.x.x library has some issues.
Can you please provide some clues or info?

[2019-11-19 19:53] codedsun commented on #2926
@satyajiit You mentioned that on clicking the toolbar search option, the app got crashed then how did the null case came up?

[2019-11-19 20:05] satyajiit commented on #2926
@codedsun The Crash Occurs because of the null value that is being loaded to the album name.
So , when we attempt to iterate to search for the album name it crahes. You can also refer the logs

[2019-11-19 20:07] codedsun commented on #2926
I have also created the same scenario but I found no crash. @yashk2000 Please confirm

[2019-11-19 20:30] satyajiit commented on #2926
@codedsun we cannot apply "toLowerCase" on a null object or datatype right?
This is the issue here.
The normal sequence is when we type something it searches with all the album names ( making the names to lowercase )
So here , when no value is entered in the search ,
When we try to iterate all the album names ( making those album names to lowercase ) , we find such a case that one of the album nam

[2019-11-19 20:32] satyajiit commented on #2926
@codedsun while setting the name to textView it converts to "null" string forcefully.
Hence it doesn't crash.
Please refer the Logs.

[2019-11-19 20:47] satyajiit commented on #2926
The Album name is converted to "null" because of implicit type conversion by Java.
You can check AlbumsAdapter.java ,
for line :
`String albumNameHtml = "<i><font color='" + textColor + "'>" + a.getName() + "</font></i>";`
As we know `null + "String"` is going to return `"nullString"` .
I hope i explained the issue @codedsun  🙂

[2019-11-20 06:57] codedsun commented on #2926
Hence it doesn't crash.
Please refer the Logs.
Not only this will cause error to searching but also to sorting because there we are using comparator to compare between a string and a null value.
Another way to verify is cur.getString(nameColumn) == null return true .

The null case is only returned when the media provider class is not able to fetch the name of the album, its not the case when the

[2019-11-20 07:54] codedsun commented on #2927
@satyajiit Please look this
https://github.com/mikepenz/Android-Iconics/issues/470

Also please get this done as early as possible

[2019-11-20 10:23] satyajiit commented on #2926
@codedsun Tested on Devices not running android 10 ,
and found that it loads the name as "0" ,
hence there will be no crash or error.

But on Android 10 devices ( Tested on emulators now ) ,
verified with system logs and crash.
It loads up with null.

[2019-11-20 10:28] satyajiit commented on #2926
@codedsun it is always a good practice to check for null values before using them. right?

[2019-11-20 10:35] codedsun commented on #2926
@satyajiit How is the null folder possible, please mention ? Also please dont edit the issue description. It makes us confuse what we were trying to the actually solve and what you mentioned..

You are saying that we have a folder with no name in sdcard directory, first tell me how is thiss possible until you use some unicode character which arent' visible

Next, if you have a folder named null, t

[2019-11-20 10:56] satyajiit commented on #2926
@codedsun Sorry you are getting it wrong.
It might be my poor English.
You don't need to create a null folder.

**STEPS TO REPRODUCE**
1. Store any images on the root dir i.e /sdcard ( You can try doing `adb push image_name.jpg /sdcard` )
2. Check the app.

What i found :
On android 10 ,
`a.getName()` returns null.

and on older versions :
returns "0"

[2019-11-20 11:00] codedsun commented on #2926
Proceed, Please state the issue clearly. You wrote something else in the issue. No problem
Go Ahead :+1:

[2019-11-20 16:43] satyajiit commented on #2927
@codedsun The Quick Fix can be to downgrade the compileSDK to 28 .
Trying to fix the issue with the Iconics is successful ,
But i seem to get more issues related to Context.
On SDK 29 , seems to have some behavior changes.

[2019-11-20 16:45] codedsun commented on #2927
please mention what context issues.

On Wed, Nov 20, 2019, 10:13 PM Satyajit Pradhan <notifications@github.com>
wrote:

[2019-11-20 19:07] codedsun commented on #2921
Taking this up

[2019-11-22 05:54] #2920 closed

[2019-11-22 15:07] IamJayshree opened #2930 "Phimp.me app crashed on opeing. Android 8.1.0 #2930"
#2930
**Describe the bug**
Installed the app from Playstore.
Opened just once and explored, after that it fails to open.
I've attached the screenshot of logs. Corrections are welcome.

**Screenshots**
![Screenshot_2019-11-22-19-58-56-404_com miui bugreport](https://user-images.githubusercontent.com/26122348/69434956-ab4c0c80-0d64-11ea-8412-c260ff249e63.png)
![Screenshot_2019-11-22-19-58-59-110_com

[2019-11-22 15:37] codedsun commented on #2927
@satyajiit Updates?

[2019-11-22 15:41] satyajiit commented on #2927
@codedsun I am having my end terms/sem now 😟 .
I am not getting sufficient time.
And About the issue , even if i am able to fix the problem with Iconis , I am getting a new issue with the query selector , Something seems to return null , I will add the system logs for reference.

[2019-11-22 15:43] codedsun commented on #2927
Please add

[2019-11-22 15:52] codedsun opened #2931 "Album View Layout Change and font size change"
**Describe the bug**
Currently the album layout view hierachy is more complex, change that to constraint layout
Also, handling the font size in the textViews according to gallery of android phone.

Issues #2921

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-11-22 15:58] satyajiit commented on #2927
@codedsun
`2019-11-22 21:25:11.908 16584-16638/org.fossasia.phimpme E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #1
    Process: org.fossasia.phimpme, PID: 16584
    java.lang.RuntimeException: An error occurred while executing doInBackground()
        at android.os.AsyncTask$4.done(AsyncTask.java:399)
        at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:383)
        at java

[2019-11-22 19:57] codedsun commented on #2930
@iamareebjamal @yashk2000 What shall be done in this case, this library has got some issues
`implementation 'com.github.deano2390:MaterialShowcaseView:1.2.0@aar`

Reference : https://github.com/deano2390/MaterialShowcaseView/issues/167

[2019-11-22 20:38] codedsun opened #2933 "Implement drawer using material Navigation view"
**Describe the bug**

Currently the drawer is implemented using the old method, now will implement using material navigation view

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-11-23 05:07] iamareebjamal commented on #2930
Remove it

[2019-11-23 05:13] codedsun commented on #2930
Taking it up, will send a PR asap

On Sat, Nov 23, 2019, 10:37 AM Areeb Jamal <notifications@github.com> wrote:

[2019-11-24 12:33] #2930 closed

[2019-11-25 12:42] vineeth-vk11 commented on #2933
Can I take up this issue?

[2019-11-28 09:58] darshvatsa opened #2935 "Aditya Pooooondey"

[2019-11-30 05:48] #2935 closed

[2019-12-01 06:35] AbhinavSharma24 opened #2936 "Cropping image using 'size percentage' is not working."
**Describe the bug**
Cropping feature using 'size percentage' is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'phimp.me android application'
2. Select an image to 'edit' it.
3. Now at the bottom select the 'crop image' option.
4. Select 'by Size' option and set any value for 'Compress by size'.
5. Click 'set', it will crash the application
4. See error : 'phimp.me stopp

[2019-12-03 11:50] STEdirisuriya opened #2937 "The app is not working on my phone"
**Describe the bug**
When the app opens it crashes.

**To Reproduce**

|               | |
|---------------|-|
|Device         |Google Pixel 3|
|Android Version|10 |

**Would you like to work on the issue?**

- [ ] Yes
- [x] No

[2019-12-03 11:52] STEdirisuriya commented on #2937
![phimpme](https://user-images.githubusercontent.com/33794760/70048896-668c6500-15f1-11ea-9d7b-2d10d4fca690.jpg)

[2019-12-03 15:30] codedsun commented on #2937
Please attatch the log here, @STEdirisuriya

[2019-12-03 15:40] abishekvashok commented on #2937
Please fill in this table:

Android Version

[2019-12-03 15:41] abishekvashok commented on #2936
Please carry on with it then

[2019-12-03 19:08] STEdirisuriya commented on #2937
Done!

[2019-12-03 19:11] codedsun commented on #2937
@STEdirisuriya Similar to, please take this and get this resolved
https://github.com/fossasia/phimpme-android/issues/2927

[2019-12-03 19:14] STEdirisuriya commented on #2937
Closing this because there's already similar issue #2927 @codedsun

[2019-12-03 19:14] #2937 closed

[2019-12-05 22:45] alexm7 opened #2938 "Phimpme custom development - paid"
I am looking for a developer that has experience working on the phimpme codebase that can provide software development services to create a customized version of phimpme.  I like the functionality of phimpme, but I need a simpler version for a specific application.  I need a developer to be able to customize and trim down the phimpme application to just the required functionality.  I realize the p

[2019-12-06 06:46] codedsun commented on #2938
@iamareebjamal Close this

[2019-12-06 07:28] #2938 closed

[2019-12-06 08:40] #2931 closed

[2019-12-06 14:45] alexm7 commented on #2938
Can you provide some details as to why this is not a valid question here?  Should it be posted somewhere else?
Thanks
Alex.

[2019-12-06 14:47] iamareebjamal commented on #2938
This is GitHub, not Craigslist

[2019-12-08 12:19] codedsun commented on #2936
@AbhinavSharma24 Please provide the logcat, for me its' working fine - Android 9.0 - Realme 3

[2019-12-12 07:40] NishithP2004 opened #2939 "Unable to login"
**Describe the bug**

I'm unable to login to my Twitter account & Pinterest
**To Reproduce**

No account logged in and the app eventually crashes.
**Expected behavior**

I should be able to login.
**Logs**

**Screenshots**

![Screenshot_2019-12-12-13-01-42-256_org fossasia phimpme](https://user-images.githubusercontent.com/34577844/70692059-90741480-1ce0-11ea-8f6a-8681d12128ab.jpg)

**Smartphone I

[2019-12-12 08:40] Saif1791 opened #2940 "App keeps crashing."
When I install the app and try to launch it, the app opens and as soon as i go inside the app shuts down and a dialog box pops up stating that the app has stopped working.

**To Reproduce**
 Unfortunately, Phimp.me has stopped

**Expected behavior**

**Logs**

**Screenshots**

**Smartphone Info:**

|               | |
|---------------|-|
|Device         ||
|Android Version|    |

**Additional cont

[2019-12-12 08:50] codedsun commented on #2940
Duplicate of #2927

[2019-12-12 08:51] codedsun commented on #2940
@iamareebjamal Close this

[2019-12-12 10:06] #2940 closed

[2019-12-12 15:26] subscriptshoe9 commented on #2939
![photo_2019-12-12 23 24 09](https://user-images.githubusercontent.com/53357458/70724950-82e97980-1d36-11ea-8a75-39aff8904236.jpeg)

I have this issue either, my Device is Asus Zenfone 4 on Android 8.0.0

[2019-12-13 13:19] codedsun commented on #2939
@NishithP2004 @subscriptshoe9  - Please add the twitter app id values in constants file . Also the pinterest is currently in progress and has issues. I will get it resolved by this week nd get the PR merged

[2019-12-16 09:23] dvinfosys opened #2941 "typedef redefinition with different types"
3: error: typedef redefinition with different types ('struct HSBColour' vs 'struct HSBColour')

This file is included from the following inclusion chain:
\main\jni\colour_space.cpp:19

[2019-12-16 13:22] 18Aaron opened #2942 "Crash"
Whenever I take a screenshot of the app or use it to delete any photos through the app , it stops working please resolve this issue .

**Smartphone Info:**

|Device         ||
|Android Version|    |

[2019-12-16 15:08] codedsun commented on #2942
Can you please post the logs here?

[2019-12-16 15:24] 18Aaron commented on #2942
Hi . I'm sorry if this is a stupid question but what how do I get a log ?

On Mon, 16 Dec 2019, 20:38 Suneet Srivastava, <notifications@github.com>
wrote:

[2019-12-16 15:41] codedsun commented on #2942
@18Aaron https://developer.android.com/studio/debug/bug-report or you can also connect your device to your pc and have adb commands extract the logs, but this is long process. Please check the link

[2019-12-16 17:40] 18Aaron commented on #2942
Hi . Thanks for your reply . I don't know what's happening but after
enabling bug reports all my apps are working fine even the occasional
crashes of the app stopped . I don't know why but I received a report and
I'll send it to you anyways

On Mon, 16 Dec 2019, 21:11 Suneet Srivastava, <notifications@github.com>
wrote:

[2019-12-16 20:42] makoteq commented on #2919
Can i take this issue?

[2019-12-17 06:57] codedsun commented on #2919
@makoteq Yes, please!

[2019-12-17 17:15] codedsun opened #2943 "Remove stetho realm dependency from build.gradle"
**Describe the bug**
Remove stetho realm from project level build.gradle as it dependency has been removed

Parent Issue: #2907

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-12-19 09:58] minukag opened #2945 "App crashing"
App crashing when clicking the pinterest accounts in accounts page
![Screenshot_20191219-152117_One UI Home](https://user-images.githubusercontent.com/57785026/71163961-21646600-2274-11ea-9048-d6e291844249.jpg)

**To Reproduce**
Click the PINTERESET button in Accounts tab.

**Smartphone Info:**
Samsung Galaxy A20 (2019)
Android 9 Pie OneUI 1.1

Anyone, please fix this issue.

[2019-12-20 15:39] Hry789 commented on #2945
The Phimp.me need a large storage to run,so I suggest that we could save while we reached a certain time (like autosave?)

[2019-12-20 17:28] priyanshu123456789 opened #2946 "Bug report"
**Describe the bug**
The scroll bar of the edit tools menu doesn't functions properly.
**To Reproduce**
1. Open phimp.me application.
2. Go to gallery and select any folder.
3. Click on any image to be edited.
4. A set of options containing share, edit, resize, delete, information appears on the lower
    part of the screen.
5. On selecting the edit opiton a set of 5 tools appears on the same part

[2019-12-20 18:15] sanjus-robotic-studio opened #2947 "App is crashing when edit button is pressed"
when we select a image or take a picture when we click the edit button the app is getting exited and shows the error that phime.me has unfortunately stopped working
![Screenshot_2019-12-20-23-37-19-180_org fossasia phimpme](https://user-images.githubusercontent.com/58104863/71280953-b48bc180-2382-11ea-9b98-c4148dcdddb9.png)

[2019-12-21 20:13] #2943 closed

[2019-12-22 06:36] codedsun commented on #2947
Working fine for me, please post the log here.

[2019-12-22 09:05] codedsun commented on #2936
@iamareebjamal Close this, no response yet

[2019-12-22 11:16] renjiroazhar opened #2948 "Add Color Adjustments Feature"
Id like to this app getting a new color adjustments feature! 👍

Like this example:
![image](https://user-images.githubusercontent.com/41312213/71321068-eddd4200-24e6-11ea-9f56-4d7d01d3fc81.png)

Thank you, thats my suggestion for the future update☺

[2019-12-22 11:28] codedsun commented on #2948
Added in the PR #2909

[2019-12-22 13:29] codedsun commented on #2927
@iamareebjamal I need your help here, when I bumped the version of IconicsLibray to v3.2.5 (which is not the latest but we have used as its the latest for non-kotlin projects) But I am still getting the same crash on Android 10. Also, please look at this and guide us what is to be done ?

mikepenz/Android-Iconics#470

[2019-12-22 13:53] iamareebjamal commented on #2927
Why are you not uprading to the latest version?

[2019-12-22 14:03] codedsun commented on #2927
@iamareebjamal - We are not using IconicsContextWrapper, the crash is of InternalLayoutInflater

[code]

[2019-12-22 15:12] iamareebjamal commented on #2927
And how does it matter? Either the issue you linked is not related to the crash, or the fixes mentioned in it will work. How does it matter that we are not using IconicsContextWrapper, issue has to be fixed anyway

[2019-12-22 15:15] codedsun commented on #2927
Issue has to be fixed but you asked here why wont this work, it was the reply of that question.

[2019-12-22 15:17] iamareebjamal commented on #2927
Why not use the latest version instead of trying a buggy and outdated version?

[2019-12-22 15:21] codedsun commented on #2927
I did that but still facing some issues, will solve and send the Pr

[2019-12-22 15:23] iamareebjamal commented on #2927
https://github.com/mikepenz/Android-Iconics/issues/470#issuecomment-568272272

[2019-12-22 18:49] codedsun commented on #2927
@iamareebjamal I have upgrarded to the latest version but the app is still crashing on `LFMainActivity`

[code]

[2019-12-22 19:24] codedsun commented on #2927
@iamareebjamal - Also see the comment under release v4.0.0

https://github.com/mikepenz/Android-Iconics/releases

They say:

[code]

[2019-12-22 19:32] codedsun commented on #2927
@iamareebjamal  - I have opened an issue on their issue tracker, I am getting error at inflating menu items in our app.

[2019-12-25 08:57] Swkn1004 opened #2949 "Text feature"
In the write feature from the edit option
If we select the text option and start to type,the typed text is being placed at random places.
It would be much better if the user can change the position to place the text or edit the typed text.

In the following Screenshots from my android phone, Clearly show that the consecutive typed texts get placed at the same place making it look bad.

**Screensho

[2019-12-25 09:36] Swkn1004 opened #2950 "Crash"
**Describe the bug**
Crash

**To Reproduce**
Steps to reproduce the behavior:
In the phimpme app
1. Go to 'Gallery option'
2. Click on 'Any photo from any media'
3. Then click on compress feature and select any one of the two in-features available
4.Sometimes the feature gets executed and then the crash happens or else directly the crash happens when the feature-button is clicked
5. Then the app g

[2019-12-25 19:55] Akshit1311 opened #2951 "Trash Bin Bug"
**Describe the bug**
No images appear in the trash bin after deletion.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on any image .
2. Click the delete option.
3. Click on the open button next to the prompt.
4. No images appear in the trash bin

**Expected behavior**

**Logs**

**Screenshots**

![Screenshot_2019-12-26-01-17-32-22_e9fa3137047667733754e6d84fae6a64](https://user-images.

[2019-12-28 13:09] STG284 opened #2953 "Crash in accounts Fragment"
**Describe the bug**
Sliding on Pinterest option in Accounts section crashes the app.

**To Reproduce**
1. Go to Accounts
2. Click on PINTEREST
3. App crashes

**Expected behavior**
login pop-up for pinterest

**Smartphone Info:**
Device        Redmi note 4
Android Version 7.1

**Would you like to work on the issue?**

I can work on the issue but I have not explored the code

[2019-12-28 13:27] STG284 opened #2954 "Security Bug"
**Describe the bug**
Any website is accessible through in app web view. This is a security threat. Hacker can go to his own website thus run his code in the app and may hack into app.

**To Reproduce**
1. Go to Accounts section
2. Click on IMGUR
3. Scroll down to terms of service
4. You can access this website! Now you can click on any site on this page to go further. Like this you can possibly go

[2019-12-30 08:40] thisisamitkumar opened #2955 "Phimpme"
![WhatsApp Image 2019-12-30 at 2 06 25 PM (1)](https://user-images.githubusercontent.com/38273159/71574312-395aa600-2b0e-11ea-8c29-ae30cc34da8e.jpeg)

Phimpme is not working on my phone it has crashed. I have sent feedback as well here is the crash url
https://del.dog/iferfikibe

[2019-12-30 23:03] pranavkarthik10 opened #2956 "Add download via QR code"
**Describe the feature you'd like**

Add a QR code image which when scanned would redirect to the Play Store where users could download the Phimp me application.

**Screenshots**

**Additional context**

This could be an easy way for developers or viewers alike to visit and download the Phimp me application, right from GitHub.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-01-01 07:25] aishatyagi opened #2960 ""Convert to pdf"feature not working properly"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Smartphone Info:**

|               | |
|---------------|-|
|Device         ||
|Android Version|    |

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2020-01-01 09:15] KsgMirai opened #2961 "However it doesn't work"
**Describe the bug**
I can't open this app because it is always crashing when I try opening it

**Logs**

`java.lang.RuntimeException: Unable to start activity ComponentInfo{org.fossasia.phimpme/org.fossasia.phimpme.gallery.activities.SplashScreen}: android.view.InflateException: Binary XML file line #17 in org.fossasia.phimpme:layout/abc_screen_simple: Binary XML file line #17 in org.fossasia.phi

[2020-01-01 09:18] KsgMirai commented on #2961
![image](https://user-images.githubusercontent.com/53310254/71639884-b3c82900-2cba-11ea-934b-115afb57c3c5.png)
Add my screenshot

[2020-01-02 06:00] #2956 closed

[2020-01-02 17:50] MuhammadWasif opened #2962 "Initialize Jekyll in gh-pages branch"
**Describe the bug**
Jekyll files are not properly set up for a website. This should be a proper Jekyll site.
Initialize Jekyll in the project

**To Reproduce**

1. Go to `gh-pages` branch

**Would you like to work on the issue?**

- [x] Yes
- [ ] No

[2020-01-03 13:03] #2936 closed

[2020-01-03 13:05] abishekvashok commented on #2962
I am sorry to inform you but this is not a site built on Jekyll. gh-pages is generated using  https://github.com/fossasia/yaydoc

I am sorry, but we would need to close this down.

[2020-01-03 13:05] #2962 closed

[2020-01-03 15:35] kumuditha-udayanga opened #2964 "Build Phimp.me website using README.md as a source"
**Describe the chore**
In the current site which is deploying in the Github pages is empty.
It should be built using the README.md as the source.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-01-03 16:35] MuhammadWasif commented on #2962
I'm doing this as a Google Code-In task. [The task](https://codein.withgoogle.com/tasks/5926128217227264/?sp-organization=5183942706069504&sp-is_beginner=False&sp-search=phimp) says to initialize with **Jekyll**

[2020-01-03 21:32] #2964 closed

[2020-01-04 08:03] Lalithsai853 opened #2966 "App Not Responding"
When I attempt to open the app on my google pixel 3a, the app states that it is unable to respond and it keeps stopping. I don't know if this is a problem on my device, but even after I redownload it, it still gives mew the same error message.

[2020-01-04 08:06] Lalithsai853 commented on #2966
Here is the screenshot of the problem via the link below.
https://drive.google.com/file/d/1OlHoaQBaeJ8cf4OzT6bVV5kxPnSkFAEs/view?usp=sharing

[2020-01-04 08:41] kumuditha-udayanga opened #2967 "Add Material UI to documentation site"
**Describe the feature you'd like**
The current documentation site has a basic template.
Need to create a basic design using Material UI using the same colours as the app.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-01-04 09:03] Sid911 opened #2968 "Image not loading in phimp.me website"
**Describe the bug**
Current Implementation of [phimp.me](https://phimp.me/) doesn't have any images loading in
![image](https://user-images.githubusercontent.com/27860105/71763172-af8c4d80-2efe-11ea-8019-8068936fdbc9.png)

**To Reproduce**

1. Go to https://phimp.me/
2. You can see none of the images has loaded
![image](https://user-images.githubusercontent.com/27860105/71763178-c9c62b80-2efe-11e

[2020-01-04 09:42] #2968 closed

[2020-01-04 12:33] rajat-png opened #2972 "phimpme"
.

[2020-01-04 12:34] codedsun commented on #2972
? @rajat-png

[2020-01-04 13:51] #2972 closed

[2020-01-04 13:55] yashk2000 opened #2973 "Update the link to gh pages of Phimp.me in the read me."
**Describe the chore**
In the readme, the link to the gh pages of phimpme is given as "https://phimp.me". But the link is actually "fossasia.github.io/phimpme-android". This should be corrected in the gh pages section under branch policy in the readme.

**Would you like to work on the issue?**

- [ ] Yes
- [X] No
- Other:

[2020-01-04 14:01] #2967 closed

[2020-01-04 14:36] Sid911 opened #2974 "Adding Changelog to gh-pages"
**Describe the feature you'd like**
Usually there is a changelog of recent changes made to the project in the website, it gives idea of type of development taking place in the repo.

**Additional context**
We can add that to the gh-pages as that builds whenver we push a commit

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-01-04 14:38] Sid911 commented on #2973
@yashk2000 I actually fixed that in https://github.com/fossasia/phimpme-android/pull/2971 but I am working on #2974 so I will add those as well when I give a pr

[2020-01-06 12:59] #2973 closed

[2020-01-07 11:30] Siva-Charan-Reddy5376 opened #2976 "How ever it doesnt editing properly"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

**Smartphone Info:**

|               | |
|---------------|-|
|Device         ||
|Android Version|    |

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2020-01-07 11:30] Siva-Charan-Reddy5376 commented on #2976
Update your app

[2020-01-11 06:14] nidhi466 opened #2977 "The App is not starting in Pixel costom Q"
https://del.dog/amamurecyv.txt

Link of Log

[2020-01-11 14:19] sonusourav commented on #2945
Here are the logs.

[code]

[2020-01-15 00:01] satyamaroraofficial commented on #2933
May i work on this??

[2020-01-15 04:01] codedsun commented on #2933
Yes @satyamaroraofficial

[2020-01-15 10:39] #2974 closed

[2020-01-16 09:25] sonusourav opened #2979 "App crashing on deleting images"
**Describe the bug**
The app crashes when we press the delete icon in the action bar inside any folder. I have observed that some files get deleted while some not. Also, there is no problem if one image is present.

**To Reproduce**

2020-01-16 14:52:41.181 11408-11901/org.fossasia.phimpme E/AndroidRuntime: FATAL EXCEPTION: AsyncTask 5
    Process: org.fossasia.phimpme, PID: 11408
    java.lang.Ru

[2020-01-16 17:33] sonusourav opened #2980 "Images not getting added to Favourites"
**Describe the bug**
Images from some folders in the gallery are not getting added to Favourites

**To Reproduce**

1. Go to Gallery.
2. Select some folder ( does not happen to all folder, for me it was happening for Whatsapp images)
3. Add some images to Favourite and check.

**Expected behavior**
Images should be added to added to Favourites

**Screenshots**
![fav](https://user-images.githubuser

[2020-01-16 18:26] sonusourav opened #2981 "App crash on selecting edit icon"
**Describe the bug**
App crashing on editing pic just after taking pic.

**To Reproduce**

1. Go to the Camera.
2. Click a picture
3. Choose the edit option.
4. App crashes

**Logs**
2020-01-16 23:18:42.409 23032-23376/org.fossasia.phimpme E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #6
    Process: org.fossasia.phimpme, PID: 23032
    java.lang.RuntimeException: An error occurred while executing

[2020-01-17 08:42] TBog opened #2982 "Crash on application start"
**Describe the bug**
I forked [phimpme-android](https://github.com/fossasia/phimpme-android) development branch to fix it because on my device it crashes on startup. The fix was migrating to iconics 4.0.2
The migrated app can be found here: [phimpme fork](https://github.com/TBog/phimpme-android/commits/tbog/iconics)
Now it still crashes on app start-up inside `gallery\data\providers\MediaStoreProv

[2020-01-17 10:36] TBog commented on #2950
The fix can be found here: 19738b5c98608a2d65d223fb13e37acd3405ea2f

[2020-01-17 10:38] TBog commented on #2947
Possible fix can be found here: 19738b5c98608a2d65d223fb13e37acd3405ea2f

[2020-01-17 13:38] #2953 closed

[2020-01-17 23:52] ipranavr15 opened #2984 "App Crashes"
The app keeps on crashing every time I open it. I have already tried uninstalling and downloading the app, as well as closing out and opening the app back in. But the app will crash every time you try to open it.

[2020-01-18 06:43] codedsun commented on #2984
Similar to #2927

[2020-01-19 06:20] Preetesh21 opened #2985 "Image Compression Not Working"
**Describe the bug**

The image compression feature is not working as it's not providing a brand new image but just an empty folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'app '
2. Click on 'any image'
3. Scroll down to 'compress image'
4. See error

**Expected behavior**

I would expect the app to create a new compressed image as well save the original one in its place

**Lo

[2020-01-19 20:30] #2981 closed

[2020-01-20 15:46] ankushmundhra commented on #2985
@Preetesh21 Can i work on this issue?

[2020-01-20 15:58] charlietharas opened #2988 "Application Crashes On Start"
**Describe the bug**
Upon pressing the application icon to start the app after installing it, the application window does not open Android opens a window "Phimp.me keeps stopping" and offers the user options to fix this issue.

**To Reproduce**

**Expected behavior**
The app was expected to open successfully to its homescreen.

**Logs**
Unavailable.

**Screenshots**
![Screenshot_20200120-105201](h

[2020-01-20 16:06] codedsun commented on #2988
Same issues #2927 Please refrain from opening multiple issues

[2020-01-20 16:06] codedsun commented on #2988
@iamareebjamal - Close this

[2020-01-20 16:08] charlietharas commented on #2988
Will comment on other issue to indicate it has been seen somewhere else.
Apologies.

[2020-01-20 16:08] #2988 closed

[2020-01-20 20:01] TBog commented on #2982
duplicate of #2927

[2020-01-20 20:01] #2982 closed

[2020-01-20 20:04] TBog commented on #2977
duplicate of #2927

[2020-01-20 20:05] TBog commented on #2966
related to #2927

[2020-01-20 20:05] TBog commented on #2961
duplicate of #2927

[2020-01-20 20:06] TBog commented on #2955
duplicate of #2927

[2020-01-21 18:29] gaymathur commented on #2966
It isalso not responding n my realme phone.

[2020-01-21 18:31] gaymathur commented on #2946
Yes

[2020-01-21 18:33] TBog commented on #2966
Is this the same as #2927?

[2020-01-22 07:06] codedsun commented on #2966
Please close this issue, we have multiple instances of the same issue created.

[2020-01-22 07:38] Lalithsai853 commented on #2966
Hello Suneet Srivastava,

I will close it as soon as possible.

Thank you,
Lalithsai Posam

On Tue, Jan 21, 2020, 11:06 PM Suneet Srivastava <notifications@github.com>
wrote:

[2020-01-22 07:41] #2966 closed

[2020-01-23 04:51] manan025 opened #2989 "Image takes time to get loaded"
**Describe the bug**

When opening an image, It takes a lot of time to load the image as compared to another apps.

**To Reproduce**

Open an image in the app.

**Expected behavior**

The image should load immediately within a second after clicking the image.

**Logs**

No

**Screenshots**

[ Error uploading screenshot, will update it ASAP ]

**Smartphone Info:**

|               | |
|------------

[2020-01-23 10:26] manan025 opened #2990 "Doesn't show media in folder"
**Describe the bug**

When I open the app, The folder is having media in it but when I open it, the folder doesn't shows any media
**To Reproduce**

Go to hidden folders > Open a folder

**Expected behavior**

The media should be showed

**Screenshots**

![GIF-200123_104539](https://user-images.githubusercontent.com/40761012/72976518-c389e780-3df8-11ea-82ce-4e4844815203.gif)

**Smartphone Info:**

[2020-01-24 05:45] dipu989 opened #2991 "App crashes when Pinterest is clicked in account section."
**Describe the bug**
When user clicks on Pinterest, app crashes.

**To Reproduce**

1. Go to Accounts section.
2. Click on Pinterest

**Would you like to work on the issue?**
Open to all.

[2020-01-25 16:49] dipu989 opened #2992 "Trash bin empty after moving images there."
**Describe the bug**
Trash bin remains empty, even when the image is deleted by checking option "Move to Trash Bin".

**To Reproduce**
<!--Steps to reproduce the behavior:
1. Delete an image by checking the option "Move to Trash Bin".
2. Open Trash bin

**Expected behavior**
Image should be there in trash bin is it is deleted by checking option "Move to trash bin"
As a feature request, Restore fea

[2020-01-25 16:50] dipu989 opened #2993 "No images in trash bin even after selecting the option to "Move to bin""
**Describe the bug**
Trash bin remains empty, even when the image is deleted by checking option "Move to Trash Bin".

**To Reproduce**
1. Delete an image by checking the option "Move to Trash Bin".
2. Open Trash bin

**Expected behavior**
Image should be there in trash bin is it is deleted by checking option "Move to trash bin"
As a feature request, Restore feature can also be added so that images

[2020-01-25 16:51] #2992 closed

[2020-02-06 15:06] AjayThakur12 commented on #2991
@dipu989 can i work on this bug

[2020-02-15 09:07] AjayThakur12 opened #3017 "Switch not visible properly"
**Describe the bug**
Switch not visible properly when user  is in Dark AMOLED basic theme

**To Reproduce**
1. Go to  Setting
2. Click on Basic Theme
3. select Dark AMOLED
3. Go to Accounts
4. See switch not visible properly if  switch is in off state

**Expected behavior**
User should able to see whether switch is off or on properly

**Screenshots**

![Screenshot 2020-02-15 at 2 31 20 PM](https:/

[2020-02-16 05:45] HarshTyagi007 commented on #2960
I want to work on this  issue

[2020-02-19 14:54] AjayThakur12 opened #3031 "Menu item not visible properly"
**Describe the bug**
Menu item not visible properly  in Trash Bin, Upload History when user  is in Dark AMOLED basic theme

**To Reproduce**
1. Go to Setting
2. Click on Basic Theme
3. Select Dark AMOLED
4. Go to Trash Bin or Upload History
5. Click on menu icon see menu item not visible properly

**Expected behavior**
User should able to see menu item properly

**Screenshots**
<img width="301" al

[2020-02-25 12:01] niccokunzmann commented on #2907
@codedsun as you worked on this, I think you can ping the developers [in the F-Droid inclusion issue](https://github.com/fossasia/phimpme-android/issues/2907), so they know that they can check again.

[2020-03-07 16:24] snajdovski opened #3036 "Pixel 2 XL Android 10 (Q) Crashes"
Instructions to reproduce crash:
1)Download from Playstore
2)Try to open it
3)Crash

[2020-03-09 16:29] #3031 closed

[2020-03-25 16:43] ErunamoJAZZ commented on #3036
Same thing with a Xiaomi A2 with android one.

[2020-03-29 17:26] codeitram commented on #3036
Hahah I think now it is fixed !

[2020-03-30 09:16] robustTechie opened #3041 "Resize button while adding a new sticker"
**Describe the bug**
When the user adds a new sticker in the image the resize button is there but it doesn't have an icon. It is just a gray circle.

**To Reproduce**

|               | |
|---------------|-|
|Device         |Realme 5|
|Android Version|9.0 |

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-03-30 09:17] robustTechie commented on #3041
I would like to work on this.

[2020-04-10 14:55] jidanni commented on #2927
Android says
"Phimp.me keeps stopping" or ..."has stopped"
Seen with Android 8.0 on ASUS ZenFone3
e.g., after moving the slider to 5% when attempting resize.

[2020-04-10 16:19] #2927 closed

[2020-04-10 16:19] #2955 closed

[2020-04-10 16:20] #2977 closed

[2020-04-10 16:20] #2961 closed

[2020-04-10 16:21] #3036 closed

[2020-04-10 16:22] #2945 closed

[2020-04-10 16:24] #2942 closed

[2020-04-10 16:25] #2984 closed

[2020-04-10 22:12] ErunamoJAZZ commented on #3036
https://github.com/fossasia/phimpme-android/issues/2927 (looks like that was the main issue)

Thanks for take care of this! :heart:

[2020-04-11 06:20] yashk2000 commented on #3041
@robustTechie I'm not sure if this is a bug. It was designed this way. It's sort of obvious that the button will resize the sticker.
If you think an icon in it's place will look better, please feel free to send a pr after reviewing which we'll decide to go ahead with this or not.

[2020-04-29 14:44] joshbowyer opened #3043 "Crashes on launch on Android Q"
Downloaded from Google Play, tap the app icon to launch it, immediately crashes.

Phone: Oneplus 7 Pro
OS: LineageOS 17.1
Appver: 1.10.0.13

[2020-05-10 19:10] barudaret commented on #3043
I'm on a stock galaxy s20 and same problem

[2020-05-19 20:21] TacoTheDank opened #3047 "Update PhotoView to 2.x"
**Describe the chore**

https://github.com/fossasia/phimpme-android/blob/development/app/build.gradle#L198
Update chrisbanes's photoview to 2.3.0.

**Would you like to work on the issue?**

No, someone who knows what they're doing should do it.

Notes to help:
https://github.com/chrisbanes/PhotoView/releases
After 2.0.0, you'll have to read the commits to see what has changed. They stopped making

[2020-05-19 20:29] TacoTheDank opened #3048 "Update Exoplayer to 2.x"
**Describe the chore**

https://github.com/fossasia/phimpme-android/blob/development/app/build.gradle#L162
Update Exoplayer to 2.x.

I opened this once before [here](https://github.com/fossasia/phimpme-android/issues/2849), but you hadn't moved to AndroidX yet. Now that you have, I believe you can do this now.

**Would you like to work on the issue?**

No, I definitely don't have the skills requir

[2020-05-19 20:33] TacoTheDank opened #3049 "Update uCrop to 2.x"
**Describe the chore**

https://github.com/fossasia/phimpme-android/blob/development/app/build.gradle#L172
Update uCrop to 2.x. (https://github.com/fossasia/phimpme-android/pull/3023 I guarantee isn't the way it's supposed to be done)

**Would you like to work on the issue?**

No, sorry.

Notes to help:
https://github.com/Yalantis/uCrop/blob/develop/README.md#changelog (Not much help tbh, you'll p

[2020-05-22 15:58] 17102001 opened #3050 "Error Showing when we go for gradle project sync in the app dependices"
Dear Sir,
I recived an error while we go for the gradle project syc in android stuido. These error will show please solve these errors and provide the correct code to solve the probelm and the code of the dependices is here
apply plugin: 'com.android.application'

android {
    compileSdkVersion 29
    defaultConfig {
        applicationId "com.sharan.sharanapp"
        minSdkVersion 15
        ta

[2020-06-08 12:04] Rishank23 opened #3051 "Problem in scrolling accounts/elements in "Accounts" tab in small screen mobile phones"
**Describe the bug**

Some of the accounts/elements in the "Accounts" tab are hidden by the Bottom Bar and when we try to scroll them, it is not scrolling.
**Note:** This problem can be noticed only on small screen phones

**To Reproduce**

1. Go to Accounts Tab
2. If all the accounts are not visible then try to scroll down

**Expected behavior**

Users should be able to scroll the elements in thi

[2020-06-28 17:50] piyushcrypto commented on #2922
I want to work on this.

[2020-07-08 20:27] #2985 closed

[2020-07-09 13:36] naman-150200 commented on #3051
Yes

[2020-07-10 05:26] Rishank23 commented on #3051
Sorry to say, but I have already linked a pull request for this issue.

[2020-07-31 02:23] saketsingh0078 commented on #2991
is issue is fix ,if not i want to work on it

[2020-08-15 03:11] ammgws commented on #1181
What's the status on this? Anything left to do?

[2020-08-15 09:02] ammgws commented on #3036
Is this not broken for a lot of people? I ended up uninstalling the Play Store version and manually installing the latest dev apk in order to be able to use this again.

[2020-08-15 17:47] iamareebjamal commented on #1181
Yes, a lot of things remaining https://gitlab.com/fdroid/fdroiddata/-/merge_requests/5877

[2020-08-26 14:30] AyusPokhriyal-18 commented on #3050
Please, try this-
In Android Studio->Go to File->Other Settings->Default Settings->Build, Execution, Deployment->Build Tools->Gradle->Uncheck Offline work option.

[2020-08-27 06:06] devashishpurohit commented on #2960
@HarshTyagi007  If you are not working on this, Can I pick it up

[2020-08-27 06:08] devashishpurohit commented on #2636
@yashk2000 If you are not working on this, Can I pick it up?

[2020-08-27 06:29] yashk2000 commented on #2636
Go ahead @devashishpurohit :rocket:

[2020-08-31 05:48] saloniranka02 commented on #2636
@yashk2000 Can I get some details regarding the test procedures that are needed to be followed while testing this feature?

[2020-09-01 19:18] yashk2000 commented on #2636
There aren't UI tests in the application yet. If you would like to implement a UI test for this feature, it would be great. You can do that in the PR for this feature itself, or in a separate PR.

While testing it on a physical device, ensure that it works as expected without any adverse effects like crashing the app. Also while submitting the PR, submit a GIF/video showing how the feature worked

[2020-09-28 15:01] mariobehling commented on #2954
Out of scope.

[2020-09-28 15:01] #2954 closed

[2020-09-28 15:05] mariobehling commented on #2949
out of scope currently.

[2020-09-28 15:05] #2949 closed

[2020-09-28 15:06] mariobehling commented on #2941
Do not understand this issue.

[2020-09-28 15:06] #2941 closed

[2020-09-28 18:17] Devansh3712 commented on #2556
@mariobehling can i work on this issue?

[2020-09-29 13:53] ArpitShukIa commented on #3017
Why has this issue been reopened? The PR was once closed but opened again. I would like to work on this.

[2020-10-01 10:37] abishekvashok commented on #2556
Yes!

Go on :D

[2020-10-01 19:24] SunitRoy2703 commented on #3051
I'm working on this

[2020-10-02 05:46] maharishi-01 commented on #2922
I am working on it.

[2020-10-03 07:18] SunitRoy2703 commented on #3041
i'm working on this

[2020-10-03 18:49] HaripriyaB commented on #2993
can I take up this issue??

[2020-10-04 13:56] pranoppal opened #3088 "Account Activity's RecyclerView.OnItemTouchListener not working"
**Describe the bug**
Touch on any of the Social platforms are not working.
I debugged the application and found the problem in onInterceptTouchEvent function in RecyclerItemClickListner class

**To Reproduce**

|               | |
|---------------|-|
|Device         |Nokia 8.1|
|Android Version| Android 10
![ezgif com-gif-maker](https://user-images.githubusercontent.com/39507443/95017527-6fb5ea80-

[2020-10-05 11:06] SunitRoy2703 commented on #2921
I'm working on this

[2020-10-05 14:20] nileshteji commented on #3088
@pranoppal Hello.i Think this is not a bug .it is actually telling us which api is enabled in the application .For more information you can check the setup guidelines for this project

[2020-10-05 14:22] nileshteji commented on #3043
@joshbowyer can you tell us more about the crash or share the logcat result with us. It would be very helpful Thankyou.

[2020-10-08 17:49] saloniranka02 commented on #2636
What automated testing tools does fossaisa prefers to use?

[2020-10-10 07:54] pranoppal commented on #3088
Hello @nileshteji sorry for the late reply,
Yes, I agree that it is telling which api is enabled.
But if I click on any api then I should be able to login to the corresponding website, but the touch listener is not working and no action is taking place.
Even I'm having this issue with play store build also.

[2020-10-10 18:11] nileshteji commented on #3088
@pranoppal I think you are misunderstanding for the API to enable you to have to enter the API key in the application. Check the Setup Guide. Correct me if i am wrong.Thank you

[2020-10-12 05:14] kshitiz-kumar commented on #2980
Is anyone working on this ?  If not please assign this to me @mariobehling .

[2020-10-12 06:57] #3017 closed

[2020-10-18 19:56] Pratham2305 commented on #2991
If it is not resolved, I would like to work on this.

[2020-10-22 04:54] #3088 closed, assigned to nobody

[2020-10-24 10:55] Khushi-24 commented on #2922
I want to work on this

[2020-10-24 12:38] maharishi-01 commented on #2922
@Khushi-24  yup go ahead.

[2020-10-24 13:03] JanviMahajan14 opened #3110 "Error while building the project: Grade Sync Failed"
**Describe the chore**
Hello, I am getting the below error during configuring project ':app'.
Please help to resolve this.

Error Message :  groovy.lang.GroovyRuntimeException: Cannot set the value of read-only property 'executionData' for task ':app:jacocoTestDebugUnitTestReport' of type org.gradle.testing.jacoco.tasks.JacocoReport.

[2020-10-25 09:03] mishra5047 commented on #3110
Hi @JanviMahajan14 I can help

[2020-10-25 10:55] JanviMahajan14 commented on #3110
Sure @mishra5047 ! Please tell me how to resolve this.

[2020-10-28 10:27] YugN17 commented on #2991
is anyone working on this????

[2020-10-30 01:36] Prince-kushwaha commented on #2698
I want to work on this issue assinged me

[2020-11-02 02:22] geckolinux opened #3112 "Request: Option to disable splash screen"
Hi, thanks for this excellent app. Would it be possible to have an option to disable the splash screen? I don't think it's necessary for most reasonably fast devices, since the editor opens instantly when coming from the thumbnail in a camera app.

I am not capable of implementing this, but I would appreciate it if somebody did.. Thanks!

[2020-11-07 06:35] shakti555 commented on #3112
Hello i want fix this issue.

[2020-11-21 15:59] iamsdas commented on #3043
Although the first launch took a while, It **opens** fine for me.
Phone: Realme 3 pro
OS: Pixel Experience 10 (Android Q)
App version: 1.11.0

[2020-11-21 17:33] anaskaejdar commented on #3043
There was an Android update and it no longer crashes for me.

[2020-11-24 08:36] AmanNegi commented on #3112
Is someone working on this issue? If not, can I fix this?

[2020-11-26 07:14] iamvs-2002 commented on #3112
Hey! Kindly assign this issue to me.

[2020-11-26 07:21] iamvs-2002 commented on #3049
Hey! May I look into this issue?
Also could you please explain what exactly do you mean by 2.x? Does that refer to zoom in?

[2020-11-26 08:44] iamvs-2002 opened #3123 "Crash"
**Describe the bug**
App crashes on startup.

**To Reproduce**

**Expected behavior**

**Logs**

2020-11-26 14:04:14.829 5500-5500/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.fossasia.phimpme, PID: 5500
    java.lang.RuntimeException: Unable to get provider androidx.startup.InitializationProvider: java.lang.ClassNotFoundException: Didn't find class "androidx.startup.InitializationPr

[2020-11-27 14:29] sanyam-jain25 commented on #2636
The apk in Android Studio Emulator is neither running on an AVD nor on a physical device, Is there any restriction on the Android version that it should be 8+ and below 11?
For a physical device, it is showing that Splash Screen doesn't exist although it is there.
Could you please help in identifying where I.m going wrong? It would be a great help.

[2020-11-28 21:55] TacoTheDank commented on #3049
@iamvs-2002 It refers to the major version upgrade from 1.y.z to 2.y.z (where y and z are minor and patch versions, respectively).

[2020-11-29 10:40] iamvs-2002 commented on #3049
Okay! Thanks.

[2020-11-29 22:01] kavinprabhuc commented on #3123
It's exactly the same for me too! Not able to sort it out the cause of it!

[2020-12-10 17:04] asaikarthikeya commented on #2990
@manan025 I would like to work on this issue .

[2020-12-11 01:19] asaikarthikeya commented on #1181
@iamareebjamal Hello sir , I am willing to contribute can you please guide me.

[2020-12-11 01:56] asaikarthikeya commented on #2951
@Akshit1311 I would like to work on this issue. Can you give me some reference to get started with this issue.

[2020-12-13 13:41] AnandSidd commented on #2989
I would like to work on this issue, please assign it to me

[2020-12-13 13:44] AnandSidd commented on #2979
I am working on this issue

[2020-12-13 13:54] AnandSidd commented on #2951
I would like to work on this issue. Can you assign me this issue

[2020-12-14 02:32] asaikarthikeya commented on #3110
I am also getting the same issue!! Trying from 2 days but unable to understand what went wrong.
@mishra5047 @JanviMahajan14 Did any one of you figure out??

@mariobehling

[2020-12-15 18:57] asaikarthikeya opened #3130 "Error while building the project: Evaluating the project"
I got this error message while building the project.

Error -

![Screenshot (12)](https://user-images.githubusercontent.com/70392921/102259719-785b5480-3f35-11eb-9015-d374cf8b95f1.png)
A problem occurred evaluating project ':app'.

build.gradel -
[code]

[2020-12-15 19:06] asaikarthikeya commented on #3123
@kavinprabhuc  Did you find some way?

[2020-12-15 21:13] indexoutofboundsexceptionn commented on #3123
I am also facing the same issue.

[2020-12-16 09:53] kavinprabhuc commented on #3123
@asaikarthikeya I was not able to do anything with this one. While I was searching for image editor lib I ended up finding https://github.com/iamutkarshtiwari/Ananas which has mostly what I was looking for. So dropping this one here!

[2020-12-16 11:15] asaikarthikeya commented on #3123
Mentors are not looking at this project right now.

[2021-01-02 15:31] Varinder-KM commented on #3123
Hey! May I look into this issue?

[2021-01-02 15:42] asaikarthikeya commented on #3123
@Varinder-KM Ya definitely you can . Go ahead :)

[2021-01-04 04:09] SpandanBasu commented on #3112
As No pull requests are submitted so far... I want to work on this issue.. Please assign me

[2021-01-04 08:08] abishekvashok commented on #3112
Okay go on but beware that the performance will nominally be the same on the so called fast devices.

[2021-01-05 08:22] msubham193 commented on #2990
Can i work on this issue?? @manan025

[2021-01-05 08:25] asaikarthikeya commented on #2990
@manan025
No need to claim in bro.. You can go ahead :)

[2021-01-07 11:52] abishekvashok commented on #2990
@msubham193 sure go ahead!

[2021-01-08 07:35] Debanshu777 commented on #3050
@17102001 there is **dependency doesnot exist** 'implementation 'com.android.support:appcompat-v7:29.+'' because  Support Library 28.0.0 is the last feature release under the _android.support_ packaging. Migrate to [AndroidX](https://developer.android.com/jetpack/androidx)
@mariobehling I guess this issue can be closed.

[2021-01-14 16:38] #3130 closed, assigned to nobody

[2021-01-15 18:07] mjvns commented on #2993
I would like to work on this issue.

[2021-01-18 06:57] CodeWithSouma commented on #2993
![20210118_105431](https://user-images.githubusercontent.com/38830139/104882015-54ea5600-5988-11eb-989c-82d34c8dc7e7.gif)
**I don't find any issue**

[2021-01-19 15:31] DevDorrejo opened #3144 "Not work on poco f1"
**Describe the bug**
Installed the app, open the app, stay on the splash screen.

**Expected behavior**

The app finish to load.

**Logs**

Not have

**Screenshots**

![Screenshot_2021-01-19-11-28-07-985_org fossasia phimpme](https://user-images.githubusercontent.com/7697566/105055680-ae668980-5a49-11eb-9414-ee75416a9839.jpg)

**Smartphone Info:**

|               | |
|---------------|-|
|Device

[2021-01-28 03:16] Prashant830 commented on #2947
Can I solve this problem

[2021-01-28 03:26] Prashant830 commented on #2926
Can I solve this issues

[2021-01-28 03:28] Prashant830 commented on #2923
Can I solve this issue

[2021-01-28 03:30] Prashant830 commented on #2922
Can I solve this issues

[2021-01-28 03:31] Prashant830 commented on #2921
Can I solve this issue

[2021-01-28 13:32] abishekvashok commented on #2922
Yeah go ahead

[2021-01-29 08:20] spacemonkey1101 commented on #2922
is this issue open? if yes, can i be assigned?

[2021-02-01 18:18] shatanikmahanty commented on #3043
First Launch takes too much time on Samsung Galaxy A30s (Android Q).

The app is loading albums and images in splash screen through async tasks. And thus gets stuck at splash screen, a progress indicator can send proper signal to user that app is loading data. Current implementation gives user the feeling as if the app is lagging

Logcat :

[code]

[2021-02-05 08:17] buergi commented on #3144
Same behavior on my Huawei P20 Pro (Android 10). Except that the logo on my screen is white.

[2021-02-20 11:15] moeenio commented on #1509
Seriously?

[2021-04-09 05:03] farhazulMullick commented on #2903
@codedsun  I am a beginner in contributing to open source, how can i contribute in this project

[2021-04-15 20:44] airman00 commented on #1484
Happened to us because ndk-bundle was "missing platforms"

Solution was simply to add an empty platforms/ folder to the sdk/ndk-bundle directory.

[2021-04-20 15:42] Marvel999 commented on #3112
Is someone working on this issue? If not, can I fix this?Please assign me

[2021-05-03 06:31] asaikarthikeya commented on #3112
Go ahead! Thanks.

[2021-05-04 08:16] chanshu19 commented on #3144
it seems that it doesn't work on Android version >=10.0

[2021-05-07 20:45] DevDorrejo commented on #3144
sad

[2021-05-26 19:25] Ankit-akumar opened #3178 "Share image to other platforms feature not working"
**Describe the bug**
While testing different features of the app I noticed **some issues in Sharing** clicked images. **None of the provided methods to share images is working**.

**Expected behavior**
As usual, should open a dialog box to suggest to the user different ways to share the selected image. And upon clicking any of them the image should be shared.

**Recording**
https://user-images.git

[2021-05-26 20:48] Ankit-akumar commented on #3178
UPDATE:
Okay, I think that was happening because I hadn't signed in to any accounts yet.  But still, the Accounts activity is broken :-(.
Moreover, The app is running really slow. Is it due to the android version as I read other issues which say the app doesn't work for android >= 10?

[2021-05-27 05:44] Prashant830 commented on #3051
I want to work on it..

[2021-05-27 06:54] SunitRoy2703 commented on #3051
@Prashant830 please work I'm not working

[2021-05-27 08:48] Prashant830 commented on #3051
@SunitRoy2703 okay..

[2021-08-02 21:09] Varish786 opened #3193 "Theme is not Working"
In the setting menu ** Basic Theme **  is not working.

#Explanation
- After Go to Setting
- Choose the Basic Theme
- Dark or Dark Amoled
- its not working

[2021-08-02 21:17] Varish786 opened #3194 "There is no Filter Option"
Add the filter option in menu Bar

[2021-09-08 18:09] RAJATNEGI commented on #3112
Hi @abishekvashok  if this issue is not fixed can i work on it

[2021-09-09 08:05] RAJATNEGI opened #3195 "Failed to Build Project"
**Describe the bug**
Build failed to build Successfully

**To Reproduce**

1. Clone repo
2.Try to build on Android studio
3. Result: Project failed to build

**Expected behavior**
Build should be successfully build.

**Logs**
 E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.fossasia.phimpme, PID: 6746
    java.lang.RuntimeException: Unable to get provider androidx.startup.InitializationPr

[2021-09-09 08:05] RAJATNEGI commented on #3195
@abishekvashok  can i work on this issue

[2021-09-27 00:38] meximan commented on #1181
Any updates on the f droid merge?

[2021-09-27 00:46] meximan opened #3224 "Black screen when clicking the edit button on any picture"
I get a black screen after clicking edit button on any picture.

1. Open picture
2. Click edit
3. Picture never opens and I get a black screen.
- this happens with any picture I try to edit. I am using a Samsung a20 phone with android 11 and its fully updated. I degoogled it so it doesn't have playstore or Google framework.

**Would you like to work on the issue?**

- [ ] Yes
- [ x] No
- Other:

[2021-09-27 00:52] ghost commented on #1181
It looks like this app might have been abandoned. It hasn't had a commit since 2020 Oct 12th. All the other commits were bot commits to bump up dependency versions. Last release was 2020 Aug 15th.

[2021-09-27 00:59] meximan commented on #3224
I reinstalled the app and its working just fine now. Weird. I didn't even mess with the settings. Hopefully this doesn't happen again.

[2021-09-27 01:22] meximan commented on #3224
I cleared cache and app data and the bug went away.

[2021-09-27 01:22] meximan commented on #3224
Weird I never edited the Phimp settings.

[2021-09-27 01:25] meximan commented on #3224
OK so I am getting a black screen with no editing buttons again.

[2021-10-07 00:14] meximan commented on #1181
That's unfortunate

[2021-12-14 07:11] sempsmahad commented on #3194
@Varish786 please throw more light on the issue, for example what filter options would you desire? The app basically only loads pictures if it were loading videos too then the filter option would be relevant, don't you agree?
For now I presume the search option does the filtering.

[2021-12-14 07:13] sempsmahad commented on #3193
Please share information about the device you are using specifically device name ,model and android version.

[2022-01-06 15:23] cristianoccazinsp opened #3257 "Use image processing features as if it were a library?"
**Describe the feature you'd like**
Would it be possible to use all the image improving features of this app as a stand-alone library?

[2022-01-06 16:03] abishekvashok commented on #3257
That is an interesting future direction, but I don't think this would be super useful given the camera tech out there.

The plans to make this to a library are currently, well, none. But it can change :) However, if you are to use the image improving features of the app, feel free to do so, as long as you add to the license in the repository.

[2022-01-06 16:10] cristianoccazinsp commented on #3257
Thanks, that makes sense! I was just wondering if it was already made since there seems to be a nice set of image enhancing algorithms already implemented here which would save some time if I were to go chasing opencv code.

[2022-01-18 06:34] sempsmahad opened #3265 "Failed to build"
**Failed to build the project after following all instructions thrice**

I Followed all the first time instructions promptly gradle syncs but studio says there are several files with errors an example is in the screenshot , how ever you switch to the new or old exoplayer libraries no luck
**To Reproduce**

**Expected behavior**

**Logs**

**Screenshots**

![Screenshot 2022-01-18 092826](https://us

[2022-01-20 17:55] akhil-1906 commented on #2990
Can I work on this issue?? @manan025

[2022-01-23 20:04] devarsh-mavani-19 commented on #2951
@mariobehling i want to work on this issue please can you assign me this issue?

[2022-01-31 05:31] manan025 commented on #2990
I don't know, please ask @mariobehling.

[2022-01-31 09:39] abishekvashok commented on #2990
@akhil-1906 go ahead :)

[2022-02-08 16:35] Subhadiptech commented on #3265
You can try to use Clean Project.

Go to Build > Clean Project

It may fix it.

[2022-02-08 16:42] Subhadiptech commented on #2960
Hey, this issue still prevails. Can I take up this issue ?

[2022-02-08 16:43] Subhadiptech commented on #2960
Close this issue. Its solved

[2022-03-28 10:01] rancidfrog commented on #2857
@yashk2000
Why dont you attach as assets in release section, since you already have detailed changelog:
https://github.com/fossasia/phimpme-android/releases

[2022-03-31 12:21] RiqueFR opened #3285 "Google Play version does not open"
The Google Play version does not open on my phone. When I try to open, it shows the logo, but do not proceed to the app.

**To Reproduce**
1. Download the app from the Play store
2. Open it

Expect the app to open

No logs

**Smartphone Info:**
|               | |
|---------------|-|
|Device         |Xiaomi Mi A2|
|Android Version| Android 10  |

**Would you like to work on the issue?**

- [ ] Yes

[2022-04-10 17:41] bidyut1153-2 opened #3289 "Code quality image got not found and app site not found"
**Describe the chore**
Code quality badge is not found and https://www.codacy.com/app/harshithdwivedi/phimpme-android. HOW to fix it?

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2022-04-10 17:45] bidyut1153-2 opened #3290 "Some readme issues"
How to fix this?
1. twitter show invalid user
2. twitter account got supsended
3. codacy badge not found
4. codavy app site not found
5. travcvi site not found

[2022-07-17 23:37] TacoTheDank commented on #3048
These have been fixed.

[2022-07-17 23:37] #3048 closed

[2022-07-17 23:40] TacoTheDank commented on #3049
This has been done. Correctly? IDK.

[2022-07-17 23:40] #3049 closed

[2022-07-17 23:40] TacoTheDank commented on #3047
This has been fixed. Correctly? IDK.

[2022-07-17 23:40] #3047 closed

[2022-11-27 13:31] AadeshPatil commented on #3285
Hey, is it still open ?