[2016-08-14 13:17] mariobehling opened #2 "Add travis and integrate other relevant CI tests"
What test frameworks are useful apart from travis? Please propose and implement them.

[2016-08-14 13:20] mariobehling opened #3 "Automatically create an apk after PRs with travis"
Please add an automatically generated apk with travis into the repository.

[2016-08-14 13:23] mariobehling opened #4 "Add setup documentation to Readme"
Please add relevant documentation to https://github.com/fossasia/phimpme-android/blob/master/README.md

[2016-08-15 07:38] pa1pal commented on #2
Please flick the repository on travis. I don't have admin access.

[2016-08-15 07:39] pa1pal commented on #4
#5 added setup documentation, license, screenshot and maintainers list.

[2016-08-15 08:12] #4 closed

[2016-08-15 08:19] mariobehling opened #6 "Travis Build Failing"
Error as below:

FAILURE: Build failed with an exception.
* What went wrong:
A problem occurred configuring project ':app'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.
BUILD FAILED

[2016-08-15 18:51] pa1pal commented on #6
The reason is travis never work with Google APIs SDK version in normal way.
To do so I added **addon-google_apis-google-$ANDROID_API_LEVEL** Level in our case is 23.

After that there is alot of other exceptions as well.
This #7 PR in reference to all these.

[2016-08-15 19:38] #6 closed

[2016-08-15 19:39] #2 closed

[2016-08-16 12:18] pa1pal opened #8 "Codecov failed"
Add the jacoco plugin and required scripts to integrate with travis.

[2016-08-16 13:15] mariobehling commented on #8
Thank you!

[2016-08-16 13:15] #8 closed

[2016-08-17 12:23] pa1pal opened #11 "App crashed while mounting images from different accounts"
There is security exception as per the crash report.

[code]

[2016-08-17 12:23] pa1pal opened #12 "Blank screen while uploading images."
No DRP key due to exception:java.lang.ClassNotFoundException: com.android.webview.chromium.Drp

[2016-08-17 12:23] pa1pal opened #13 "Maps not visible"
Need to upgrade the maps library to v2 from current v1.
v2 will not use MapActivity so need to refactor the code.

[2016-08-22 10:07] pa1pal opened #15 "Front camera not working in every phone."
App is crashing when setting parameters.

[2016-08-22 11:47] #15 closed

[2016-08-22 11:48] pa1pal commented on #3
#10

[2016-08-22 11:48] #3 closed

[2016-08-30 19:13] pa1pal opened #16 "Can't login and Upload Images to facebook"
Can't able to signin after selecting facebook account from the list.

[2016-08-31 03:39] #16 closed

[2016-08-31 03:40] #12 closed

[2016-08-31 03:40] #11 closed

[2016-09-01 11:52] pa1pal opened #18 "Edit, Upload, Share menu options not working."
Edit, Upload and Share options are not working when open image from gallery.

[2016-09-02 14:48] #18 closed

[2016-09-06 11:38] pa1pal opened #20 "Settings features not working, app crash on click."
Most of the features in settings activity are not working.
On click app crashed.

[2016-09-06 11:39] pa1pal commented on #20
Most of the features are not needed anymore in the app. Will clean the code.

[2016-12-06 03:43] kaine119 opened #22 "Enhance design to conform with Material Design guidelines"
Coming from this GCI 2016 task: https://codein.withgoogle.com/dashboard/task-instances/5984010633216000/

Hi, I'd like to revamp the UI to conform with [Material Design guidelines](https://material.google.com/).

A few questions:
* What is this app mainly designed to do? What's its main focus?
* Is there a minimum Android version I need to support? I'm not entirely sure, but some UX libraries for

[2016-12-06 04:08] pa1pal commented on #22
@kaine119 the objective of Phimpme is to share images to many social networks right from the app.
The project was very old some improvements done on the features so not every feature is working.  No improvement was done on the design part yet. The objective of this task is to learn the material design guidelines and  concepts of sizes and densities.
The minimum android version is 4.0.
So first clo

[2016-12-06 06:27] kaine119 commented on #22
@pa1pal: I'd like to replace the `TabHost` navigation bar currently used with a [nav drawer](https://material.google.com/patterns/navigation-drawer.html). I'll most likely do this with the [`DrawerLayout`](https://developer.android.com/training/implementing-navigation/nav-drawer.html) class from the [Support Library](https://developer.android.com/topic/libraries/support-library/index.html#form-fac

[2016-12-06 07:55] pa1pal commented on #22
@kaine119 nice progress.
TabActivity is deprecated but not the TabHost that's why it is still working fine. In Tabhost you can add your Activities on a tab and directly using callback functions show then onClick. Here is the [link](https://github.com/fossasia/phimpme-android/blob/master/app/src/main/java/vn/mbm/phimp/me/PhimpMe.java#L636-L643) in the code.

In this app, we want a bottom navigation

[2016-12-06 08:26] pa1pal commented on #22
Try doing Drawer layout as bottom view. Search you will get some tutorials. Or use BottomNavigationview with activities. Add the bottomview code in every activity and change using listners.

[2016-12-06 08:31] kaine119 commented on #22
@pa1pal: I think I'll use the BottomNavigationView. Drawers are supposed to come out from the side, according to the [spec](https://material.google.com/patterns/navigation-drawer.html).

To clarify, are tabs changed by starting an intent for the corresponding class? because as far as I can tell, intents put into `spec.setContent()` are activated when the tab is selected. Is this correct?

[2016-12-06 08:51] pa1pal commented on #22
Yes, @kaine119 your are correct :+1:
If you are not familiar you can see the documentation of any function by ctrl+click on it.

[2016-12-06 08:59] kaine119 commented on #22
@pa1pal There also seem to be two different map tabs with the same icon: `OpenStreetMap` and `GalleryMap`.
Which is to be used?

[2016-12-06 09:17] pa1pal commented on #22
Use OpenStreetMap because of maps v1 API it is of no use. Skip it for now. Use 4 activities.

[2016-12-06 09:42] kaine119 commented on #22
![screenshot_20161206-173853](https://cloud.githubusercontent.com/assets/9492636/20920553/5a8d535e-bbdb-11e6-8941-49cd3297bdc7.png)

How's this? The icons expand when you select them.
The grey area in the background will be the content.

[2016-12-06 11:06] isiratc opened #23 "Enhance design and modify all the Icons/Images using Material Design"
Hello,
I'm a student who participate google code in contest.
I would like to improve the user interface using material design.
Thank you.

[2016-12-06 11:11] pa1pal commented on #23
Hi @isiratc. Welcome.
Fork the repo and run in your system. Come up with few ideas for design improvements.

[2016-12-06 11:35] kaine119 commented on #22
@pa1pal:
Launching a new activity with intents draws over the navigation bar. Apart from the camera, would it be better just to convert the activities to fragments, then swap them out as needed?

[2016-12-07 06:12] kaine119 commented on #22
I'm done! PR #24

[2017-01-08 08:04] oanarosca opened #26 "Replace icons and improve overall design"
The idea is to replace the icons by following the Material Design guidelines, especially the ones in the `take picture` activity and the `editing` activity, plus to fix some bugs related to them.

[2017-01-08 08:19] #26 closed

[2017-01-08 20:45] mariobehling opened #27 "Automatically build an apk file in the apk branch"
The goal of this issue is to get an apk on each merged pull request build in the apk branch.

Use travis to build apks automatically. You can check other FOSSASIA projects e.g. Open Event Android and Susi Android how it is done there.

[2017-01-09 02:22] Heredroky commented on #27
@mariobehling I will work on this

[2017-01-10 00:42] Heredroky commented on #27
@mariobehling Is it mandatory to generate the apk in the apk branch?

[2017-01-10 02:35] Heredroky commented on #27
@mariobehling Check #28

[2017-01-16 12:31] Abhi2424shek opened #30 "Should we modify the design along with the theme"
The app currently uses a dark theme, used in older versions of android can we go for a complete make over  in design.

[2017-01-16 14:15] mariobehling commented on #30
Sure, go ahead. A new light material design theme would be awesome!

[2017-01-16 16:30] Abhi2424shek commented on #30
Sure then I would give a PR but it would take some time approx 15 days, I know that's long but national examinations are approaching sir so please give me some time for it! (That will be done not as part of GCI)

[2017-02-10 05:56] aviaryan opened #31 "Issue with phimp.me redirect"
phimp.me currently redirects to

[code]

It doesn't work and should be changed to

[code]

[2017-02-10 14:15] mariobehling commented on #31
Done.

[2017-02-10 14:15] #31 closed

[2017-02-10 14:25] mariobehling commented on #23
Please open specific issues for defined areas. Closing it therefore.

[2017-02-10 14:25] #23 closed

[2017-02-10 14:27] mariobehling commented on #27
This issue is not solved yet unfortunately. There is a sample apk folder in the master branch, but the goal of this issue is to get automatically generated apks in the apk branch.

[2017-02-10 15:04] pa1pal commented on #27
I will fix this.

[2017-02-12 11:14] mariobehling opened #33 "Add a list of features to the Readme.md with current status"
What are the features of this app? Please add a list to the Readme.md

[2017-02-17 07:18] Kshitij-Jain opened #35 "Google Maps API has been deprecated."
We need to update Google Maps API and code according to it. Facing issues when trying to build gradle due to it.

[2017-02-17 08:50] Abhi2424shek commented on #35
But it works in Travis very well.

[2017-02-24 11:18] heysadboy opened #36 "Rewrite maps related code using v2 api"
Although the project is using libraries of earlier versions, the compile SDK version and the versions of the appcompat and design libraries used should be updated to make it compatible with Nougat Devices.

Due to deprecation of few things in the code base it has become tedious to work on it (majorly map related  v1 is depreciated).

Even if I try to make changes there will be possibilities that t

[2017-02-24 17:53] pa1pal commented on #36
@heysadboy Yes you're right. The possible solution is to rewrite the map code in new v2 api because almost everything got changed. Map related files causing errors in the latest sdk version.

[2017-02-25 03:58] heysadboy commented on #36
@pa1pal Thanks. Can we remove those files to start afresh. They are also hindering the development of other features also due to inability to test the app as whole although I see it passing in Travis.

[2017-02-25 04:28] pa1pal commented on #36
@heysadboy Do not remove the code completely, because we may need this code in future development with latest api to see the features. So see specifically what causes the problem and if you could fix it or else remove it for now.

[2017-02-25 17:43] anantprsd5 commented on #36
@heysadboy @pa1pal MapActivity is from the old, defunct MapsV1 way of integrating Google Maps. Since we cannot get API keys for MapsV1 anymore, so do we have to modify the whole code to use MapsV2?

[2017-02-25 18:06] pa1pal commented on #36
@anantprsd5 Yes we cannot get the api keys for MapsV1 api. And lots of the objects got changed such as GeoPoint, Overlays etc. So from the old code we can get some idea what was implemented earlier and modify it.
The basic maps idea which I get from the old app is that every click of photo it records the Lat and Lang of the location. So those photos on the maps according to the current location. A

[2017-02-25 18:56] heysadboy commented on #36
@pa1pal @mariobehling The latitude and longitude of the photo are saved as the metadata nowadays, like instagram uses them automatically at the time of posting the photo. So, instead of recording the data we can use metadata.
I think it is more tedious to update the whole depreciated code in comparison to writing the code from start. Same applies for other parts of the project.

@anantprsd5 Yes, w

[2017-02-27 13:31] anantprsd5 commented on #36
@pa1pal @heysadboy Will it not be good if we remove all the code related to maps and start creating issues for the things related with maps one after the other because it is giving errors in all the imports related with maps and it is not possible to install the app in the phone.

[2017-02-27 13:54] heysadboy commented on #36
@anantprsd5 Please see the second comment, I already suggested that.

[2017-02-27 15:33] pa1pal commented on #36
@anantprsd5 and @heysadboy
My suggestion is to first test the app after removing all maps related functionality one by one, and checking whether it's working after that or not. Also the upgrade of compiled sdk version for which this issue is.
Will move the code to another branch if it works fine and move to the master, feature by feature.
Go ahead :+1:
I would also like to get @mariobehling sugges

[2017-02-27 15:43] Abhi2424shek commented on #36
Yes I agree with @pa1pal we would need to create a new branch, move it one by one and after I all works fine  we would push to master back.  Mario sir would be available only after the fossasia summit.

[2017-02-27 15:45] heysadboy commented on #36
@pa1pal That would be really very helpful.

[2017-02-28 08:14] anantprsd5 commented on #36
@pa1pal I have removed all the maps related functionality and now the gradle builds are running without any issues  using sdk version 23. Shall I send a PR for it?

[2017-02-28 14:01] Abhi2424shek commented on #36
@anantprsd5 is the code working? If yes pls send it to the master branch if not send it to the development branch which I have created as the plan.

[2017-02-28 14:19] DravitLochan opened #37 "gradle build error"
on importing the project to android studio, project build fails with the following error message "Gradle sync failed: Failed to find target with hash string 'Google Inc.:Google APIs:23' in: C:\Users\user\AppData\Local\Android\Sdk".

changing the compileSdkVersion to 24 in build.gradle file in app folder does the work.

I can pr fr this ?

[2017-02-28 14:20] Abhi2424shek commented on #37
I am sorry but isn't this the duplicate of #36? @DravitLochan

[2017-02-28 14:32] DravitLochan commented on #37
my bad. i did not go down so many comments and title just talked about maps library.

[2017-02-28 14:33] #37 closed

[2017-02-28 14:33] Abhi2424shek commented on #37
It's ok

[2017-02-28 15:10] pa1pal commented on #36
@anantprsd5 nice effort 👍
I agree with @abhi2424shek please test it after update of compile sdk version, for which this issue is all about. And send PR.

[2017-03-01 07:50] Abhi2424shek commented on #35
Closing in favour of #36

[2017-03-01 07:50] #35 closed

[2017-03-01 07:51] Abhi2424shek commented on #36
Now we got the map functionality commented out in the development branch, we would need to rewrite it now.

[2017-03-01 07:52] Abhi2424shek commented on #13
@pa1pal should we keep this or #36

[2017-03-01 07:53] #33 closed

[2017-03-01 07:53] Abhi2424shek commented on #27
Is it fixed in #32?

[2017-03-01 07:55] pa1pal commented on #13
@abhi2424shek #36 is more elaborated so closing this now.

[2017-03-01 07:55] #13 closed

[2017-03-01 07:57] pa1pal commented on #27
Yes #32 met all the specifications.

[2017-03-01 07:57] #27 closed

[2017-03-01 08:12] #22 closed

[2017-03-01 09:25] DravitLochan commented on #36
I'll be working on maps then.

[2017-03-01 09:34] jsroyal opened #42 "compileSdkVersion 'Google Inc.:Google APIs:23' is depreciated"
Error:Failed to find target with hash string 'Google Inc.:Google APIs:23' in:
<a href="openAndroidSdkManager">Open Android SDK Manager</a>

Solve the issue
compileSdkVersion 23  instead of compileSdkVersion 'Google Inc.:Google APIs:23'

[2017-03-01 10:03] jsroyal commented on #36
@anantprsd5 > I have removed all the maps related functionality and now the gradle builds are running without any issues using sdk version 23. Shall I send a PR for it?
have you send PR ?
Because I still got error related to Error:(3, 101) error: package com.google.android.maps does not exist

[2017-03-01 10:07] pa1pal commented on #36
@jsroyal This improvement is done in this #40 PR and code is in development branch.
We will move the code from development to master feature wise.

[2017-03-01 10:22] jsroyal commented on #36
@pa1pal Thanks, I was trying to solve one issue by issue but getting issue one after another.
Okay.
So still not replace all the code should be work fine.
In the development, branch code work fine?

[2017-03-01 10:34] anantprsd5 commented on #42
@jsroyal This issue has been fixed and compileSdk has been updated to 25. The working code is there in the development branch which will be moved feature wise to the master.
This issue can be closed now.
Thanks.

[2017-03-01 10:50] jsroyal commented on #42
@anantprsd5 Okay .

[2017-03-01 10:50] #42 closed

[2017-03-01 10:57] Abhi2424shek commented on #36
@jsroyal The maps are needed to get the app working bug less. It is depreciated so we commented out the map code and put it in the development branch. So when we should fix the maps by rewriting the code in v2 and then make a pr to the master branch.

[2017-03-01 13:54] anantprsd5 commented on #20
@pa1pal There is a crash whenever the user wants to delete downloaded photos in the App. Shall I fix that or remove that functionality as of now?

[2017-03-01 13:59] jsroyal commented on #36
@Abhi2424shek Problem is master branch code not able to build the project because getting an error about the map API so my suggestion is put the code in master branch at least base code where can anybody start project build. Want more contribute.
As of now, I clone the development branch and building project.

[2017-03-01 14:31] Abhi2424shek commented on #36
@jsroyal the map API is depreciated, we need to rewrite it to build the app, inorder not to risk we created a branch. Master branch has the code which was modified in the development branch to comment out the map codes :) you can help by fixing parts of the map

[2017-03-01 17:54] pa1pal commented on #20
@anantprsd5 Yes sure, do the necessary changes and send PR.

[2017-03-02 04:33] Abhi2424shek opened #50 "Write tests"
We don't have tests currently. Checking that each function works correctly is an integral part in an app development and tests should be used. Currently the project doesnot have any tests and as indicated by codecov the code coverage is currently 0%.While we build the app on Travis and test the changes, it won't be enough, we need to start writing tests.

As a starting point, write junit tests for

[2017-03-02 04:38] Abhi2424shek opened #51 "Add contributors.md"
Adding instructions for contributors is a good way IMO. We can add things like guidelines for new contributors, tutorials on squashing, branching policy, commit message guidelines etc. What do you all say guys?

[2017-03-02 04:44] heysadboy commented on #51
Yeah, I think it is a great idea. We should also add some information about the code to avoid conflicts.

[2017-03-02 05:26] pa1pal commented on #51
Yes it is good for all. I think creating Wiki would be best for this.

[2017-03-02 05:33] heysadboy commented on #51
@pa1pal Should I make one?

[2017-03-02 05:57] Abhi2424shek commented on #51
Well wiki's should describe the project while the contributors guide guides the contributors @heysadboy feel free to do so.

[2017-03-02 06:10] pa1pal commented on #51
@heysadboy Wiki are not enabled yet in the project. So I requested to owner to change settings. I will notify you when it is up.

[2017-03-02 06:20] pa1pal opened #53 "Wordpress upload not working with new version"
The current implementation of wordpress works only for older versions. Because of plugins gets deprecated. New version are not supported.

[2017-03-02 07:26] Abhi2424shek commented on #51
Well can't we have both? Wiki and the contributors guide in the CONTRIBUTING.md it pops up when you make an issue or a PR

[2017-03-02 07:27] Abhi2424shek opened #54 "Add PR and Issue templates"
Adding PRs and issue templates would make the project more better, we could make use of the default .github folder to do so. Can we have it?

[2017-03-02 07:30] Abhi2424shek opened #55 "Enhance the home screen"
As stated in the features the home screen features would need enhancement:
- [ ] Show local captured images
- [ ] Grid view of images

[2017-03-02 07:37] CloudyPadmal commented on #55
@Abhi2424shek I'm currently working on the Grid View! :+1:

[2017-03-02 07:52] Abhi2424shek commented on #55
Sure @CloudyPadmal

[2017-03-02 07:54] rupak0577 commented on #55
@Abhi2424shek Can I work on the first issue?

[2017-03-02 07:57] pa1pal commented on #55
@rupak0577 The two are related. The local captured photos are showing in Grid View which needs enhancement.

[2017-03-02 11:45] heysadboy commented on #51
I see @pa1pal, thanks.

[2017-03-02 13:05] anantprsd5 commented on #54
@Abhi2424shek Working on it.

[2017-03-02 13:38] heysadboy opened #56 "Improving UI"
Improving the overall UI of the app. Adding style file to incorporate material design and update the aesthetic.

![screenshot_2017-03-02-19-04-26](https://cloud.githubusercontent.com/assets/22588035/23509336/63f0101a-ff7b-11e6-85de-c1e82cac67f6.png)

I removed the refresh in the toolbar and added it to the bottom navbar. It's functionality is limitited for now

[2017-03-02 13:44] heysadboy commented on #56
Sending pull request here https://github.com/fossasia/phimpme-android/pull/57 @pa1pal . This issue is different as it incorporates the overall improvement. The subsequent requests can be made in steps.

[2017-03-02 19:39] pa1pal opened #59 "Runtime permission error in API 23+"
App crashes while opening in Marshmallow above devices. Needs to get Runtime permission for READ_EXTERNAL_STORAGE.
[code]

[2017-03-02 19:49] heysadboy commented on #59
@pa1pal Can I work on this issue?

[2017-03-02 19:51] pa1pal commented on #59
@heysadboy  Yes. Go ahead.

[2017-03-03 03:33] dynamitechetan commented on #59
Actually I fixed this.  When I was writing code for camera PERMISSION,  I asked storage and location permissions too.
Please Check the PR.

[2017-03-03 03:38] Abhi2424shek commented on #54
Sure

[2017-03-03 04:14] dynamitechetan commented on #30
I would like to work on this.

[2017-03-03 04:15] Abhi2424shek commented on #30
Go ahead @dynamitechetan

[2017-03-03 04:44] heysadboy commented on #59
@dynamitechetan Thanks. Please do inform in advance from next time if you work on a bug collectively to avoid clashes.

[2017-03-03 04:58] pa1pal commented on #59
@dynamitechetan Yes you did permissions part in your PR, good job.
But app in crashing on newGallery.java for Read external storage permission. It needs to be done there as well. Look at the stack trace for more info.

[2017-03-03 05:38] pa1pal commented on #59
You can use this [guide](https://gist.github.com/vxhviet/c02f8dc0239259a65ac9#file-runtimePermission-md) to implement the runtime permissions in android the correct way.

[2017-03-03 05:52] dynamitechetan commented on #59
@pa1pal a wrote the permission check on the Phipme activity. I tried a fresh install on my friends phone it's not crashing.

[2017-03-03 05:53] pa1pal commented on #59
@dynamitechetan on which android version?

[2017-03-03 06:03] dynamitechetan commented on #59
Marshamallow and Nougat.

[2017-03-03 06:09] pa1pal commented on #59
It is strange. Wait.

[2017-03-03 06:18] heysadboy commented on #59
@pa1pal It is crashing on marshmallow. I checked.

[2017-03-03 06:33] pa1pal commented on #59
@heysadboy @dynamitechetan implemented runtimepermissions using [this](https://github.com/00ec454/Ask) library. It ask for permissions later, but first crash with the above log.

[2017-03-03 06:40] dynamitechetan commented on #59
Okay. Trying to fix this.

[2017-03-03 06:51] pa1pal commented on #59
![issue](https://cloud.githubusercontent.com/assets/6936968/23541201/d8f2e334-000b-11e7-8c83-c43496dd0659.gif)

[2017-03-03 09:14] Abhi2424shek opened #61 "Implement danger with android app previews"
Travis doesnot check for runtime errors of the app currently, we could implement such a system with danger or maybe a bot account to post the previews of the app by taking screenshots or maybe a simple giff which shows the transition of screens and demonstrates button and function clicks as a comment to a PR via Travis or other CI, this could improve the testing, would result in an increase in ove

[2017-03-03 09:25] CloudyPadmal opened #62 "Images taken from Camera shown twice in Gallery"
In Phimp, taking pictures from the camera results in duplicating the image. As I have observed, the image is saved in two different folders with two different names!

1. take_photo
2. PhimpMe_Photo_Effect

Hence when the images from the external storage is fetched, it will show the same image twice.

**Steps to re-produce**
- Open App and go to **_Camera_**
- Click on _Camera_ icon and take a pict

[2017-03-03 09:52] ronaksakhuja commented on #62
On it :)

[2017-03-03 10:13] CloudyPadmal commented on #62
Hello @ronaksakhuja !! You can work on it! But shall we wait a little till @pa1pal or @Abhi2424shek give a comment on this one? I feel like since that _Save_ is for the edited image, they've keeping the original and the edit on purpose :thinking:

[2017-03-03 10:18] ronaksakhuja commented on #62
@CloudyPadmal Alright .

[2017-03-03 10:34] Abhi2424shek commented on #62
Ok, got an opinion for you guys to consider.
If this is intentionally a feature to edit images. Here is my opinion:
- Images should not be saved twice **if** no changes are made when editing.
- There must be an option in settings to turn editing after taking a photo on or off.
- The image editing activity should have a title stating to edit the image.

If it was not intentionally a feature to save

[2017-03-03 10:42] CloudyPadmal commented on #62
Agreed @Abhi2424shek !!

Or may be an implementation can be suggested to show the preview of the image and have some buttons and menus there to save or edit and save or discard the image!!

Once it is confirmed @ronaksakhuja can take it :)

[2017-03-03 10:45] Abhi2424shek opened #65 "Travis tried to deploy the app to apk on pull requests"
Travis credentials for the repo is needed to push the generated apk to the apk branch, since they are not available to pull requests, we could run these scripts on direct commits, since github addresses PR merge commits like direct commit, we can safely have the apk generated for PR merges.

This issue is very easy and can be solved by a one line solution with the help of a Travis variable.

This

[2017-03-03 11:13] optnio00 opened #66 "On click add image : Unfortunately Phimp.me has stopped"
When i want to add imagw for edit or upload. App has been stopped

[2017-03-03 11:15] optnio00 commented on #59
i think you should use 25.0.1+ build toolds.
edit this in gradle files

[2017-03-03 11:22] ronaksakhuja commented on #62
Agreed @Abhi2424shek .
We shall wait for @pa1pal .

[2017-03-03 11:34] Abhi2424shek commented on #59
The build tools are 25.0.2 @optnio00

[2017-03-03 11:40] optnio00 commented on #59
ok
Then open Android terminal in android studio and see what is the error and then ask again or google that error

[2017-03-03 11:51] heysadboy commented on #59
@opticod The error arises due to the updated google guidelines to explicitly accept the permissions from user. It would be great if you could attach screenshots so we know more. The build tools are 25.0.2, please see if you are working on development branch.

[2017-03-03 11:54] optnio00 commented on #66
yes i have

`03-03 17:23:56.120 22535-22535/vn.mbm.phimp.me V/SettingsInterface:  from settings cache , name = sound_effects_enabled , value = 0
03-03 17:23:56.125 22535-22535/vn.mbm.phimp.me D/AndroidRuntime: Shutting down VM
03-03 17:23:56.128 22535-22535/vn.mbm.phimp.me E/AndroidRuntime: FATAL EXCEPTION: main
                                                                 Process: vn.mbm.phimp

[2017-03-03 12:24] dynamitechetan commented on #59
No this error was due in onResume method of NewGallery.java
 Actually this was being called before I checked for permissions.
I wrote a check for that now.

[2017-03-03 13:10] #54 closed

[2017-03-03 13:28] Abhi2424shek commented on #66
Index out of bound exception! Somethjng is trying to access a value beyond that is in a cloumn beyond the length of an array

[2017-03-03 13:33] Abhi2424shek commented on #61
Got one more idea, instead of using an API for images we could make use of google espresso. We can call in a class during the test to save the screenshot, thereby getting saved on the cloud. Updated the issue description.

[2017-03-03 13:38] Abhi2424shek commented on #59
Which PR @dynamitechetan ?

[2017-03-03 15:08] anantprsd5 commented on #65
Working on it.

[2017-03-03 15:24] Abhi2424shek commented on #59
@pa1pal isn't this solved?

[2017-03-03 15:43] #59 closed

[2017-03-03 15:45] pa1pal commented on #59
@Abhi2424shek it wasn't fixed in #52.
#64 did the fix.

[2017-03-03 16:08] #65 closed

[2017-03-03 16:50] Abhi2424shek commented on #61
@mariobehling since @pa1pal has no objections and others are not repon ding whats your opinion?

[2017-03-03 17:08] pa1pal commented on #62
agree with @Abhi2424shek. Firstly, we can work on fixing the bug of is saving images twice even when no editing done.
Then settings option suggested by Abhishek is nice. Use sharedpref with checkbox of toggle Button for user preference.

[2017-03-03 19:30] anantprsd5 commented on #61
@Abhi2424shek Hey, I think it would be very nice to have this since there is always a chance of developer breaking something due to which app crashes in between. But do we have to use screenshots for this? Can't we just provide the logs for the errors?

[2017-03-03 19:33] anantprsd5 commented on #66
@optnio00 I am not getting any such crashes. Are you getting this frequently?

[2017-03-03 19:38] anantprsd5 opened #69 "App crashes while trying to switch camera"
**Actual Behaviour**

Currently when the user tries to switch the camera, there is always an app crash as Camera API is depreciated

**Expected Behaviour**

There should be no such crashes and depreciated code should be changed with new cameraV2 api.

**Steps to reproduce it**

Open app , go to camera , press the camera switch button.

**Would you like to work on the issue?**

Yes.

[2017-03-03 19:42] ronaksakhuja commented on #62
Will start working on it @pa1pal .

[2017-03-03 20:18] chiragw15 opened #70 "Should we add "code practices" section in readme.md?"
**Actual Behaviour**

There is no fixed code practices.

**Expected Behaviour**

How about adding code practices like in other fossasia projects. eg https://github.com/fossasia/susi_android#code-practices

[2017-03-03 20:28] dynamitechetan opened #72 "Local Photos Not Reponding"
#60  after this merge the app is trying to load all the photos in my phone and its tuck after the splash screen. I have over 5000 images in my phone.
The log is
 I/CACHE: Saved file /storage/emulated/0/WhatsApp/Media/WhatsApp Images/IMG-20160918-WA0012.jpeg (which is now /storage/emulated/0/.PhimpMeCache/040317015410104.png) correctly for each photo.
I think the previous method was good to show on

[2017-03-03 20:39] dynamitechetan commented on #69
on my phone its working perfectly
Any logs?

[2017-03-03 21:38] CloudyPadmal commented on #72
Oh I see! We better integrate a lazy load to it right? Now it's loading the whole gallery!

[2017-03-03 21:47] dynamitechetan commented on #72
I think the previous way is better (6 images at a time and then click to add more) . In this app we have to show images from different sources rg fb, Flickr, WordPress etc. so no need to show a user his full gallery.

[2017-03-03 22:57] chiragw15 commented on #72
How about displaying only one picture from each source i.e fb, wordpress, etc and folder and when a user clicks on it, all pictures of that folder gets displayed. Basically, what a normal gallery app in android phone does.

[2017-03-04 04:04] anantprsd5 commented on #69
[code]

[2017-03-04 06:14] anantprsd5 commented on #69
@Abhi2424shek @pa1pal Can you please check if the app is crashing on camera switch in your device because for me its crashing but for @dynamitechetan its working perfectly. If the crash is there, I will start working on it.

[2017-03-04 06:40] Abhi2424shek commented on #61
@anantprsd5 this would be given with PRs so that we could have previews of the app.

[2017-03-04 08:23] CloudyPadmal commented on #72
I've implemented a way around huge galleries! So I've added the _Add_ button again.
- Once the app is open, it will load the first 21 images in the gallery. (21 % 3 = 0) [Any suggestions on how much to load at a time? :thinking: ]
- Upon clicking on the _Add_ button, it will load the next 21
- When the gallery is fully loaded, the _Add_ button will be disabled

@chiragw15 From what I observed the

[2017-03-04 08:43] pa1pal commented on #69
@anantprsd5 it's not crashing in mine. But if this in your case. So you can fix it.

[2017-03-04 08:45] dynamitechetan commented on #72
please send PR. much needed. I am not able to even start the app.

[2017-03-04 10:32] Abhi2424shek commented on #72
@CloudyPadmal a suggestion instead of:

Load the images when the user scrolls to the bottom! --- It's a suggestion

[2017-03-04 10:33] Abhi2424shek commented on #69
I am not too getting a crash! Can you check your apk version. @anantprsd5

[2017-03-04 10:34] Abhi2424shek commented on #70
We would go with a CONTRIBUTORS.md file as underlined in issue #51, whts your thoughts now @chiragw15

[2017-03-04 10:37] Abhi2424shek commented on #51
@heysadboy @pa1pal Mario sir has rejected the proposal for the wiki pages, so we need to go on with the contributing.md file.

I have another query for you guys, should we implement good commit message policy? --- This would improve the commit standard and the repo standard.

[2017-03-04 10:38] Abhi2424shek commented on #66
Do you open settings?

[2017-03-04 11:01] dynamitechetan commented on #72
### We can have card for all categories and when user click on that we can complete grid with lazy loading
@Abhi2424shek  @pa1pal reviews??

<img src="https://cloud.githubusercontent.com/assets/14369357/23578200/50e16a1e-00f7-11e7-91dc-3b3c01e39c83.png" width="380">

[2017-03-04 11:35] pa1pal commented on #72
@dynamitechetan This UI looks very nice.

[2017-03-04 13:01] anantprsd5 commented on #69
@Abhi2424shek I'm using version 1.5, the latest codes from the development branch. The problem is with my phone only I guess. I checked with another phones, It's working fine in them.

[2017-03-04 13:39] Narutuffy commented on #69
@anantprsd5  It is not just your phone, I am facing the same problem with my phone too.

[2017-03-04 13:47] anantprsd5 commented on #69
@Narutuffy Yeah. I am working on it.

[2017-03-04 13:49] heysadboy commented on #51
@Abhi2424shek I think it is necessary, we should go for it.

[2017-03-04 14:14] pa1pal commented on #51
Yes we need to add contributing.md file now.
For the commit message. We can follow the basic guidelines which other fossasia projects follow. Like Open-event android.

[2017-03-04 14:26] heysadboy commented on #51
@pa1pal Okay I will send the pull request in a while.

[2017-03-04 16:05] optnio00 opened #74 "Unfortunately app has been stopped"
App has been stopped

When i select an image from gallery fragment ....
if image scale size is too large it has been crashed when image scale size is small it has no problem

we need to remove this issue. User can also upload large scale images and edit it and copped.

![screenshot_2017-03-03-16-40-39](https://cloud.githubusercontent.com/assets/15853647/23580138/dd8d5f70-0121-11e7-821e-e5f69a2eecc

[2017-03-04 16:35] Abhi2424shek commented on #69
I am using MUI, what all are you all using, who is your manufacturer @anantprsd5 @Narutuffy

[2017-03-04 16:37] Abhi2424shek commented on #72
@dynamitechetan yes it's very nice 😍 can you implement an additional intent when you press on each card or expand it when you press it. (IMO first one would nice as lazy loading can be done in scroll)

[2017-03-04 16:58] dynamitechetan commented on #72
yes. I was thinking to do the same. Show some photos in the card and then open a new Activity to show all the photos with lazy loading.

[2017-03-04 17:11] anantprsd5 commented on #69
@Abhi2424shek I am using le2 with EUI.

[2017-03-04 17:43] Narutuffy commented on #69
I'm using Moto G Gen1, near stock-android.

[2017-03-04 18:11] Narutuffy commented on #69
The problem is there when you try to switch the camera twice. Here's the log
[code]

[2017-03-04 18:38] optnio00 commented on #66
@anantprsd5  are you try to upload any image of large scale size.
@Abhi2424shek  this problem not in settings. this problrm held in gallery , when upload large scale size image

[2017-03-04 18:42] optnio00 commented on #66
but now i resolved this issue. Now i am able to upload an image of more than 1028*1028px size

[2017-03-04 18:43] dynamitechetan commented on #69
[code]
Comment the above and replace it with code below. Then test the same issue.
[code]

[2017-03-04 18:50] anantprsd5 commented on #69
@dynamitechetan Yeah, its working fine with the above code.

[2017-03-04 18:53] dynamitechetan commented on #69
Can I send a PR?

[2017-03-04 18:54] anantprsd5 commented on #69
@dynamitechetan Sure. Thanks. :)

[2017-03-04 18:54] Narutuffy opened #75 "Opening another image after the previous image has been closed crashes the app"
**Actual Behaviour**

Open the image, press back button and opening another image crashes the app

**Expected Behaviour**

The app shouldn't crash after opening another image

**Steps to reproduce it**
Open the image, press back button and open another image (Repeat it as the behavior appears to be random, sometimes the crash happens while opening second image, sometimes third)

**LogCat for the i

[2017-03-04 19:14] anantprsd5 commented on #75
@Narutuffy I am not facing any such issues.

[2017-03-04 19:16] dynamitechetan commented on #69
@anantprsd5  if you comment all the code above requestLayout() method does it crash?

[2017-03-04 19:27] anantprsd5 commented on #69
@dynamitechetan If we comment all the code above requestLayout() then we have to remove the line which is setting the parameters and if we remove that it is working fine. I don't understand one thing is that with the present code also the size.width gives a value of 1920 and with the above code also the cs.width returns same value of 1920. So why is it crashing with the present code.

[2017-03-04 19:29] dynamitechetan commented on #69
okay.

[2017-03-04 19:57] anantprsd5 commented on #75
@Narutuffy Let others also test the same to check whether the issue persists in their devices also. You can fix this issue if it's the case with your device.

[2017-03-04 20:01] haroonrashid235 commented on #56
Is somebody working on improving the UI?

[2017-03-04 20:03] dynamitechetan commented on #56
i am working on material design of app. #30

[2017-03-04 20:04] Narutuffy commented on #75
@anantprsd5 Sure

[2017-03-04 20:16] haroonrashid235 commented on #30
For those working on material design, what approach you guys are using?

[2017-03-04 20:17] haroonrashid235 commented on #30
I was looking to add a styles.xml in res/values to define UI styles for app

[2017-03-04 20:19] dynamitechetan commented on #30
Yes. I have added a styles.xml file but not pushed it yet.
Probably tomorrow I will do it.

[2017-03-04 20:22] haroonrashid235 commented on #30
@dynamitechetan Can i look at the work you have done so far?Maybe a screenshot?

[2017-03-04 20:26] dynamitechetan commented on #30
https://cloud.githubusercontent.com/assets/14369357/23582013/b490fe68-0146-11e7-836e-cf27d5202232.png
<img scr="https://cloud.githubusercontent.com/assets/14369357/23582013/b490fe68-0146-11e7-836e-cf27d5202232.png" width="380px">

[2017-03-05 01:57] CloudyPadmal commented on #75
@Narutuffy are you building the apk using _development_ branch?

[2017-03-05 03:39] Abhi2424shek commented on #56
Closing this in favour of #30, we don't want multiple issues!

[2017-03-05 03:41] #69 closed

[2017-03-05 03:42] Abhi2424shek commented on #66
Then send the PR pls

[2017-03-05 03:46] #55 closed

[2017-03-05 10:33] anantprsd5 opened #77 "Implement UI tests with Espresso"
**Actual Behaviour**

No tests are defined for testing the UI of the application

**Expected Behaviour**

Espresso Testing should be implemented to check for the UI elements.

**Would you like to work on the issue?**

Yes

[2017-03-05 11:31] Narutuffy commented on #75
I am yet to build apk using development branch, have tried from apk branch and also from the link provided
[link]( https://github.com/fossasia/phimpme-android/raw/apk/app-debug.apk)

[2017-03-05 11:44] dynamitechetan commented on #75
that link is probably not updated. try to build it and then test.

[2017-03-05 12:09] Narutuffy commented on #75
On it

[2017-03-05 12:50] Narutuffy commented on #75
My mistake, working with the development branch

[2017-03-05 12:50] #75 closed

[2017-03-05 16:11] anantprsd5 commented on #36
@DravitLochan Hey, Are you working on this issue?

[2017-03-05 17:00] DravitLochan commented on #36
I  am really very sorry, but i was busy in susi-android. @pa1pal can you please assign someone else to this?

[2017-03-05 20:57] haroonrashid235 commented on #74
Not having any problem with images I have tested on. how large a size you are talking about?

[2017-03-06 02:19] #72 closed

[2017-03-06 03:36] optnio00 commented on #74
1028*1028px+

[2017-03-06 03:36] optnio00 commented on #74
this is snapshot. you can see

[2017-03-06 04:33] Abhi2424shek commented on #36
Ok so, who wants this? Anyone?

[2017-03-06 07:58] heysadboy commented on #36
@Abhi2424shek Can I work on this?

[2017-03-06 08:34] Abhi2424shek commented on #36
Sure @heysadboy

[2017-03-06 08:35] #70 closed

[2017-03-06 08:36] #51 closed

[2017-03-06 13:14] ShailyTyagi opened #81 "Add choose folder functionality"
**Actual Behaviour**

Currently the user has to scroll all the way down to the particular pictures and it becomes tough to find the picture he/she wishes to upload from a sea of pictures.

**Expected Behaviour**
A choose folder functionality will allow the user to choose from different folders on his/her device making the task much easier.

**Would you like to work on the issue?**

Yes,i would def

[2017-03-06 17:41] haroonrashid235 commented on #74
I'll try to test on image that big tonight and come back on this

[2017-03-06 22:04] harsu-ag opened #83 "Allowing share via multiple platforms"
**Actual Behavior**
Currently, the app allows photos to be shared explicitly via Bluetooth.

**Expected Behavior**
We can extend it to a 1 click share button that allows sharing via any app that allows Image content.

**Would you like to work on the issue?**

Yes, I would like to work on it.

[2017-03-07 04:03] Abhi2424shek commented on #83
Sure go on

[2017-03-07 04:06] Abhi2424shek commented on #81
Sure then, go on.

[2017-03-07 19:40] AliAyub007 opened #86 "User Interaction Issues"
**Actual Behavior**

If you press back button on settings, upload and camera it goes back to gallery and then close the app promptly and we have to select the options from navigation given below. There are some Spelling and Grammar error in dialog boxes.

**Expected Behaviour**

It should go back to home screen and shouldn't close app. It can be made swipe view that if screen is swiped left then i

[2017-03-08 02:17] dynamitechetan commented on #86
Read about Bottom Navigation Bar guidelines.
Using swipe gestures on the content area does not navigate between views.
So no need to implement swipe gestures. You can work on the grammar and other issues.

[2017-03-08 03:40] Abhi2424shek commented on #86
Yes pls work only on the grammar and english issues!

[2017-03-08 05:15] #62 closed

[2017-03-08 05:40] Sanjayjeyavel commented on #86
Hey! I'm new to open source and would love to work on this!!

[2017-03-08 05:58] Subhankar29 opened #89 "Geolocation Button does not do anything"
**Actual Behaviour**

After selecting a photo from the gallery or taking a photo from the phone camera, the geolocation button does not do anything. The values of the latitude and longitude are -1. It does not change after clicking the button

**Expected Behaviour**

The values of latitude and longitude should change according to the user location.

**Steps to reproduce it**

1. Take user current

[2017-03-08 06:32] AliAyub007 commented on #86
Okay I will do this till tonight.

[2017-03-08 06:42] AliAyub007 commented on #86
@sanjayjeyavel If you are new to GitHub try taking tutorials they will you alot. You have to learn git for this and here is a link I think this will be useful kindly check this.
https://idope.se/torrent/apps/https:/www.idope.se/torrent/essential/1c0c89e39140f598d30e71f42806d638e83626ef/

[2017-03-08 06:50] harsu-ag opened #90 "Discard button - image still gets saved"
**Actual Behavior**
When we press the discard button after taking a picture, the image still gets saved and shows up in gallery

**Expected Behavior**
Discard button should delete the saved copy

**Steps to reproduce it**
1. Take a picture.
2. discard it.
3. go to gallery tab, the image is still saved.

**Would you like to work on the issue?**

Yes, I would like to work on it.

[2017-03-08 07:49] Sanjayjeyavel commented on #86
@AliAyub007 I will!! Thank you.

[2017-03-08 08:23] Abhi2424shek opened #92 "Cache Gradle Dependencies while building in Travis"
**Actual Behaviour**

Dependencies are not being cached and are downloaded again and again, Travis doesnot have that much internet speed!

**Expected Behaviour**

Gradle dependencies should be cached.

**Steps to reproduce it**

See the Travis CI log

**Would you like to work on the issue?**

No. Someone else could try.

[2017-03-08 08:57] dynamitechetan commented on #92
i can try

[2017-03-08 09:21] CloudyPadmal opened #93 "Camera View shows a disoriented 'Flash' icon when clicked on it"
**Actual Behaviour**

The flash :zap: icon oriented in a different direction when switching between;
- Flash ON
- Flash AUTO
- Flash OFF

**Expected Behaviour**

The flash :zap: icon has to be relative to the phone orientation!

**Steps to reproduce it**

1. Open app and go to _Camera_ view
2. Keep the phone in a vertical position and try switching _Flash_ icon

**LogCat for the issue**

**Screens

[2017-03-08 10:19] anantprsd5 commented on #89
@Subhankar29 By clicking photos using the camera, the latitude and longitude of the photos are changing according to the location for me.

[2017-03-08 13:07] Abhi2424shek commented on #92
Sure then @dynamitechetan

[2017-03-08 13:44] Abhi2424shek opened #95 "Disable pushes to slack for forks"
**Actual Behaviour**

When a commit is made on a fork, slack gets notification.

**Expected Behaviour**

Notification should not be made.

**Would you like to work on the issue?**

Yes.

[2017-03-08 14:28] harsu-ag commented on #95
I searched for it, and it seems they are in development mode for this - [Issue](https://github.com/travis-ci/travis-ci/issues/1094)

I also found another issue very similar to ours - https://github.com/travis-ci/travis-ci/issues/4722

They have written right now the best way is to disable notifications until this issue is done.

[2017-03-08 14:40] Abhi2424shek commented on #95
Encrypt the key

[2017-03-08 16:35] AliAyub007 opened #101 "Problems while uploading images to upload list"
**Actual Behaviour**

1- If you upload any image from upload activity it only add one picture and doesn't add more than one pictures to list view.
2- If you add pictures from floating upload button it corrupts first entry in list view of your uploaded list.
3- If you add pictures from floating upload button from gallery it doesn't prompt you on entering same picture again and again.

**Expected Be

[2017-03-08 16:55] mohitmanuja opened #102 "Error in inflating layout due to adview in main.layout"
The app is crashing in tablet due to incorrect xmls:ads in main.xml(layout)

**Expected Behaviour**
  xmlns:ads="http://schemas.android.com/apk/lib/com.google.ads"
should be replaced with
 xmlns:app="http://schemas.android.com/apk/res-auto".
  **or**
Comment adviews in main layout (large,small,x-large).

**Steps to reproduce it**

Try to run this app in the tablet (large- screen devices). Open mai

[2017-03-08 17:00] mohitmanuja commented on #102
Or should I comment adview because we are not using right now?

[2017-03-08 18:41] pa1pal commented on #86
@AliAyub007 The link you shared in your comment is torrent of a Paid online course. The torrent of copyrighted and paid material should not be promoted, it is completely illegal.
And that too on platform like GitHub. I updated your comment, don't do this from next time.

[2017-03-08 18:57] Subhankar29 commented on #89
@anantprsd5 can you send the screenshot?

[2017-03-08 18:57] Subhankar29 commented on #83
if the issue is not resolved I would I like to work on it.

[2017-03-08 19:34] anantprsd5 commented on #89
![screenshot_20170308-165441](https://cloud.githubusercontent.com/assets/20367966/23720273/4160aaf8-0464-11e7-8797-a164fef63bd3.jpg)

[2017-03-08 23:38] madhavrathi opened #103 "Add Filters To Camera"
**Actual Behaviour**

Currently there are very less filters in camera(Preview).

**Expected Behaviour**

There should be some basic filters so that user have options to pick from.

**Steps to reproduce it**

At present, i don't know how to implement it but i will learn and ask for help from the mentors if i get stuck but i will send a PR as soon as possible.

**Would you like to work on the issue?

[2017-03-09 01:23] AliAyub007 commented on #86
@pa1pal  I am really sorry I didn't know this and I won't do this next time.

[2017-03-09 08:47] madhavrathi commented on #103
@Abhi2424shek  sir please comment on this.

[2017-03-09 11:07] Abhi2424shek commented on #103
Yep you may work on it @madhavrathi and edit your comment to remove the sir title.

[2017-03-09 11:19] Abhi2424shek commented on #86
Dont make multiple PRs for a small issue!

[2017-03-09 15:42] #92 closed

[2017-03-09 15:54] harsu-ag commented on #89
![17200488_1809231109102393_177263458_o](https://cloud.githubusercontent.com/assets/12862633/23758103/ae7ae0ea-050e-11e7-9a98-3b987e1e4588.png)
@Subhankar29 @anantprsd5 It's not working for me either.

[2017-03-09 15:59] dynamitechetan commented on #89
all those who are getting -1.0 as Lat Lang, your GPS is turned off. You might have given app the permissions to use location but your Locations is off.
I can write a check on this fragment if you want.

[2017-03-09 16:55] harsu-ag commented on #89
@dynamitechetan actually, yes. That's the case.

But in my case, I had just switched on the location services before taking the snap. So I suppose my last location was still blank.
 So, we should also put a trigger to requestLocationUpdate in the background if the last location is blank.

[2017-03-09 18:42] Subhankar29 opened #105 "Facebook access to the app to upload photos."
**Actual Behaviour**

After the clicking the accounts "+" button and choosing facebook option the message prompts:
"App not Setup: This app is still in development mode, and you don't have access to it..."
**Expected Behaviour**

The facebook access should be granted so that users can upload the photos to facebook.

**Steps to reproduce it**

Get a Facebook App ID, properly configured and linked t

[2017-03-10 05:39] CloudyPadmal opened #107 "Cannot delete photos!"
**Actual Behaviour**

The photos in the gallery, cannot be deleted

**Expected Behaviour**

If the user wants to delete an image or a set of images of his selection,  he must be provided with an option to delete.

**Steps to reproduce it**

1. Open app and go to gallery
2. Try deleting an image

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

If th

[2017-03-10 05:42] jsroyal opened #108 "Add Label with issues and PRs"
**Actual Behaviour**

There is very no labeling.

**Expected Behaviour**

Add labels with Issues and PRs like progress, need help, need to review, reviewing etc.

**Would you like to work on the issue?**
Yes, but it needs permission.
Please let me know if I can work on it.

[2017-03-10 06:40] harsu-ag commented on #83
@Subhankar29 I have resolved it

[2017-03-10 06:54] jsroyal opened #109 "Disappear image after resize in the editing mode"
**Actual Behaviour**

when the editing mode and resize the image then disappear

**Expected Behaviour**
Do not disappear or a limited resize.
**LogCat for the issue**

03-10 12:10:39.692 6526-6526/vn.mbm.phimp.me E/SpannableStringBuilder: SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have a zero length
03-10 12:10:39.692 6526-6526/vn.mbm.phimp.me E/SpannableStringBuilder: SPAN_EXCLUSIVE_EXCLUSIVE spans ca

[2017-03-10 07:36] pa1pal commented on #108
Thanks @jsroyal for pointing. I agree there are very less labels in recent issue.
We will add them soon.

[2017-03-10 07:36] #108 closed

[2017-03-10 09:04] pa1pal commented on #102
Yes @mohitmanuja  We are not using it now. You can remove the ads part.

[2017-03-10 09:05] mohitmanuja commented on #102
@pa1pal Okay sure.
I will remove that.

[2017-03-10 09:51] jsroyal commented on #108
@pa1pal also progress if somebody working on that so it will easy to others.

[2017-03-10 10:01] Abhi2424shek commented on #105
@mariobehling would be the person to look at it.

[2017-03-10 10:03] Abhi2424shek commented on #89
I suggest to display 'GPS is off' when the location coordinates are not available with a button to turn gps on in place of the text boxes and display them only when gps is on.

[2017-03-10 10:19] dynamitechetan commented on #89
Can I try.?

[2017-03-10 10:25] Abhi2424shek commented on #89
Aren't you working on too many issues in parallel? This is a simple one. I think some beginner should try this. However you could try if you really want @dynamitechetan :)

[2017-03-10 10:42] Subhankar29 commented on #89
@Abhi242shek This issue is perfect for me to begin the contribution please allow me to go ahead and work on.

[2017-03-10 10:44] Subhankar29 commented on #89
@dynamitechetan I already started working on it.

[2017-03-10 11:12] dynamitechetan commented on #89
Cool.

[2017-03-10 11:12] dynamitechetan commented on #89
No problem.

[2017-03-10 14:27] Abhi2424shek commented on #61
Logs could also be used!

[2017-03-10 16:00] pa1pal commented on #105
@Abhi2424shek This is known. As I implemented facebook integration. Rightnow my tested app is in the development. I will look in to this. Also the facebook integration and upload is working fine, no issues in this.
So @Subhankar29 I suggest you to work on some other account integration.
Wordpress and Drupal are in higher priority, some contributors are working on it.

[2017-03-10 16:00] #105 closed

[2017-03-10 20:03] harsu-ag commented on #90
Should I keep the image on back pressed.?

[2017-03-11 02:35] Abhi2424shek commented on #105
@pa1pal good work as you got it right, I though it was Mario Behling who implemented the fb integration!

[2017-03-11 02:35] Abhi2424shek commented on #107
Ok pls work on.

[2017-03-11 02:36] Abhi2424shek commented on #109
If you could make a fix, we would be happy to read your PR.

[2017-03-11 03:06] CloudyPadmal commented on #107
Oki dokie :D

[2017-03-11 04:03] #102 closed

[2017-03-11 04:05] #93 closed

[2017-03-11 06:57] anantprsd5 opened #112 "CursorIndexOutOfBoundsException at the time of App launch."
**Actual Behaviour**

When we try to open the app on phones having photos less than 21, the app crashes with CursorIndexOutOfBoundsException.

**Expected Behaviour**

The app should not crash.

**Steps to reproduce it**

Try to run the app on an emulator with no photos.

**Would you like to work on the issue?**

Yes. Already worked on it. Sending the PR.

[2017-03-11 08:09] madhavrathi commented on #103
@Abhi2424shek  Hey, i am done with adding filters.
can you provide me with the Original tree photo(Normal Filter) so that i can filtered thumbnail in drawables folder and add photobuttons for respective filters.

[2017-03-11 09:19] jsroyal commented on #109
Sure! @Abhi2424shek I'm still reading codebase of this project. Also, my term exam ongoing so it will take time.

[2017-03-11 10:45] CloudyPadmal commented on #107
@Abhi2424shek there's a little issue! In some lines there are tabs and some lines spaces! This causes indentation mismatches in GitHub. Should I make them all tab indented? :thinking:

![Pic 1](https://cloud.githubusercontent.com/assets/14261304/23822599/5c955310-0675-11e7-85e8-c4dabf26d64b.png)
![Pic 2](https://cloud.githubusercontent.com/assets/14261304/23822605/81b5ca08-0675-11e7-9f13-5e5e7f58f

[2017-03-11 14:08] Abhi2424shek commented on #107
Open up another issue, we should use whitespaces instead of tabs IMO. @pa1pal what do you think? Spaces are uniform on all editors!

[2017-03-11 14:13] CloudyPadmal commented on #107
@Abhi2424shek I guess most of the files have mixed up tabs and spaces. I choose one at random;

![random](https://cloud.githubusercontent.com/assets/14261304/23823922/b7374e78-0692-11e7-9755-4b372c60cea2.png)

When changing it to a consistent format, it will cause a lot of conflicts with the PRs others have made and to be made right? :(

I'll open an issue? :D

[2017-03-11 14:15] Abhi2424shek commented on #107
We will resolve it when the PRs are all dealt with it, we will solve the issue only after there are no PRs! That would take time!

[2017-03-11 14:16] CloudyPadmal commented on #107
@Abhi2424shek great idea! :bulb: :100:

[2017-03-11 14:24] CloudyPadmal opened #114 "Code contains mixed up spaces and tabs"
**Actual Behaviour**

The code contains mixed up tabs and spaces. This causes indentations to look messy!

**Expected Behaviour**

There should be a consistent indentation through out the code

**Steps to reproduce it**
1. File >  Settings > Editor > General > Appearance
2. Tick _Show Whitespaces_

**LogCat for the issue**

**Screenshots of the issue**
![random](https://cloud.githubusercontent.com

[2017-03-11 14:27] Abhi2424shek commented on #114
This should be done only when the PRs are 0 in number, we don't want to cause conflicts!

[2017-03-11 15:27] pa1pal commented on #112
#113

[2017-03-11 15:27] #112 closed

[2017-03-11 20:05] rohanagarwal94 opened #116 "Share App feature"
**Actual Behaviour**

No sharing of app right now.

**Expected Behaviour**

User will be able to share the app on various other apps. Button will be located in settings.

**Would you like to work on the issue?**

Yes, I would like to work on it.

[2017-03-11 20:15] rohanagarwal94 opened #117 "Change language in the app"
**Actual Behaviour**

The app runs on the default language.

**Expected Behaviour**

Option to change the language of the app from the app settings itself.

**Would you like to work on the issue?**

Yes, I would like to work on this.

[2017-03-11 20:38] rohanagarwal94 opened #118 "Facebook account addition UI fix"
**Actual Behaviour**

An additional activity with "continue with facebook" button is opening which is out of given workflow.

**Expected Behaviour**

Facebook should be opened directly on clicking in the dialog box.

**Screenshots of the issue**

![screenshot_2017-03-12-01-59-43](https://cloud.githubusercontent.com/assets/13241256/23826726/ab29f38e-06c8-11e7-96a2-0c25eadd23f7.png)

**Would you lik

[2017-03-12 04:35] Abhi2424shek commented on #118
Yes pls go on.

[2017-03-12 04:35] Abhi2424shek commented on #117
We will first get the app working then work on localization.

[2017-03-12 04:37] Abhi2424shek commented on #116
Ok pls go on.

[2017-03-12 04:39] #77 closed

[2017-03-12 07:26] #86 closed

[2017-03-12 07:48] Abhi2424shek opened #121 "Espresso tests are failing"
**Actual Behaviour**

Travis build is red due to the espresso tests. There are some runtime errors with them.

**Expected Behaviour**

It should not be errored.

**Steps to reproduce it**

See the Travis CI build log.

**Log for the issue**

vn.mbm.phimp.me.MainActivityTest > waitFor5Seconds[test(AVD) - 4.4.4] FAILED
vn.mbm.phimp.me.SettingsActivityTest > settingsActivityTest[test(AVD) - 4.4.4] FA

[2017-03-12 07:57] Abhi2424shek commented on #121
I think I would give a try.

[2017-03-12 12:20] madhavrathi commented on #103
@Abhi2424shek  @pa1pal
https://github.com/fossasia/phimpme-android/pull/123
Please Review!

[2017-03-12 12:45] CloudyPadmal opened #124 "Old looking alert dialogs!"
**Actual Behaviour**

The system exit alert dialog is not material designed!

**Expected Behaviour**

The dialog boxes need to be designed according to material design guidelines

**Steps to reproduce it**

1. Open app
2. Press _Back Key_ and try to exit the app

**LogCat for the issue**

**Screenshots of the issue**

![old](https://cloud.githubusercontent.com/assets/14261304/23831849/12ec38de-074

[2017-03-12 13:36] Abhi2424shek commented on #124
A beginner could claim this.

[2017-03-12 16:15] anantprsd5 opened #125 "Add an option to check details of an image"
**Actual Behaviour**

There is no option to display particular details like time, resolution etc. of the images.

**Expected Behaviour**

There should be an info button to check the basic details of the images, something like the below screen shot.

**Screenshots of the issue**

![photo_2017-03-12_21-42-20](https://cloud.githubusercontent.com/assets/20367966/23833503/d8d8d5c6-076c-11e7-81ca-3e6c32

[2017-03-12 16:16] anantprsd5 commented on #125
@Abhi2424shek @pa1pal Please review.

[2017-03-12 16:22] Sanjayjeyavel commented on #124
Hey! I will try to work on this issue! It would be of great help if you could give me some references!

[2017-03-12 16:36] Abhi2424shek commented on #124
All you need to do, is to update library by changing the import statement.

[2017-03-12 16:37] CloudyPadmal commented on #124
Hello there!! Try to fix this and you will get to know the main classes! :) the fix needs to be done at the "PhimpMe.java" class :)

[2017-03-12 16:37] Abhi2424shek commented on #125
Ok pls go on, but don't open it on a new activity, a pop-up is enough.

[2017-03-12 16:38] anantprsd5 commented on #125
@Abhi2424shek Yeah, I was thinking about a pop-up only.

[2017-03-12 16:56] #121 closed

[2017-03-12 17:21] Sanjayjeyavel commented on #124
I have a doubt! The style for the default dialog boxes are determined by appcompat right? So using the latest version of it should include material design right?

[2017-03-12 19:04] anantprsd5 commented on #50
@Abhi2424shek Shall I work on this issue?

[2017-03-13 04:01] Abhi2424shek commented on #50
Sure @anantprsd5 make sure first the code is working then write tests. Split the tests as well, like one junit test for one class file.

[2017-03-13 04:32] #103 closed

[2017-03-13 04:55] madhavrathi opened #126 "Remake Snowy and Round Corner Icons as other Filters"
**Actual Behaviour**

The snow filter and rounded corner filter have different image buttons than rest of the filters
![screenshot_2017-03-12-17-47-01-775_vn mbm phimp me](https://cloud.githubusercontent.com/assets/22375731/23841985/66fef8c0-07d7-11e7-87cb-61744287cdbe.png)

**Expected Behaviour**

@Abhi2424shek  All the filters should have same photobutton.

**Steps to reproduce it**

As i have c

[2017-03-13 07:51] Abhi2424shek commented on #126
It would be a simple fix, please go ahead.

[2017-03-13 07:53] Abhi2424shek commented on #20
@anantprsd5 any updates regarding the issue?

[2017-03-13 08:01] abishekvashok opened #127 "Add a logo for the app."
**Actual Behaviour**

There is nothing like a precisive logo for the app.

**Expected Behaviour**

The app should have a logo.

**Steps to reproduce it**

See the app icon on the home screen

**Would you like to work on the issue?**

Who is that designer who want this issue?

**Steps to solve the issue**

- [ ] Suggest a good icon for the app on the issue as a comment and get the icon approved by

[2017-03-13 08:55] anantprsd5 commented on #20
@abhi2424shek I solved it in the PR #46. Its merged.
Thanks.

[2017-03-13 08:56] anantprsd5 commented on #20
@abhi2424shek There are no crashes currently in the settings activity on button click so I think this issue can be closed now.

[2017-03-13 08:57] #20 closed

[2017-03-13 09:02] madhavrathi commented on #127
can i work on this ? @Abhi2424shek

[2017-03-13 09:12] madhavrathi commented on #126
@Abhi2424shek https://github.com/fossasia/phimpme-android/pull/128
please review.

[2017-03-13 09:47] dynamitechetan commented on #127
<table>
<tr>
<td><img src="https://cloud.githubusercontent.com/assets/14369357/23848960/72fce646-07ff-11e7-8fde-bb392380cda7.png">
</td>
<td><img src="https://cloud.githubusercontent.com/assets/14369357/23848977/85033da4-07ff-11e7-8b84-4b7c16f6ee01.png">
</td>
<td><img src="https://cloud.githubusercontent.com/assets/14369357/23848900/328ee5e6-07ff-11e7-9e90-0d56eb00a993.png">
</td>
<td><img src="h

[2017-03-13 09:56] dynamitechetan commented on #127
@mariobehling @Abhi2424shek @pa1pal Please Review the Icon.

[2017-03-13 10:34] Abhi2424shek commented on #127
Basically it's a photo app so, don't take it up as a competition --- nothing in open source is a competition --- since, both of you @dynamitechetan and @madhavrathi are interested can you two cooperate and come up with one, use slack for communication, it would do you two good for sure. Others are also welcomed to join.

An icon relevant for the app!

[2017-03-13 10:42] madhavrathi commented on #127
@dynamitechetan  hey your icon is great and @Abhi2424shek  i am currently developing mine so it will be a while. and if you wanna go ahead with icon above , i think it's great !

[2017-03-13 10:50] Abhi2424shek commented on #127
IMO something related to a photo app?

[2017-03-13 10:52] dynamitechetan commented on #127
@Abhi2424shek didn't I understood your last comment?

[2017-03-13 10:54] madhavrathi commented on #127
@Abhi2424shek Just give me 2 hours,  i will finish up touching by then and then @dynamitechetan  we'll pick the best one.

[2017-03-13 10:54] dynamitechetan commented on #127
My idea behind this icon was Location, Photos, Colors and the "P" of Phimpme.

[2017-03-13 10:54] dynamitechetan commented on #127
@madhavrathi okay

[2017-03-13 11:29] CloudyPadmal commented on #124
@Sanjayjeyavel we can start an open conversation on slack about custom dialog boxes :D

[2017-03-13 11:40] madhavrathi commented on #127
![1](https://cloud.githubusercontent.com/assets/22375731/23852852/df6988a6-080f-11e7-93f5-06b77b81c6e3.png)
@Abhi2424shek @dynamitechetan Hey check this out and you can suggest colors accordingly

[2017-03-13 11:55] madhavrathi commented on #127
@Abhi2424shek @dynamitechetan   It seems like @dynamitechetan's  icon is better as it signifies what the app is about and regarding the colour, i guess second one of his icons seems good.

[2017-03-13 12:02] dynamitechetan commented on #127
@madhavrathi  thanks.

[2017-03-13 12:14] Abhi2424shek commented on #127
Ya, IMO 1st one.

[2017-03-13 12:16] dynamitechetan commented on #127
I do think 1st one because it matches the blue theme of the app.

[2017-03-13 13:59] #126 closed

[2017-03-13 14:01] madhavrathi commented on #127
@Abhi2424shek  hey what about the splash screen ?

[2017-03-13 14:07] Abhi2424shek commented on #127
We will use an enlarged version.

[2017-03-13 14:08] Abhi2424shek commented on #127
Let some more guys comment before we could accept things.

[2017-03-13 15:19] pa1pal commented on #117
I agree with @Abhi2424shek. I'm closing this now, we will reopen it once app is in stable condition.

[2017-03-13 15:19] #117 closed

[2017-03-13 15:55] anantprsd5 commented on #127
I think the blue one by @dynamitechetan is great as it clearly depicts each and every thing about the app. This could be a great icon for this app IMO.

[2017-03-13 19:41] Sanjayjeyavel commented on #124
Sure.. Ill ping you!

[2017-03-14 01:17] madhavrathi opened #131 "Add more effects in edit image from media options"
**Actual Behaviour**

Presently the edit option in media contains only few filters.

**Expected Behaviour**

We should add all the other filters which are present in camera preview

**Steps to reproduce it**

As i have added all the other camera filters, i will add them here too with suitable photo buttons

**Screenshots of the issue**
![screenshot_2017-03-14-06-43-48-207_vn mbm phimp me](https://

[2017-03-14 01:17] madhavrathi commented on #131
@Abhi2424shek  @pa1pal @mariobehling  Please Review

[2017-03-14 01:23] AliAyub007 commented on #127
![phimpme](https://cloud.githubusercontent.com/assets/25840461/23881718/1b1d5cc4-087e-11e7-8d7a-4d010d6fefed.png)
Here is my contribution. Give me some time I can design a professional one (till tomorrow). If you want to choose it now then logo by @dynamitechetan is really nice.

[2017-03-14 02:02] AliAyub007 commented on #101
@Abhi2424shek  I fork this repository even synced it but still it's not updating in my fork and in git it shows up to date. Can you please help me with this?
(It say this many commits behind and this many ahead on my fork. )

[2017-03-14 03:55] Abhi2424shek commented on #127
@pa1pal whts your thoughts

[2017-03-14 03:55] Abhi2424shek commented on #131
Yes @madhavrathi pls go on.

[2017-03-14 04:37] madhavrathi commented on #131
@Abhi2424shek @pa1pal  https://github.com/fossasia/phimpme-android/pull/132
Please Review

[2017-03-14 04:53] Abhi2424shek commented on #131
@madhavrathi pls see the comments

[2017-03-14 04:54] Abhi2424shek commented on #66
Is the issue still there?

[2017-03-14 04:55] Abhi2424shek commented on #74
Any updates?

[2017-03-14 04:56] Abhi2424shek commented on #81
@ShailyTyagi are you taking it up?

[2017-03-14 04:56] Abhi2424shek commented on #89
@Subhankar29 you may pls work.

[2017-03-14 04:57] Abhi2424shek commented on #90
Discard button is to discard the edits.

[2017-03-14 04:57] #90 closed

[2017-03-14 05:15] pa1pal commented on #127
I like @dynamitechetan Logo, which depicts all the expect. The reactions on the image also shows the people's votes. But right now we also don't have much options to select. We should wait for while till then we can get more options as well as Mario Behling permission for logo.

[2017-03-14 06:01] jsroyal opened #133 "Adding link contribute.md file in Readme file"
**Actual Behaviour**

Not link contribute.md file in readme.md

**Expected Behaviour**

Add link here so it will easy for see the coding style

**Steps to reproduce it**
![screenshot from 2017-03-14 11-28-56](https://cloud.githubusercontent.com/assets/10773353/23887714/9acb8240-08a9-11e7-8d03-5315da3d7fba.png)

[2017-03-14 06:08] Abhi2424shek commented on #133
Easy fix pls make a PR

[2017-03-14 06:10] jsroyal commented on #133
@Abhi2424shek Sure!

[2017-03-14 07:49] #133 closed

[2017-03-14 09:12] ShailyTyagi commented on #81
Yes ,sorry for the delay.I am kind of a beginner. @Abhi2424shek

[2017-03-14 13:07] heysadboy commented on #127
![phimplogo](https://cloud.githubusercontent.com/assets/22588035/23901807/dac568c6-08e4-11e7-9b6f-c4d12d0b02c8.png)

@pa1pal @Abhi2424shek Adding another one for muse

[2017-03-15 12:35] optnio00 commented on #74
No but this is problem solved. Now app is not stop but now image is disappearing.

[2017-03-15 12:36] Abhi2424shek commented on #74
Open up a new issue.

[2017-03-15 12:36] #74 closed

[2017-03-15 12:36] Abhi2424shek commented on #36
Is'nt this solved in #135 if not pls open

[2017-03-15 12:36] #36 closed

[2017-03-15 12:37] Abhi2424shek commented on #95
Investigating...

[2017-03-15 12:39] Abhi2424shek commented on #101
@AliAyub007 pls delete your fork, as you have added many commits to it if you don't want them.

[2017-03-15 17:40] dynamitechetan opened #140 "Map Fragment Shows Black Screen"
**Actual Behaviour**
when i click on map option in bottom menu it turn black and after around 20 seconds it shows the map.
**Expected Behaviour**
It should show the map

**Steps to reproduce it**
Click on map option in bottom bar

**Would you like to work on the issue?**
Yes
I think when we are using bottom bar navigation and replacing fragments every time, we should not use map FragmentActivity.

[2017-03-15 17:58] dynamitechetan opened #141 "Generate a SHA independent key for Google Maps"
We can have a key for google maps thats SHA independent so that other developers can see the Map and work on it.

[2017-03-15 18:27] optnio00 opened #143 "Feature: we can't share images via other apps"
**Actual Behaviour**

Please state here what is currently happening.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of

[2017-03-15 18:29] optnio00 opened #144 "Feature: Can't delete images through Phimpme"
**Actual Behaviour**

Please state here what is currently happening.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of

[2017-03-15 18:38] pa1pal commented on #141
@dynamitechetan In any Open Source Projects the contributors create their own key for development. Everyone will not use anyone's personal account's key.
For the release organization's official key will be used.

[2017-03-15 18:39] dynamitechetan commented on #141
Okay.

[2017-03-15 18:39] #141 closed

[2017-03-16 02:38] Abhi2424shek commented on #144
Duplicate issue. The issue body is also not updated. Pls update it if the issue is different.

[2017-03-16 02:38] #144 closed

[2017-03-16 02:39] Abhi2424shek commented on #143
Duplicate of issue #83. Pls update the issue if it isn't the duplicate.

[2017-03-16 02:39] #143 closed

[2017-03-16 15:35] anantprsd5 commented on #50
@Abhi2424shek Sure, working on it.

[2017-03-16 16:15] rohanagarwal94 opened #148 "App invite via facebook"
**Actual Behaviour**

Nothing in this regard.

**Expected Behaviour**

Users will be able to send personalised notification for app installs to their friends

**Screenshots of the issue**

![screenshot_2017-02-23-02-04-49-745_org fossasia susi ai](https://cloud.githubusercontent.com/assets/13241256/24006430/c298f1e2-0a91-11e7-8536-3a33011013ca.png)

**Would you like to work on the issue?**

Yes, I

[2017-03-16 17:00] rohanagarwal94 opened #150 "Max file size issue fix"
**Actual Behaviour**

Maximum file size cannot be changed in settings.

**Expected Behaviour**

The user should be able to change the maximum file size by clicking the image button

**Screenshots of the issue**

![screenshot_2017-03-16-22-27-11](https://cloud.githubusercontent.com/assets/13241256/24008626/258ad526-0a98-11e7-81bf-86818456488a.png)

**Would you like to work on the issue?**

Yes, I a

[2017-03-16 17:50] heysadboy opened #151 "Warning text about no pictures selected"
Even when you select images the text remains there.

Currently

![screenshot_2017-03-16-21-43-13](https://cloud.githubusercontent.com/assets/22588035/24010794/d58e1ebe-0a9e-11e7-9fc4-8ed67883d775.png)

It should be gone.

After

![screenshot_2017-03-16-23-05-28](https://cloud.githubusercontent.com/assets/22588035/24010808/dca3bace-0a9e-11e7-8f82-3e3aacd766ff.png)

Setting its visibility to gone wh

[2017-03-16 18:27] optnio00 commented on #83
This issue is now solved. I already solved this add also make a PR

[2017-03-16 18:29] optnio00 commented on #107
This problem is solved. Now user can select a image from Home Tab and and after that user choose option delete to delete that image
![screenshot_2017-03-16-23-40-38](https://cloud.githubusercontent.com/assets/15853647/24012616/9aa5ab90-0aa4-11e7-9c5a-47ff13dbd23f.png)

[2017-03-16 22:29] heysadboy commented on #140
It shows the map. The black screen appears for the time taken to scan the images from the device. In the readme.md the Map is implemented as an activity.
I think we should put a loader till the images are scanned instead of turning it into a fragment.

[2017-03-17 02:00] dynamitechetan commented on #140
Okay. But still rest screens are fragments in the app so I changed it.

[2017-03-17 05:48] pa1pal commented on #125
#146

[2017-03-17 05:48] #125 closed

[2017-03-17 08:58] heysadboy commented on #140
@pa1pal @dynamitechetan It's okay if this removes a black screen.

[2017-03-17 09:18] Abhi2424shek commented on #150
Are you mentioning of the photo save size?

[2017-03-17 09:20] Abhi2424shek commented on #148
Then pls, but low priority.

[2017-03-17 09:39] Abhi2424shek commented on #81
@ShailyTyagi it's ok if you are on it.

[2017-03-17 10:56] anantprsd5 opened #155 "Discard button not deleting the images"
**Actual Behaviour**

After taking photo from the camera, the discard button does not work and it saves the picture.

**Expected Behaviour**

The photo taken should be deleted on clicking discard button.

**Steps to reproduce it**

Open camera, Take picture, click on the discard button

**Would you like to work on the issue?**

Yes.

@pa1pal @Abhi2424shek Please review.

[2017-03-17 11:10] CloudyPadmal commented on #155
Hey wasn't this solved in issue #90 by @harsu-ag?

[2017-03-17 11:23] anantprsd5 commented on #155
@CloudyPadmal Yeah sorry. My bad, I thought the discard button was to remove the pic. Now got to know it was to discard the edits. Thanks. :)

[2017-03-17 11:23] #155 closed

[2017-03-17 11:27] CloudyPadmal commented on #155
@anantprsd5 it was closed and you couldn't see nuh! :see_no_evil: I remembered it coz I've done the double save discard :see_no_evil:

[2017-03-17 12:13] anantprsd5 opened #156 "Same image can be uploaded twice."
**Actual Behaviour**

While trying to upload the image, the same image can be uploaded many times.

**Expected Behaviour**

The uploading of image should be once and while trying to upload the same image again, a toast should appear with specific message.

**Steps to reproduce it**

Open upload activity, upload image once, upload same image twice. Same images are shown twice in the upload list. Re

[2017-03-17 13:23] rohanagarwal94 commented on #150
oh yes. The settings in the above image to change max file size

[2017-03-17 14:25] #151 closed

[2017-03-17 14:26] Abhi2424shek commented on #150
Ok then. Pls do it.

[2017-03-17 14:28] Abhi2424shek commented on #156
What if you want to upload the same image again to another blog post as in case of wordpress? Or again you want to upload it to facebook? I think this is a feature and not a bug. What's your opinion. @anantprsd5

[2017-03-17 15:15] #107 closed

[2017-03-17 15:18] vaibhavsingh97 commented on #124
@CloudyPadmal  I can fix this.

[2017-03-17 15:19] Abhi2424shek commented on #124
@Sanjayjeyavel are you on it? :)
If not,
@vaibhavsingh97 can work on it but only after he replies. Till then you could find any other issues.

[2017-03-17 15:28] anantprsd5 commented on #156
@abhi2424shek Yeah, I was also not sure whether it was an issue or feature so thought of posting this. I also think its a feature rather than an issue because with this the user can also upload multiple photos and edit the other. Closing this issue.
Thanks.

[2017-03-17 15:28] #156 closed

[2017-03-17 16:05] CloudyPadmal opened #158 "Cannot remove images from the Upload Photos list"
**Actual Behaviour**

Once we add an image to the _Upload Photos_ list, no option available to remove it from the list!

**Expected Behaviour**

User must be given with an option to remove it from the _Upload Photos_ list

**Steps to reproduce it**

1. Open app
2. Go to _Upload_
3. Add images and try to remove any

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on

[2017-03-17 16:16] CloudyPadmal opened #159 "Label visible when images are added to Upload Photos List"
**Actual Behaviour**

When there are images in the _Upload Photos_ list, empty list label is still visible

**Expected Behaviour**

When there are images in the list, `No Picture Selected :(` label should disappear

**Steps to reproduce it**

1. Open app
2. Go to _Upload Photos_
3. Add one or two images and observe

**LogCat for the issue**

**Screenshots of the issue**

![device-2017-03-17-213913

[2017-03-17 16:18] heysadboy commented on #159
@CloudyPadmal https://github.com/fossasia/phimpme-android/issues/151 Hey issue was created here and fixed here https://github.com/fossasia/phimpme-android/pull/154

[2017-03-17 16:20] rohanagarwal94 opened #160 "Use action bar instead of toolbar tag in xml"
**Actual Behaviour**

Toolbar widget is being used in every layout xml of fragments.

**Expected Behaviour**

Use action bar in the app theme. This will help in getting overflow menu in the action bar and share icon need not be included in every xml.

**Screenshots of the issue**

![screenshot from 2017-03-17 21-43-43](https://cloud.githubusercontent.com/assets/13241256/24052376/4654d9d2-0b5b-11e7

[2017-03-17 16:35] rohanagarwal94 opened #161 "The app stops working on clicking gallery after opening map activity"
**Actual Behaviour**

The app stops working on clicking gallery after opening map activity.

**Expected Behaviour**

The gallery should successfully open.

**Steps to reproduce it**

1. Select map activity from bottom tabs.
2. Select gallery icon after step 1.
3. App stops working.

**LogCat for the issue**

![screenshot from 2017-03-17 22-01-41](https://cloud.githubusercontent.com/assets/13241256

[2017-03-17 17:11] dynamitechetan commented on #160
toolbar was made intentionally to have more space on map and camera fragment.

[2017-03-17 18:08] rohanagarwal94 commented on #160
@dynamitechetan a better way to do that is declaring a separate theme for camera and map activity with no action bar. I will be doing that in submission of PR of this issue itself.

[2017-03-17 19:35] heysadboy commented on #160
@rohanagarwal94 I added toolbar instead of action bar because it allows more customization than action bar. Look it up http://stackoverflow.com/questions/27665018/what-is-the-difference-between-action-bar-and-newly-introduced-toolbar . Our UI is evolving, we'll have more options by using that. @dynamitechetan I correct.

[2017-03-18 00:45] CloudyPadmal commented on #161
Hello @rohanagarwal94 !! :) when you're fixing it do you mind removing 590 & 591 lines? :innocent:

[2017-03-18 00:52] CloudyPadmal commented on #159
Hey @heysadboy !! I've built from an old branch! :see_no_evil: Closing!! :innocent:

[2017-03-18 00:52] #159 closed

[2017-03-18 01:38] CloudyPadmal commented on #156
@anantprsd5 were you talking about having multiple copies of the same image in _Upload_ photo list? :thinking:

[2017-03-18 03:48] Abhi2424shek commented on #161
Yes pls work on it.

[2017-03-18 03:52] Abhi2424shek commented on #158
Yes pls do it

[2017-03-18 04:42] anantprsd5 commented on #156
@cloudypadmal Yes.

On Saturday, March 18, 2017, Padmal <notifications@github.com> wrote:

--
With Regards,
Anant Prasad

Blog <https://anantprsd5.github.io/>| Github <https://github.com/anantprsd5>

[2017-03-18 05:04] anantprsd5 opened #162 "Implement Tap to focus and Google HDR mode"
**Actual Behaviour**

No such features available.

**Expected Behaviour**

Basic camera features should be there to improve the image quality.

**Would you like to work on the issue?**

Yes.

[2017-03-18 07:39] madhavrathi opened #163 "Improvement in Preview Camera Layout"
**Actual Behaviour**

The flash button and switch camera icon takes up a lot more space in preview fragment

**Expected Behaviour**

Their size should be reduced and placed at corner for better preview

**Would you like to work on the issue?**

@Abhi2424shek Yes i would like to work on this issue.

[2017-03-18 07:41] madhavrathi opened #164 "Delete Images of Previous Filters from drawable Folder"
**Actual Behaviour**

We have replaced the previous filter photobuttons and their icons are still present in drawable which takes up some amount of size.
**Expected Behaviour**

We should delete them.

**Would you like to work on the issue?**

@Abhi2424shek  Yes.

[2017-03-18 08:02] rohanagarwal94 commented on #160
Got it. Hence closing it.

[2017-03-18 08:02] #160 closed

[2017-03-18 10:01] CloudyPadmal commented on #163
:+1:

[2017-03-18 10:20] CloudyPadmal commented on #156
Ah right! We can replace duplicate images by editing them :) @anantprsd5 :see_no_evil:

[2017-03-18 10:37] Abhi2424shek commented on #163
Yep

[2017-03-18 10:39] #131 closed

[2017-03-18 10:57] madhavrathi commented on #164
@Abhi2424shek Hey this issue is yet to solved. Why close it ?

[2017-03-18 11:08] Abhi2424shek commented on #164
Wasn't it solved in the PR, you referenced it?

[2017-03-18 11:10] madhavrathi commented on #164
@Abhi2424shek No i haven't referenced it. I will send a PR for this in a while.

[2017-03-18 11:27] #140 closed

[2017-03-18 11:49] #164 closed

[2017-03-18 11:51] Abhi2424shek commented on #61
Instead of images, commenting the app itself so that it can be tested manually. We are having the espresso tests toit would be ok.

[2017-03-18 12:29] heysadboy opened #171 "Opening image selected from photo map"
**Actual Behaviour**

Currently the map just displays the image on clicking the marker.

**Expected Behaviour**

When the image pops up the user must be able to click on it and see the image in full view.

Clicking the image on map
![screenshot_2017-03-19-16-54-53](https://cloud.githubusercontent.com/assets/22588035/24080620/6138ca6e-0cc9-11e7-8bd6-0860cd695d2c.png)

Opens full image
![screenshot_

[2017-03-18 13:58] vaibhavsingh97 opened #173 "Maximum images shown to user in gallery"
**Actual Behaviour**

Only 21 images is shown in gallery

**Expected Behaviour**

Images should be loaded when user scroll down dynamically

**Would you like to work on the issue?**

I would love to but need guidance

[2017-03-18 14:00] Abhi2424shek commented on #173
The plus button?

[2017-03-18 14:14] madhavrathi commented on #163
@Abhi2424shek Please Review

[2017-03-18 14:36] mohitmanuja commented on #173
@vaibhavsingh97  Yes you are right. It should be done in this way.

[2017-03-18 15:21] dynamitechetan commented on #173
Main purpose of this app is not to show the gallery images.
When we will show him more grids of photos uploading sites user will have to scroll to bottom and then see them. So no need to load more images on scroll.

[2017-03-18 15:24] vaibhavsingh97 commented on #173
That means, if the user wants to edit photos then he have to click on "plus" icon numerous time to get his/her photo and then he/she can edit.  If gallery will show images dynamically then the user will find an easy way to edit his/her photo.

[2017-03-18 19:03] aman95 opened #175 "Image resolution too low for captured images"
**Actual Behaviour**

Images captured from Camera fragment has very low resolution (144x176).

**Expected Behaviour**

There should be an option to select image resolution on Camera fragment or a default resolution can be selected which approximately matches the preview size.

**Screenshots of the issue**

![screenshot_20170319-002312](https://cloud.githubusercontent.com/assets/10391763/24075119/6

[2017-03-19 04:01] Abhi2424shek commented on #61
I have implemented danger it works. Now needing a bot account, shall I set one up @pa1pal. It's needed to comment the output.

[2017-03-19 04:10] Abhi2424shek commented on #173
IMO, we should have lazy loading on scroll. @pa1pal your opinion is this needed now?

[2017-03-19 09:38] #158 closed

[2017-03-19 09:43] vaibhavsingh97 opened #178 "Improvement in Camera UI"
**Expected Behaviour**
![Camera UI prototype](https://cloud.githubusercontent.com/assets/8705386/24079774/2a9e048c-0cb6-11e7-8495-97fce7d27e47.png)
We can change our camera layout. need suggestions on this layout
Additions of small features:
+ Gridlines #271
+ HDR mode #162
+ Tap to focus #162
**Would you like to work on the issue?**
Yes

[2017-03-19 09:50] Sanjayjeyavel commented on #124
@Abhi2424shek  I am working on it... just give me two days!

[2017-03-19 10:21] optnio00 commented on #161
This issue is fixed by Changing a simple line in MapsActivity.java file
public class MapsActivity extends FragmentActivity.......         by

public class MapsActivity extends AppCompatActivity

`public class MapsActivity extends AppCompatActivity implements OnMapReadyCallback, BottomNavigationView.OnNavigationItemSelectedListener {

`

[2017-03-19 10:22] optnio00 commented on #161
now app is not stop working But also it going smoothly from MapsActivity to Gallery

[2017-03-19 10:24] dynamitechetan commented on #161
I replaced MapActivity with MapFragment. Its working smoothly.

[2017-03-19 10:34] rohanagarwal94 commented on #161
@cloudypadmal already did :+1: . @dynamitechetan @optnio00 I have fixed the issue already by including the toolbar widget in the xml file. We were not using the support action bar hence the error. @optnio00 no need to send the PR for this. Also as a practice, try to solve 1 issue per PR.

[2017-03-19 11:16] CloudyPadmal opened #180 "No image selected label is not shown in Upload Photos list"
**Actual Behaviour**

When images are added to the upload photos list and in case if we remove all of them, _No Picture Selected :(_ label is invisible.

**Expected Behaviour**

When the list is emptied, _No Picture Selected :(_ label should appear again!

**Steps to reproduce it**

1. Open to app
2. Go to _Upload_ tab
3. Add some images to upload photos list
4. Long click one image and then selec

[2017-03-19 12:15] Abhi2424shek commented on #61
Creating a bit account named danger bot.

[2017-03-19 12:44] amitiwary999 opened #183 "Back button is not working properly"
**Actual Behaviour**

If we click back button in gallery activity then it shows dialog box but in other activity on pressing back button app closed.

**Expected Behaviour**

it should not happen.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provid

[2017-03-19 12:49] Abhi2424shek commented on #183
Yes pls go on.

[2017-03-19 12:51] #180 closed

[2017-03-19 13:06] Abhi2424shek commented on #178
You could work on grids as ithe things are being worked out others currently.

[2017-03-19 13:42] #163 closed

[2017-03-19 14:13] CloudyPadmal opened #185 "Different selectors for images"
**Actual Behaviour**

There are three different image selectors available in the app at
1. Gallery
2. Image picker
3. Upload image list

**Expected Behaviour**

There has to be a single image selector through out the application

**Steps to reproduce it**

1. Open app
2. Go to gallery
3. Long press an image in the gallery (Blue check box)
4. Go to Upload
5. Click on _Add Images_ and go to image pi

[2017-03-19 15:20] pa1pal commented on #185
I think the last one, in upload Screen is better

[2017-03-19 15:25] CloudyPadmal commented on #185
It looks good! :relaxed: I'll implement it!!

[2017-03-19 15:31] heysadboy opened #187 "Status bar in camera fragment"
**Actual Behaviour**

Currently there is a status bar in camera fragment. It could be removed to give the view of the photo taken a little more space.

**Expected Behaviour**

No status bar in camera fragment.

**Would you like to work on the issue?**

Yes, I would like to work on this issue.

[2017-03-19 16:04] harshitagupta30 opened #188 "Reduce size of Repository"
**Actual Behaviour**

Currently, the size of the repository is 135 MB which is due to the apk branch.

**Expected Behaviour**

Since only latest apk is required for testing purposes, we need not maintain all previous APKs that were generated, so an orphan branch can be made with just one commit, that maintains latest APK and current branch can be overwritten by that after each apk generation on a

[2017-03-19 17:08] pa1pal commented on #188
@harshitagupta30 you can work on this issue.

[2017-03-19 17:09] pa1pal commented on #187
@heysadboy you can work on this issue.

[2017-03-19 17:27] anantprsd5 opened #190 "Flash not firing at start of the App."
**Actual Behaviour**

At the first launch of the application, the flash not firing in accordance with the image resource.

**Expected Behaviour**

The flash should fire in accordance with the image resource.

**Steps to reproduce it**

Open app, go to camera, click picture, flash won't fire.

**Would you like to work on the issue?**

Yes

[2017-03-19 18:30] dynamitechetan opened #192 "Font Issues"
**Actual Behaviour**
Font of ActionBar at gallery is not same as font of Toolbars in other fragments

**Expected Behaviour**
Font of ActionBar at gallery must be same as font of Toolbars in other fragments

**Would you like to work on the issue?**
No. A beginner can try.

[2017-03-19 18:48] rohanagarwal94 opened #194 "Add option to select all images in the image selector"
**Actual Behaviour**

There is no option to select all images in any image selector.

**Expected Behaviour**

There should be option on the toolbar on long pressing an image to select all the images at once.

**Screenshots of the issue**

![screenshot_2017-03-20-00-16-40-759_vn mbm phimp me](https://cloud.githubusercontent.com/assets/13241256/24083719/a532810e-0d02-11e7-95a6-fa7f2028dd1d.png)

**W

[2017-03-19 19:00] rohanagarwal94 opened #195 "Unknown usage of button"
**Actual Behaviour**

The button placed in the action bar is not working in the gallery fragment

**Expected Behaviour**

The expected behaviour is unknown.

**Screenshots of the issue**

![screenshot_2017-03-20-00-04-54-611_vn mbm phimp me](https://cloud.githubusercontent.com/assets/13241256/24083808/4fc2fc60-0d04-11e7-97d6-a4df24f43292.png)

**Would you like to work on the issue?**

If we just n

[2017-03-19 19:01] dynamitechetan commented on #195
its working

[2017-03-19 19:09] rohanagarwal94 commented on #195
@dynamitechetan unclear on the usage. Secondly, not working on xiaomi mi3, mi4i.

[2017-03-19 19:13] rohanagarwal94 opened #196 "Create option for whitelisting folders in the settings"
**Actual Behaviour**

Currently the app scans through the phone's folders to get all the images.

**Expected Behaviour**

The users will be able to whitelist folders in the settings to avoid those folders being scanned.

**Would you like to work on the issue?**

Yes, I would like to work on it.

[2017-03-19 19:16] dynamitechetan commented on #195
it adds more images in the gallery grid. You can see them by scrolling the grid. Images are added at the end of grid. Working on OnePlus2, OnePlus3.

[2017-03-19 19:25] rohanagarwal94 commented on #195
My bad, its working. However it is misleading. I think auto addition of images on scrolling till the end of the 21 images might make more sense. @Abhi2424shek @pa1pal will that be worthy of an issue?

[2017-03-19 19:47] rohanagarwal94 opened #199 "Images in the gallery not persistent on app minimisation"
**Actual Behaviour**

On app minimisation, the additional images opened is not persistent. Also, the selection of the images is not persistent.

**Expected Behaviour**

The additional images opened in the gallery should be persistent.

**Steps to reproduce it**

1.Open app.
2.Click on add button in gallery to open more images.
3. Select images.
4.Minimise the app.
5.Open the app again.
6. Neither

[2017-03-19 20:00] rohanagarwal94 commented on #161
closing this since the issue got solved in @dynamitechetan PR #149 .

[2017-03-19 20:00] #161 closed

[2017-03-19 21:09] rohanagarwal94 opened #200 "App Crash in uploading image"
**Actual Behaviour**

The app is crashing in the uploading section in a particular workflow.

**Expected Behaviour**

The app should not crash.

**Steps to reproduce it**

1. Open upload section.
2. Add images to upload.
3. After the images are added in the upload fragment, select one of the images to add filters to it.
4. DO not change anything, and click discard.
5. Click the same image again.

[2017-03-19 21:16] rohanagarwal94 opened #201 "Design new activity for modifying image in the uploading image section"
**Actual Behaviour**

The activity design does not follow material design guidelines.

**Expected Behaviour**

The activity should be completely redesigned keeping in mind the new support design library.

**Steps to reproduce it**

1. Go to upload tab.
2. Add images to upload.
3. After the images are selected in the image selector, click one of the thumbnail in the upload grid in the upload fragme

[2017-03-19 21:25] rohanagarwal94 opened #202 "Redundancy in uploading images"
**Actual Behaviour**

The images are added again if selected from the image selector in the upload section.

**Expected Behaviour**

The uploaded image should not be readded. A unique hash should exist for each image.

**Steps to reproduce it**

1. Go to upload tab and upload image from the image selector.
2. After uploading, click on upload image button again.
3. The image selector opens, and sam

[2017-03-20 04:57] dynamitechetan commented on #201
#174 is pending, in continuation of #30.

[2017-03-20 05:42] madhavrathi opened #203 "Confirmation in Deleting Uploaded Pics From Fragment"
**Actual Behaviour**

When the user selects to delete photos from uploaded section, the photos just get deleted without any dialogue box for confirmation.

**Expected Behaviour**

There should be a confirmation Alert dialogue box in case the user accidentally presses the delete icon

**Would you like to work on the issue?**

Already Working on it. @Abhi2424shek  Should i send the PR ?

[2017-03-20 05:56] pa1pal commented on #195
#173  issue is already open for this

[2017-03-20 05:56] #195 closed

[2017-03-20 05:56] pa1pal commented on #173
Yes scroll option would be much better.

[2017-03-20 06:11] pa1pal commented on #200
not happening in my case. But if it is crashing in yours so you can work on it.

[2017-03-20 07:28] rohanagarwal94 commented on #173
@vaibhavsingh97 are you working on this, or should I start?

[2017-03-20 07:30] vaibhavsingh97 commented on #173
@rohanagarwal94 I will work on this issue. Please give me some time as I have minor exams till 23 Mar

[2017-03-20 09:13] Abhi2424shek commented on #203
Ok.

[2017-03-20 09:15] Abhi2424shek commented on #201
Yep @dynamitechetan is working on it :)

[2017-03-20 09:15] #201 closed

[2017-03-20 09:17] Abhi2424shek commented on #202
Yep work on it

[2017-03-20 09:22] Abhi2424shek commented on #196
Pls work on one issue at a time :)

[2017-03-20 09:23] Abhi2424shek commented on #194
One issue per time would be great :)

[2017-03-20 09:26] Abhi2424shek commented on #188
@harshitagupta30 just a info --- only the latest apk is maintained in the apk branch.

[2017-03-20 11:17] anuja-k commented on #192
I want work on this issue. Should I proceed

[2017-03-20 17:31] amitiwary999 opened #210 "Images are saved even if user does not click save button"
**Actual Behaviour**

After clicking image on pressing back button images are getting saved even if user does not click save button.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for

[2017-03-20 17:36] amitiwary999 opened #211 "Implement instagram and twitter sharing function just like facebook"
**Actual Behaviour**

Please state here what is currently happening.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of

[2017-03-20 18:49] rohanagarwal94 opened #212 "Camera tab should be open by default"
**Actual Behaviour**

The gallery tab is the one that opens on app initialisation.

**Expected Behaviour**

Since its a camera app, the camera should open by default initially.

**Would you like to work on the issue?**

Yes, I would like to work on it.

[2017-03-20 19:02] heysadboy commented on #212
I think the goal of the app is to share images, you can tell it as the major features are for only that. Camera is a part of the app so user can take pictures to upload without other camera application. What are your views?

[2017-03-20 19:04] dynamitechetan commented on #212
I agree with varun. I see this app as a photos aggregator not a camera app.

[2017-03-20 19:11] rohanagarwal94 commented on #212
The FOSSASIA idea lists suggest otherwise. The aim is to replace other photo apps. And to be that, the core feature set of the app should focus on camera rather than as an photo aggregator. @pa1pal @mariobehling views?
![screenshot from 2017-03-21 00-38-30](https://cloud.githubusercontent.com/assets/13241256/24117067/c2352adc-0dce-11e7-8c98-b1d42c6f069b.png)

[2017-03-20 19:14] #150 closed

[2017-03-20 20:38] rohanagarwal94 opened #214 "Update apk branch readme"
**Actual Behaviour**

The apk branch readme is out of sync with development branch readme

**Expected Behaviour**

The readme should be updated to the development branch readme.

**Screenshots of the issue**

![screenshot from 2017-03-21 02-06-21](https://cloud.githubusercontent.com/assets/13241256/24120590/2648ce82-0ddb-11e7-989b-d7cdcaabfc5d.png)

**Would you like to work on the issue?**

Yes, I

[2017-03-20 22:19] madhavrathi opened #216 "App Crashes when Local Images are Loaded"
**Actual Behaviour**

App is crashing when we choose not to show local pictures in settings, but press load more button in gallery fragment.

**Expected Behaviour**

We should Handle the exception by displaying  a Toast.

**Screenshots of the issue**

![screenshot_2017-03-21-03-40-19-725_vn mbm phimp me](https://cloud.githubusercontent.com/assets/22375731/24124317/2567d31a-0de9-11e7-9774-075b94564

[2017-03-20 22:41] amitiwary999 commented on #216
@madhavrathi someone is already working on removing that button and automatic loading of images with scroll. That's why I didn't open this issue.

[2017-03-20 22:45] madhavrathi commented on #216
@amitiwary999  No that's completely fine, but till the time someone replaces it, i guess it should work correctly. @Abhi2424shek what do you think ? Should i send PR ?

[2017-03-20 22:53] amitiwary999 commented on #216
@madhavrathi I don't remember that issue number but if you find that issue and work on it then it will be better.

[2017-03-20 22:55] madhavrathi commented on #216
@amitiwary999 Ok i will look into it. Thanks For the Head's Up

[2017-03-20 22:58] amitiwary999 commented on #173
@vaibhavsingh97 have you started working on it? this issue is creating  problem so if you are busy let's other to slove this.

[2017-03-20 23:11] vinaysajjanapu commented on #173
is anyone currently working on this issue?

I'm interested to work on it

[2017-03-20 23:38] amitiwary999 opened #217 "issue with uploading images"
**Actual Behaviour**

If an image is added for upload and then it is deleted from gallery, image get deleted from upload section but text remain there.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or

[2017-03-21 00:09] amitiwary999 opened #218 "issue with fab button in PhimpMeGallery"
**Actual Behaviour**

If fab button is open on clicking outside of fab button it is not get closed

**Expected Behaviour**
If fab button is open then on clicking outside it should close.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

yes

[2017-03-21 00:25] amitiwary999 opened #219 "issue with selected images in gallery activity"
**Actual Behaviour**

If images are selected and user press back button app is showing dialog box for closing app instead of unselect those images.

**Expected Behaviour**

If images are selected and when user press back button those images should get unselect.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links

[2017-03-21 02:19] vaibhavsingh97 commented on #173
@vinaysajjanapu @amitiwary999 I am working on the issue

[2017-03-21 09:20] #185 closed

[2017-03-21 15:16] pa1pal commented on #203
#205

[2017-03-21 15:16] #203 closed

[2017-03-21 16:34] #190 closed

[2017-03-22 08:33] #61 closed

[2017-03-22 10:47] mohitmanuja opened #224 "App is crashing on tablets whenever using large,small,x-large layouts"
**Actual Behaviour**

App is crashing in tablets because in other xmls like large,xtra large, small the proper views in not included. Null pointer exceptions.

**Expected Behaviour**

App should run properly in tablets.

![screenshot_2017-03-22-16-14-08](https://cloud.githubusercontent.com/assets/9361754/24194110/c4ba66c6-0f1a-11e7-8458-a6d22f4ac4ec.png)

**Steps to reproduce it**

Try to open app

[2017-03-22 10:53] harshitagupta30 commented on #188
@Abhi2424shek Sorry I didn't see that :+1:

[2017-03-22 11:01] mohitmanuja commented on #224
@Abhi2424shek @pa1pal  Please have a look.

[2017-03-22 11:12] Abhi2424shek commented on #224
Sure pls go on.

[2017-03-22 11:13] Abhi2424shek commented on #188
Its ok. Well you could update the repository readme mentioning of the cloning only the development branch. This will save a lot of size, I mean MBs. Can you do that @harshitagupta30?

[2017-03-22 11:15] Abhi2424shek commented on #95
An issue is still open for this in Travis, we will reopen this issue when it is closed via a commit or PR.

[2017-03-22 11:15] #95 closed

[2017-03-22 11:17] Abhi2424shek commented on #66
@optnio00 are you on it?

[2017-03-22 11:34] Abhi2424shek commented on #89
It's solved.

[2017-03-22 11:34] #89 closed

[2017-03-22 11:39] mohitmanuja commented on #224
@Abhi2424shek I am creating PR and It is showing 7 commits which are already merged with phimpme. How can I include only specific last commit in PR.  or should I send all commit. On comparision with phimpme development branch it is showing recent changes which is right but showing last 7 commit. So should I send PR with 7 commits or how to include only last commit in PR.

Please help me out.

[2017-03-22 11:41] Abhi2424shek commented on #224
You need to rebase or send them, I will squash and merge but besure of a new development process, it's in contributing.md file (before making a pr - 5) pls see it too. @mohitmanuja

[2017-03-22 11:50] mohitmanuja commented on #224
@Abhi2424shek Yeah Sure, Thanks for suggestion.

[2017-03-22 11:51] Abhi2424shek commented on #214
@rohitagarwal pls do so not by statically updating it. But by updating the update_apk.sh script.

[2017-03-22 11:51] Abhi2424shek commented on #214
So that it gets changed for each change in the readme :)

[2017-03-22 13:05] anant-dev commented on #127
![untitled 1](https://cloud.githubusercontent.com/assets/13196029/24199021/284900c2-0f2e-11e7-93e3-7c701a66a456.png)

@pa1pal @Abhi2424shek how is this icon, i can improvise it with your suggestions

[2017-03-22 15:29] CloudyPadmal opened #226 "Camera View not responding to Jelly Bean!"
**Actual Behaviour**

When using Jelly Bean 4.2.2 API17, The camera doesn't open and the application freezes. After about half a minute, a system popup is displayed saying _Phimpme isn't responding_

**Expected Behaviour**

The application should be compatible with Jelly Bean

**Steps to reproduce it**

1. Open app in a Jelly Bean device
2. Click on _Camera_ icon in the bottom navigation bar

**Lo

[2017-03-22 15:33] #224 closed

[2017-03-22 15:45] anantprsd5 commented on #50
Hi, Someone please take this issue if you like to as I am currently working on issue #162 so I am not able to work on this.
Thanks (:

[2017-03-22 16:43] anantprsd5 opened #227 "App crash on using Tap to focus in front camera"
**Actual Behaviour**

The App crashes while tapping the screen when using the front camera

**Expected Behaviour**

The App should not crash

**Steps to reproduce it**

Open App, go to camera, tap to focus- It works fine
Now switch camera - tap to focus - App crashes

**Problem**

Only some front cameras support manual focus functionality so it may not crash for users having front camera with manu

[2017-03-22 16:48] harshitagupta30 commented on #188
@Abhi2424shek Sure I can do that :+1:

[2017-03-22 16:59] Subhankar29 opened #228 "Redundant editing pages."
**Actual Behaviour**

After choosing the edit option in the photo from the gallery it transfers to edit image page. This page does not have the same UI and does not contain the same filters as the edit page it directs after taking the photo from the camera. This conflict the uniformity of the app.

**Expected Behaviour**

In my perspective after choosing the edit option from the image taken from t

[2017-03-22 22:39] aman95 opened #230 "Image does not appear in edit activity"
**Actual Behaviour**

Image does not show up in edit activity

**Expected Behaviour**

Image should show up and it can be resized from edit activity

**Steps to reproduce it**

1. Click on any Image thumbnail
2. Click on fab.
3. Choose edit

**Screenshots of the issue**

![screenshot_20170323-035754](https://cloud.githubusercontent.com/assets/10391763/24223888/3a0158a0-0f7e-11e7-8171-6843b9f6afc4.

[2017-03-23 10:35] #230 closed

[2017-03-23 10:38] #188 closed

[2017-03-23 10:39] Abhi2424shek commented on #228
Your apk seems old. The second one (pls fetch the updated version) is my choice.

[2017-03-23 10:40] Abhi2424shek commented on #227
@anantprsd5 fine.

[2017-03-23 10:59] mohitmanuja opened #232 "App crashing in Some Devices like tablet on click of an image in gallery fragment."
**Actual Behaviour**

The app is crashing in newGallery fragment while clicking on any image.
We should use srcCompact instead of src in AppCompatActivity in PhimpMeGallery.

**Expected Behaviour**
The image should open.

![screenshot_2017-03-23-16-24-43](https://cloud.githubusercontent.com/assets/9361754/24244514/45f9b4ba-0fe5-11e7-94b9-64eb2033b057.png)

**Steps to reproduce it**

Open app and c

[2017-03-23 11:05] mohitmanuja commented on #232
@Abhi2424shek Should I proceed with PR.

[2017-03-23 11:06] Abhi2424shek commented on #232
Yes pls

[2017-03-23 11:09] Abhi2424shek commented on #226
Yes pls work on it.

[2017-03-23 12:08] mohitmanuja opened #234 "Remove un-used tags from manifest"
**Actual Behaviour**

All unused tags should be removed. Like .GalleryMap , .UploadMap  and all activity tag which are now changed in fragments.

**Steps to reproduce it**

Find in Manifest file.

**Screenshots of the issue**

![screenshot from 2017-03-23 17 38 20](https://cloud.githubusercontent.com/assets/9361754/24246941/8b1812d0-0fef-11e7-9fa9-6a8bfe93dc81.png)

**Would you like to work on the

[2017-03-23 12:58] CloudyPadmal commented on #226
It was some internal issue in the device. It works in Jelly! Hence closing the issue :)

[2017-03-23 12:58] #226 closed

[2017-03-23 14:28] #232 closed

[2017-03-23 14:56] Abhi2424shek commented on #234
Yep

[2017-03-23 16:17] #234 closed

[2017-03-24 16:21] mohitmanuja opened #238 "New Feature : Image should be zoom able in gallery Fragment & Refactor Gallery"
**Actual Behaviour**

We can't able to zoom image right now.

**Expected Behaviour**

It should be zoomable.

**Steps to reproduce it**

Click on any image in Gallery Fragment.

**Would you like to work on the issue?**

Yes.

[2017-03-24 21:39] rohanagarwal94 opened #240 "Mapfragment taking too much time to instantiate"
**Actual Behaviour**

Currently, the mapfragment takes too much time. Its mostly stuck on progress bar.

**Expected Behaviour**

The mapfragment should open quickly.

![screenshot from 2017-03-25 03-04-04](https://cloud.githubusercontent.com/assets/13241256/24314574/4d812c62-1108-11e7-8889-0e0909893d21.png)

![screenshot_2017-03-25-02-34-25-139_vn mbm phimp me](https://cloud.githubusercontent.com/

[2017-03-25 03:43] Abhi2424shek commented on #240
That would be awesome.

[2017-03-25 03:46] Abhi2424shek commented on #238
Ok pls go on.

[2017-03-26 12:51] Subhankar29 commented on #228
Yeah, but I think the editing page should be same. Right now we two different editing pages. One for the photo from the gallery and the other from the camera. This is Redundant.

[2017-03-26 14:57] Abhi2424shek commented on #228
Yes you can work on it. @Subhankar29 first update your fork, then please work, the second one is better (not the issue in the pic but the current one).

[2017-03-27 09:15] Abhi2424shek opened #243 "Improve Travis CI build time"
**Actual Behaviour**

The build time is very long.

**Expected Behaviour**

The build time should be reduced by running jobs in parallel.

**Steps to reproduce it**

See the Travis CI dashboard.

**Would you like to work on the issue?**

Anyone can take it excluding Abishek V Ashok.

[2017-03-27 10:04] jaisurya commented on #243
Steps to reduce it

Parallel and Deamon Configuration

Would you like to work on the issue?

Yes I want to.

[2017-03-27 10:18] Abhi2424shek commented on #243
@jaisurya then you may!

[2017-03-27 16:31] vinaysajjanapu opened #244 "Implementing View Pager for navigation in main page"
**Actual Behaviour**

 For navigating between pages (gallery, maps ...), we had to click on the bottom navigation menu.

**Expected Behaviour**

Navigating between fragments using swipe gesture.

**Would you like to work on the issue?**

yes

[2017-03-27 18:06] dynamitechetan commented on #244
this is against the bottombarnavigation guidelines

[2017-03-27 19:08] rohanagarwal94 opened #246 "Refactor codebase"
**Actual Behaviour**

There are lot of unused classes which needs to be removed in order for new developers to contribute effortlessly.

**Expected Behaviour**

The unused classes will be removed. The classes will be placed in respective folders.

**Screenshots of the issue**

![screenshot from 2017-03-28 00-36-39](https://cloud.githubusercontent.com/assets/13241256/24373342/ada61f24-134e-11e7-9e9

[2017-03-27 21:21] rohanagarwal94 opened #247 "Initialise camera of the map fragment"
**Actual Behaviour**

On opening the map fragment, the camera is initialised to the map of the world.

**Expected Behaviour**

The camera of the map should be initialised to the city location of the user which is most likely where he must have clicked the most photos.

**Screenshots of the issue**

![screenshot_2017-03-28-02-44-23-424_vn mbm phimp me](https://cloud.githubusercontent.com/assets/132

[2017-03-27 21:40] rohanagarwal94 opened #248 "The map shows no info in no internet state"
**Actual Behaviour**

The map fragment shows nothing on installation of app in no internet state. Happens with Xiaomi phones where the latest update makes a new installed application run without wifi on default.

**Expected Behaviour**

A dialog box should appear to direct the user to connect to internet in order to instantiate the map.

**Steps to reproduce it**

1. Install the application.
2. Sw

[2017-03-28 01:58] vinaysajjanapu commented on #244
No, it is not against the guidelines. As per guidelines, it is not a good practice to have both tablayout and bottomnavigationnbar for same task. But we can link viewpager and bottomnavigationbar.

[2017-03-28 03:30] Abhi2424shek commented on #248
We should display no internet connection dialog or redirect to an activity when we really require internet access :) pls bear that in mind :)

[2017-03-28 03:31] Abhi2424shek commented on #247
What happens if he has gps turned off?

[2017-03-28 03:32] Abhi2424shek commented on #246
Most of the codebase contains old stuff however if you can pick unused classes from them you may.

[2017-03-28 03:45] Abhi2424shek opened #249 "Get gps data from users IP"
**Actual Behaviour**

We are only fetching gps coordinates when user is having gps turned on.

**Expected Behaviour**

We should be able to take gps coordinates from ip address. We should also put an option in settings to disable it so as to give user more piracy if he wishes to.

**Would you like to work on the issue?**

/0

[2017-03-28 04:14] AliAyub007 commented on #249
Yes I would like to work on it.

[2017-03-28 04:54] vinaysajjanapu opened #250 "Bottom navigation bar not getting updated"
**Actual Behaviour**

Bottom navigation bar indicator not getting updated when back button is pressed from the page other than gallery page.

**Expected Behaviour**

It should get updated.

**Steps to reproduce it**

Tap on upload or settings or camera... then press back button.

**Screenshots of the issue**
![screenshot_20170328-100255](https://cloud.githubusercontent.com/assets/15368561/24389624

[2017-03-28 05:04] AliAyub007 opened #251 "App Crashing on touching near right and bottom border in camera fragment"
**Actual Behaviour**

App is crashing if we touch anywhere on right and bottom border in camera fragment (in rear camera).

**Expected Behaviour**

It shouldn't crash instead it should also focus by tapping there.

**LogCat for the issue**

![error](https://cloud.githubusercontent.com/assets/25840461/24389796/d2162544-139d-11e7-8887-ecb1f891fdb8.PNG)

**Would you like to work on the issue?**

Yes.

[2017-03-28 07:08] Abhi2424shek commented on #249
Ok pls then

[2017-03-28 10:56] rohanagarwal94 commented on #247
It will take location through either gps or internet. So, that wont be an issue.

[2017-03-28 13:00] #250 closed

[2017-03-28 13:01] vinaysajjanapu commented on #250
sorry, issue got solved on updating the build.

[2017-03-28 13:28] vinaysajjanapu opened #252 "App getting crashed on double tapping capture button in camera"
**Actual Behaviour**

App getting crashed on double tapping capture button in camera

**Expected Behaviour**

second click should not have any effect.

**LogCat for the issue**

 java.lang.RuntimeException: takePicture failed
                                                                     at android.hardware.Camera.native_takePicture(Native Method)

[2017-03-28 13:33] Subhankar29 commented on #228
working on it

[2017-03-28 15:23] vinaysajjanapu commented on #251
@AliAyub007 I have just gone through the code and found what caused the issue. Shall I send the PR or do you want to work on it?

[2017-03-28 15:30] AliAyub007 commented on #251
@vinaysajjanapu  I wanted to work on this I just got home but it's totally fine if you have solved it and want to send PR.

[2017-03-28 15:50] rohanagarwal94 commented on #212
@pa1pal @Abhi2424shek views on this?

[2017-03-28 16:12] pa1pal commented on #212
@rohanagarwal94 I agree.
But app's primary feature is sharing photos. The camera is equally important. But we cannot open camera by default. Considering from the use case perspective as well. The user will be more engaged with sharing and editing image. Initiating camera by default, will increase one click.

[2017-03-28 16:16] rohanagarwal94 commented on #212
@pa1pal accepted. Hence closing this.

[2017-03-28 16:16] #212 closed

[2017-03-28 17:39] vinaysajjanapu commented on #173
@vaibhavsingh97 It has been 10 days since you opened the issue. So I sent a PR. you may improve it if you wish.

[2017-03-28 20:25] mohitmanuja opened #257 "Images should be share with all messaging apps instead of custom bluetooth"
**Actual Behaviour**
Right now on click on share button, the custom Bluetooth interface is opening.

![screenshot_2017-03-29-01-48-18-065_vn mbm phimp me](https://cloud.githubusercontent.com/assets/9361754/24425637/83eec3dc-1422-11e7-9ec1-cd8337a6bf7b.png)

**Expected Behaviour**
Instead of custom Bluetooth the user can also able to share with others available messaging apps currently present on t

[2017-03-28 21:03] mohitmanuja commented on #257
@Abhi2424shek Please review it.

[2017-03-29 04:57] pa1pal commented on #257
@mohitmanuja This issue is same as #83 and the PR is in progress.
I am closing it for now. Please reopen if there is any difference.

[2017-03-29 04:57] #257 closed

[2017-03-29 06:37] vinaysajjanapu commented on #251
@AliAyub007 fine. thank you.

[2017-03-29 08:07] vinaysajjanapu opened #260 "App getting crashed on pressing more button in gallery page"
**Actual Behaviour**

App is getting crashed on pressing more button in gallery page when "show local photos" is not checked in settings page

**Expected Behaviour**

Handle case when the show local photos is not checked

**Steps to reproduce it**

Go to settings page. uncheck show local photos. Navigate to gallery page and press more images icon on top.

**LogCat for the issue**
 java.lang.IndexO

[2017-03-29 08:48] #252 closed

[2017-03-29 11:36] #214 closed

[2017-03-29 11:40] mohitmanuja commented on #257
@pa1pal Hey, Actually #83 is the same but it is raised for sharing single images from gallery fragment fab share option but my issue is sharing multiple images from upload fragment.
I think It is different although sharing option should be changed from both places. So should I send PR for #83 because the PR for #83 is flagged as invalid?

[2017-03-29 11:42] Abhi2424shek commented on #257
It's not invalid. See it pls #87. @harsu-agu has done the work, but it has now conflicts. I think pinging him would be good so pinging.

[2017-03-29 11:44] mohitmanuja commented on #257
okay @Abhi2424shek but that issue is for sharing single image so either we can ping him to add for sharing multiple images too. :-)

[2017-03-29 11:47] Abhi2424shek commented on #257
Yea it would be easy. So I pinged him :) let's wait.

[2017-03-29 11:47] mohitmanuja commented on #257
Okay @Abhi2424shek (y)

[2017-03-29 14:43] pa1pal commented on #260
The issue is already open #216

[2017-03-29 14:43] #260 closed

[2017-03-29 15:03] #187 closed

[2017-03-29 15:14] rohanagarwal94 opened #264 "Image picker Activity leaking window"
**Steps to reproduce it**

Unclear on this part. Error caught while debugging the application.

**Screenshots of the issue**

![screenshot from 2017-03-29 20-41-56](https://cloud.githubusercontent.com/assets/13241256/24461963/6eaa3df0-14c0-11e7-842a-6e4566a46613.png)

**Would you like to work on the issue?**

Yes, I would like to work on it.

[2017-03-30 13:37] #244 closed

[2017-03-30 13:38] vinaysajjanapu commented on #244
PR merged by @pa1pal

[2017-03-30 14:58] rohanagarwal94 opened #266 "Deselect all images in gallery fix"
**Actual Behaviour**

It is not appropriate to call onresume to deselect all the images in the menu item menu_gallery_deselect_selected. Due to this, the images selected also gets lost on resume for which I have opened another issue. For solving that, I need to solve this first.

**Expected Behaviour**

The deselecting of the images should be implementing correctly.

**Screenshots of the issue**

[2017-03-30 17:53] vinaysajjanapu opened #267 "Replace bottomnavigationview with Tablayout"
**Issue**

Bottomnavigationview is not getting animated perfectly with viewpager. The tasks bottomnavigationview performs can also be achieved by using a tablayout. Viewpager also works best with tablayout. So, I prefer replacing bottomnavigationview with tablayout.

**Would you like to work on the issue?**

yes.

[2017-03-30 18:02] #216 closed

[2017-03-30 18:06] dynamitechetan opened #268 "Bottom Navigation Bar Behavior"
https://material.io/guidelines/components/bottom-navigation.html#bottom-navigation-behavior
Read this.
Using swipe gestures on the content area does not navigate between views.
4cc8f7cbbbaed0496fb38624e0fc387d3b2a345e commit was regarding this only.
again issue #267 is similar to this.

Please follow the guidelines.
I request to revert the merge for swipe gestures in bottom navigation bar and view

[2017-03-30 18:11] madhavrathi commented on #268
@dynamitechetan is right. I guess maintainers should revert the commits. @Abhi2424shek @pa1pal

[2017-03-30 18:34] pa1pal commented on #268
@dynamitechetan I though that swipe will be good for easy navigation. Sorry, I didn't saw that earlier.
Following guidelines is always foremost priority.
Thanks for pointing out.

[2017-03-31 05:19] #268 closed

[2017-03-31 05:31] pa1pal commented on #267
#269

[2017-03-31 05:31] #267 closed

[2017-03-31 10:12] vinaysajjanapu opened #273 "No confirmation on back button pressed in edit image page"
**Actual Behaviour**

The activity just closes when back button is pressed in edit image page (CropImage activity). This may cause loss of edited image when back button got pressed accidentally.

**Expected Behaviour**

Should display a dialog asking a confirmation from the user to close the activi

**Steps to reproduce it**

Select image in gallery page. Press edit FAB. Perform some edits. Press

[2017-03-31 10:27] Abhi2424shek commented on #273
Ok cool work on it then pls.

[2017-03-31 11:18] rohanagarwal94 commented on #273
@vinaysajjanapu I suggest you implement the fix in the application class itself, so that whichever activity the user is in , the dialog will be shown.

[2017-03-31 12:06] vinaysajjanapu commented on #273
@rohanagarwal94 I hope it is not necessary for all activities and the dialog needed will also be different for different activities.

[2017-03-31 14:17] vinaysajjanapu opened #276 "Single Edit Image Page for the application"
**Actual Behaviour**

Now there are two different edit image pages.
 - one when we edit picture from gallery page
 - other when we click picture

**Expected Behaviour**

It would be better if we have a same page as both pages have same utility.

**Screenshots of the issue**

![screenshot_20170331-194012](https://cloud.githubusercontent.com/assets/15368561/24554343/d4c3fe6a-164a-11e7-9541-23d6b031c

[2017-03-31 14:31] heysadboy commented on #171
Send new pull request here https://github.com/fossasia/phimpme-android/pull/277 and closing this.

[2017-03-31 14:31] #171 closed

[2017-03-31 15:02] Abhi2424shek commented on #171
Hey i think you pressed the wrong button . Was the issue closed intentionally @heysadboy

[2017-03-31 15:05] Abhi2424shek commented on #276
Duplicate of #228

[2017-03-31 15:05] #276 closed

[2017-03-31 15:10] heysadboy opened #278 "Empty space taken by shadow"
**Actual Behaviour**

The view creates thin line which is visible in camera and map activity.

![screenshot_2017-03-31-20-33-46](https://cloud.githubusercontent.com/assets/22588035/24556513/43fe6994-1652-11e7-8c7c-fc854a239a39.png)

**Expected Behaviour**

Although shadow is good but it should not push up other views.

![screenshot_2017-03-31-20-35-05](https://cloud.githubusercontent.com/assets/22

[2017-03-31 15:14] Abhi2424shek commented on #278
@heysadboy remove the shadow only when the background is not white or any shade of white.

[2017-03-31 15:15] Abhi2424shek commented on #278
That's ^ only my opinion, let's wait for others and then only pls do work on it ;)

[2017-03-31 15:16] madhavrathi commented on #278
@heysadboy @Abhi2424shek  I guess the shadow distinguishes the bottom navigation bar from the current view. I guess this is a good feature.

[2017-03-31 15:22] heysadboy commented on #278
@madhavrathi @Abhi2424shek  I think the color of bottom navigation bar is distinguishable enough to view separate that in gallery and I think it looks a bit unpolished to have gaps between views.

[2017-03-31 15:24] madhavrathi commented on #278
@heysadboy That is true. It looks kinda unpolished.

[2017-03-31 15:35] AliAyub007 commented on #278
@heysadboy With Shadow doesn't it look bit promising and distinguishable if there is white background? For camera and gallery it does look unpolished i think.

[2017-03-31 16:59] heysadboy commented on #278
I think I should come up with some other solutions for this.

[2017-03-31 17:56] vinaysajjanapu opened #281 "Flash state is not persistent."
**Actual Behaviour**

Flash state is not persistent. If you capture a photo by changing flash mode and when you return to camera page again by pressing back button, the flash mode is getting changed but the flash button UI is not getting updated.

You can see in the screenshot that even when the flash mode is shown as OFF, flash got fired.

**Screenshots of the issue**

![screenshot_20170331-23013

[2017-04-01 08:47] Abhi2424shek commented on #109
Is'nt this solved?

[2017-04-01 08:48] Abhi2424shek commented on #50
Increasing priority as the main functions seems functional.

[2017-04-01 17:48] Subhankar29 commented on #228
Sorry, I couldn't work on it because of my exams. Started working on it. Will send PR ASAP.

[2017-04-01 23:29] rohanagarwal94 opened #286 "Implement the tree file structure iteration for the fetching of images"
**Actual Behaviour**

The images are being fed from the MediaStore class. Even the caching of the images are repetitive at various places in the codebase.

**Expected Behaviour**

The users will be shown only the images which he wants to see. The caching of the images should be made into separate class rather than cursor over MediaStore each and every time.  Additionally, the max file size in the

[2017-04-02 05:06] #227 closed

[2017-04-02 05:36] amitiwary999 opened #288 "Picture get rotated by itself."
**Actual Behaviour**

After clicking images from camera image get rotated by itself.

**Expected Behaviour**

picture should not rotate by itself.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

![screenshot_2017-04-02-10-47-02](https://cloud.githubusercontent.com/assets/14003244/24584716/d5967dd2-1793-11e7-8bb3-4d367578b4e1.png)
![screenshot_2017-04-02-10-46-29

[2017-04-02 05:52] pa1pal commented on #210
@amitiwary999 The discard button is to discard the edits. So Image will get saved as you click.
#90 #155 issues already closed for this.
Please do explore all the issues before opening a new one.  Also fill all the details in issue template.

[2017-04-02 05:52] #210 closed

[2017-04-02 05:57] pa1pal commented on #218
While opening issue, if you don't have information for all the points, at least delete the sample line written.

[2017-04-02 07:57] rohanagarwal94 commented on #199
@pa1pal update on this?

[2017-04-02 08:57] mohitmanuja opened #290 "Feature : Local Gallery images should be scrollable"
**Actual Behaviour**
The user is not able to scroll to more images by swiping left and right. They have to go back and select another image.

**Expected Behaviour**

The user should able to scroll to more images by swiping left and right.

**Steps to reproduce it**

Click on any image from local gallery and try to swipe right and left.

**Screenshots of the issue**

![screenshot_2017-04-02-14-25-5

[2017-04-02 13:29] Abhi2424shek commented on #288
First, please do update the issue template.

[2017-04-02 13:30] Abhi2424shek commented on #290
Ok seems cool.

[2017-04-02 13:32] Abhi2424shek commented on #211
Closing as the issue doesnot state anything in the body. @amitiwary999

[2017-04-02 13:32] #211 closed

[2017-04-02 13:33] Abhi2424shek commented on #101
@AliAyub007 is the issue still there?

[2017-04-02 13:39] AliAyub007 commented on #101
@Abhi2424shek I had my exams and in that time Someone has solved redundancy and sent pull request I think. but it's not merged yet.

[2017-04-02 13:40] Abhi2424shek commented on #192
@anuja-k can you reply, are you still on it.

[2017-04-02 13:41] Abhi2424shek commented on #101
Pls check if it exists @AliAyub007 by testing it if you could, can you? ;)

[2017-04-02 13:44] AliAyub007 commented on #101
@Abhi2424shek Yes, Redundancy still exists like you can upload similar images multiple times.

[2017-04-02 13:50] #178 closed

[2017-04-02 14:22] pa1pal commented on #199
@rohanagarwal94 you can work on it.

[2017-04-02 14:30] AliAyub007 opened #292 "Flash Mode getting RESET after taking one picture"
**Actual Behaviour**

If you turn off flash it turns OFF but after taking one picture even with turned off flash icon it start flash on taking picture.

**Expected Behaviour**

Flash should remain in same state as set before

**Steps to reproduce it**

We just have to maintain last set state.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of the issue**

Where-ever possi

[2017-04-02 14:40] CloudyPadmal opened #294 "Crash in Edit Images"
**Actual Behaviour**

I was editing an image. Editing as in I was applying a filter and cropped the image and saved it. Then I clicked on the image and chose to edit again. I cropped the image a little bit more and saved and the app crashed. It happened many times to me; so reporting as a bug!

**Expected Behaviour**

App should not crash. The image edited should be saved!

**Steps to reproduce it

[2017-04-02 14:44] CloudyPadmal opened #296 "Image cropping doesn't save the cropped image"
**Actual Behaviour**

When I try to crop an image without applying any filter, it doesn't save the cropped image.

**Expected Behaviour**

When an image is being cropped, it should be saved when we click on _OK_ button

**Steps to reproduce it**

1. Open app
2. Select an image and open the full image view
3. Click on the FAB and select _Edit_ button
4. Crop the image **without** applying any filte

[2017-04-02 14:56] CloudyPadmal opened #297 "Cropped image quality is very low (with filters)"
**Actual Behaviour**

First of all not that I've mentioned (with filters) because it doesn't save cropped images without any additional change. When an image is cropped to the size same as the original image even, the image quality is very low

**Expected Behaviour**

Image quality should be at a satisfiable level

**Steps to reproduce it**

1. Open app
2. Select an image from gallery
3. Click on

[2017-04-02 15:02] CloudyPadmal opened #298 "Details for edit images are not being saved"
**Actual Behaviour**

When I try to give a name to an image I've edited, it's not saving with the name I've given. Instead it saved as a tmp_115151515.jpg something like that! This is the same for Lat Lon attributes as well.

**Expected Behaviour**

Image should be saved with the name it was given by the user

**Steps to reproduce it**

1. Open app
2. Select an image
3. Click on the FAB icon and c

[2017-04-02 15:05] #219 closed

[2017-04-02 15:18] anuja-k commented on #192
@Abhi2424shek
Sorry, I am not on it

[2017-04-02 18:09] rohanagarwal94 opened #301 "Create fdroid build variant of the app"
**Actual Behaviour**

Currently the mapfragment is the google play maps.

**Expected Behaviour**

There should be an alternate build variant of the app containing fdroid map to be able to submit the app into the fdroid playstore just like the FOSSASIA open-event-android.

**Would you like to work on the issue?**

Yes, I would like to work on it.

[2017-04-02 21:17] madhavrathi commented on #298
@CloudyPadmal I would like to work on this.

[2017-04-03 00:15] CloudyPadmal commented on #298
Sure @madhavrathi ! Go ahead! :)

[2017-04-03 13:34] dynamitechetan commented on #301
I think this app is not ready to be published on any app store.

[2017-04-03 14:55] pa1pal commented on #301
agree with @dynamitechetan.
@rohanagarwal94 we will definitely do this, but before this we need to add a lot of feature. Right now the app is no near to release.

[2017-04-03 17:24] #281 closed

[2017-04-03 17:31] #194 closed

[2017-04-03 17:52] rohanagarwal94 opened #302 "The cache is not filled in the first run of the app"
**Actual Behaviour**

The asynctask namely cachetask in the phimpme.java is not executing completely the first time, i.e. on download of the application. Hence the cache is not formed the first time. This is probably due to interruption of the method doInBackground() due to asking of permissions the first time.

**Expected Behaviour**

The cache should be filled the first time.

**Steps to reprodu

[2017-04-03 19:05] mohitmanuja opened #303 "The filter layout should be of different colour."
**Actual Behaviour**

Right now filter layout background colour is same as the background. Due to the transparency of icon, some icon is difficult to see.

**Expected Behaviour**

filter layout background colour should be of different colour.

**Steps to reproduce it**

Open image and click on edit from fab buttons.

**Screenshots of the issue**

Where-ever possible attach a screenshot of the issu

[2017-04-03 22:36] vinaysajjanapu commented on #296
I'll try

[2017-04-04 04:43] AliAyub007 opened #305 "Accounts option on two screens (Upload and Settings)"
**Actual Behaviour**

There is Accounts option to show connected accounts on upload Screen with add accounts button and on settings screen there is Accounts option to show connected accounts.
**Expected Behaviour**

It should only be on setting and it should be like the way it is currently on upload screen. Add accounts button and Showing connected accounts.

**Screenshots of the issue**

Where-ev

[2017-04-04 05:31] CloudyPadmal commented on #305
Hello @AliAyub007 !  I think the one in upload is to select to which account we want to upload the images in the list and the one in the settings is to add an account into the app. What do you think? :)

[2017-04-04 05:34] CloudyPadmal commented on #296
@vinaysajjanapu okay! :)

[2017-04-04 06:22] AliAyub007 commented on #305
@CloudyPadmal  Shouldn't it be in a way that all accounts will be connected and shown in settings  and user can select which account should be linked to upload photos and when someone click the upload images should be uploaded to linked accounts.

[2017-04-04 08:02] Abhi2424shek commented on #305
That's whats happening now @AliAyub007 isn't it?

[2017-04-04 08:04] #218 closed

[2017-04-04 08:20] Abhi2424shek commented on #294
Sure @CloudyPadmal

[2017-04-04 08:20] AliAyub007 commented on #305
yes @Abhi2424shek  I was just asking whether it should be in upload and settings both or it can be in settings only with the way it is working right now?

[2017-04-04 10:27] Abhi2424shek commented on #305
I think the current way is fine. Is'nt it?

[2017-04-04 10:31] Abhi2424shek commented on #228
@Subhankar29 sure.

[2017-04-04 10:32] Abhi2424shek commented on #83
Any one else interested on this?

[2017-04-04 10:33] #118 closed

[2017-04-04 10:34] saurabhjn76 commented on #83
may I work on this?

[2017-04-04 10:34] Abhi2424shek commented on #83
@saurabhjn76 sure

[2017-04-04 10:39] Abhi2424shek commented on #303
We will first move to a single edit activity and then add this. Open when needed. Is'nt that fine :)

[2017-04-04 10:39] #303 closed

[2017-04-04 11:14] Abhi2424shek commented on #66
It's working now

[2017-04-04 11:14] #66 closed

[2017-04-04 11:16] Abhi2424shek commented on #81
I think #286 is much better, and since @ShailyTyagi isn't working on it, closing it.

[2017-04-04 11:16] #81 closed

[2017-04-04 11:16] Abhi2424shek commented on #101
That's a feature

[2017-04-04 11:16] #101 closed

[2017-04-04 11:17] Abhi2424shek commented on #109
It's solved.

[2017-04-04 11:17] #109 closed

[2017-04-04 11:18] Abhi2424shek commented on #124
It's fixed.

[2017-04-04 11:18] #124 closed

[2017-04-04 11:19] Abhi2424shek commented on #200
It's not happening for me either.

[2017-04-04 11:19] #183 closed

[2017-04-04 14:33] vinaysajjanapu commented on #297
working on it

[2017-04-04 15:33] rohanagarwal94 opened #307 "App flow causes lags. Move time consuming tasks to splashscreen."
**Actual Behaviour**

Currently, there are different places where the cursor is reiterating over the mediastore class which is responsible for the lag in the application.

**Expected Behaviour**

I suggest to move all time consuming tasks to the splashscreen activity and save the result for future reference in the app.

**Would you like to work on the issue?**

Yes, its a core issue. I would like

[2017-04-04 16:05] vinaysajjanapu commented on #297
@CloudyPadmal I got the issue. Check at line 196 of cropimage class. There the image is getting downsampled by 4.

A scaledbitmap is being created only with those images whose dimensions after downsampling are not even. But this should be performed even if the dimensions are even.

if the sample size is reduced, the quality should increase.

Try these changes and check if there is any improvement.

[2017-04-04 17:09] AliAyub007 commented on #305
I was just thinking it in a redundant way and good user practice but If you think it's fine then It is good to me too.

[2017-04-04 17:20] pa1pal commented on #305
@AliAyub007 The upload screen shows all the connected accounts with checkboxes. So when user added the images can mark the accounts in which he/she wants to upload.
In settings it is to remove the connection.
I think it clears your confusion.

[2017-04-04 17:20] #305 closed

[2017-04-04 18:51] mohitmanuja commented on #246
@rohanagarwal94 Are you working on it. If not may I proceed. ?

[2017-04-04 19:03] rohanagarwal94 commented on #246
Yes I am. It's just that I am working on improving the background tasks of the app along side this, therefore it's taking me time.

Sent from Yahoo Mail on Android

  On Wed, Apr 5, 2017 at 12:22 AM, Mohit Manuja<notifications@github.com> wrote:
@rohanagarwal94 Are you working on it. If not may I proceed. ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2017-04-05 14:54] CloudyPadmal opened #311 "Delete action in main gallery selects all images to delete"
**Actual Behaviour**

When I long click on an image in the main gallery and select _Delete_ menu button, it selects all the images visible to delete

**Expected Behaviour**

The selected images should remain selected and once the delete confirmation is granted, the selected image should be deleted

**Steps to reproduce it**

1. Open app
2. Go to main gallery
3. Long click on an image
4. Click on _

[2017-04-05 19:48] saurabhjn76 opened #315 "CONTRIBUTING.md link broken in README.md"
**Actual Behaviour**
Currently in README.md, the  contributing guide's link is broken. Also, the link should point to parent repo file instead of forked repo file.
`[code of conduct]((https://github.com/jsroyal/phimpme-android/blob/development/CONTRIBUTING.md))`

**Expected Behaviour**
`[code of conduct](https://github.com/fossasia/phimpme-android/blob/development/CONTRIBUTING.md)`

**Would you li

[2017-04-05 20:21] rohanagarwal94 commented on #53
@pa1pal I am developing a native solution for this where the user will be logging in and then will select his site( if he has more than 1 sites) where the media will be uploaded. Anything else to look out for???

[2017-04-06 09:29] #311 closed

[2017-04-06 09:29] #294 closed

[2017-04-06 09:31] Abhi2424shek commented on #53
He will have the option to choose it? @rohanagarwal?

[2017-04-06 09:31] Abhi2424shek commented on #315
Ok seems simple.

[2017-04-06 09:53] rohanagarwal94 commented on #53
Oh yes, probably in recyclerview.

Sent from Yahoo Mail on Android

  On Thu, Apr 6, 2017 at 3:01 PM, Abishek V Ashok<notifications@github.com> wrote:
He will have the option to choose it? @rohanagarwal?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-04-06 12:45] AliAyub007 opened #318 "Selected Images in main gallery cannot be uploaded to upload list"
**Actual Behaviour**

If we select images in main screen multiple images cannot be uploaded to upload list.

**Expected Behaviour**

There should be an upload button also with delete option when you select multiple images.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**Log

[2017-04-06 12:47] #292 closed

[2017-04-06 14:42] pa1pal commented on #53
@rohanagarwal94 every account will be shown as a separate account. You can add multiple wordpress accounts. Other than media, there was a text field as well, where you can write the message.

[2017-04-06 15:51] mohitmanuja commented on #318
Okay, I will work on it.

[2017-04-06 15:54] AliAyub007 commented on #318
Sure @mohitmanuja  👍

[2017-04-06 17:14] rohanagarwal94 commented on #53
@pa1pal what I am trying to convey is there is a difference between uploading a media and publishing a media. I will be adding a login page if the user has not already logged in. On logging in, the user will be shown multiple sites which he has created with wordpress. On selecting a site, a dialog will pop-up to confirm upload to the site. Point to note here is that this will not publish the image

[2017-04-06 17:41] pa1pal commented on #53
Your workflow is fine, but can't accounts be on multiple sites basis? and we select publishing the media as out priority.
Because what we want in phimpme is many upload right from one click. So let say when app will have 10 accounts, then user just simply mark the account which he/ she wants to upload and press one button. Rest the app will upload one by one and not block the UI thread.

[2017-04-06 18:56] rohanagarwal94 commented on #53
The only account I am talking right now is of Wordpress. Now as far as checklist goes, it will encounter some problems in the case of a Wordpress account. Firstly, the user should be logged into the particular account. If suppose the Wordpress and Drupel are not logged in, how will the UI flow be in order to make him login into both?
Secondly as explained earlier, a user can create multiple websit

[2017-04-07 00:26] #196 closed

[2017-04-07 00:32] #202 closed

[2017-04-07 00:33] #247 closed

[2017-04-07 06:39] saurabhjn76 opened #320 "App crashing on pressing back after selecting map or settings."
**Actual Behaviour**
Currently, App is crashing after selecting any option other than the gallery and then pressing back button.

**Expected Behaviour**
App should gracefully exit with alertDialog or should take the user to the previously selected screen.

**Steps to reproduce it**

1. Select any option from bottom navigation other than gallery.
2. Press back button.
3. App crashes.

**LogCat for

[2017-04-07 08:59] amitiwary999 commented on #320
@saurabhjn76 I solved this issue . This issue is generated due to my previous PR. Can I send PR for this?

[2017-04-07 09:56] #264 closed

[2017-04-07 10:18] amitiwary999 opened #321 "App crashes if user edit image in upload section"
**Actual Behaviour**

App crashes if user edit image in upload section

**Expected Behaviour**

App should not crash.

**Steps to reproduce it**

Add image in upload section and then click on it. Image edit activity will open. Now rotate image image by clicking on rotate button and then apply some filter.

**LogCat for the issue**

java.lang.IllegalStateException: Can't copy a recycled bitmap

[2017-04-07 10:32] saurabhjn76 commented on #320
Sure go on!!

[2017-04-07 12:47] #315 closed

[2017-04-07 13:19] #320 closed

[2017-04-07 13:20] Abhi2424shek commented on #30
@dynamitechetan is it finished? I think most layouts have been changed to comply.

[2017-04-07 13:21] Abhi2424shek commented on #290
Closed via #303

[2017-04-07 13:21] #290 closed

[2017-04-07 13:24] Abhi2424shek commented on #278
@heysadboy I encourage you to take a look at the Google photos app, they are giving low zindex for the shadow and allowing it to be overlapped so that it looks like it is in the background. Your thoughts @pa1pal

[2017-04-07 13:28] Abhi2424shek commented on #173
Closed via #309

[2017-04-07 13:28] #173 closed

[2017-04-07 13:32] Abhi2424shek commented on #83
Closed via #314

[2017-04-07 13:32] #83 closed

[2017-04-07 13:34] Abhi2424shek commented on #273
Closed via #275

[2017-04-07 13:34] #273 closed

[2017-04-07 13:36] Abhi2424shek commented on #192
OK, closed via #280

[2017-04-07 13:36] #192 closed

[2017-04-07 15:08] amitiwary999 opened #323 "Back button not working properly"
**Actual Behaviour**

On pressing back button app is not closed even if user click yes button in dialog box.

**Expected Behaviour**

If user click yes button in dialog box then app should close.

**Steps to reproduce it**

Go to setting and change theme. Now press back button and click on yes button in dialog box.

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work o

[2017-04-07 17:43] #323 closed

[2017-04-08 09:20] rohanagarwal94 commented on #53
@pa1pal final take on this? I am solving this on priority than other issues.

[2017-04-08 10:05] pa1pal commented on #53
@rohanagarwal94 go ahead with your idea and firstly please see the current wordpress mobile app may be we get some idea from there. Because earlier implementation was exactly like the wordpress mobile app.

[2017-04-08 10:06] rohanagarwal94 commented on #53
@pa1pal I will take that into account :+1:

[2017-04-09 16:02] Abhi2424shek commented on #321
OK please go on..

[2017-04-09 16:03] Abhi2424shek commented on #307
OK seems cool.

[2017-04-10 04:04] #296 closed

[2017-04-10 11:47] #318 closed

[2017-04-10 22:10] saurabhjn76 opened #326 "Hide or show local photos Settings not getting saved upon closing app"
**Actual Behaviour**

At present, the app does not preserve the ' hide or show photos settings ' state in which it was closed. By default when the app opens it shows local photos.

**Expected Behaviour**
For the first run, it should show local photos, after it should show as per user's setting.

**Steps to reproduce it**

1. Uncheck the hide or show local photos checkBox
2. Close and restart the a

[2017-04-10 22:16] saurabhjn76 commented on #50
Hi, may I work on this ?

[2017-04-11 01:22] CloudyPadmal opened #327 "Theme Settings; multiple Radio buttons get selected"
**Actual Behaviour**

When I select the other radio button in _Theme Settings_, they both marked selected. But when the theme is applied and if I go back to _Theme Settings_, only one radio is selected.

**Expected Behaviour**

Since there are two options mutually exclusive, only one radio button should be shown selected!

**Steps to reproduce it**

1. Open app
2. Go to _Settings_
3. Select the un

[2017-04-11 04:25] #327 closed

[2017-04-11 04:25] Abhi2424shek commented on #50
Sure @saurabhjn76

[2017-04-11 07:46] neelanshsahai opened #329 "App crashes on pressing the back button."
**Actual Behaviour**
When on the main screen, app crashes on pressing the Back Button.

**Expected Behaviour**
on pressing the back button either the app should ask that are you sure to exit or should move to a home page.

**Would you like to work on the issue?**
I would like to work on this issue.

[2017-04-11 07:50] neelanshsahai opened #330 "Tab Transitions"
**Actual Behaviour**
To Jump to the settings tab from the upload tab, the user has to click on the Settings Tab

**Expected Behaviour**
Swiping anywhere in the screen should switch between the tabs.

**Would you like to work on the issue?**
Yes, i would like to work on it.

[2017-04-11 08:04] neelanshsahai opened #331 "Loading Images from the Gallery"
**Actual Behaviour**
Every time after a particular amount of images are loaded the user has to press the '+' Button for loading more images.

**Expected Behaviour**
Instead of pressing the '+' button again and again we can use a Loading Scroll View which on scrolling to the bottom of the list will automatically start loading more Images. In this manner the first screen of the app will be much more

[2017-04-11 09:05] CloudyPadmal commented on #331
Hello @neelanshsahai! This feature is already implemented by a recent PR! :) It's the development branch which has all the updated features!

[2017-04-11 10:49] Abhi2424shek commented on #331
Already solved issue.

[2017-04-11 10:49] #331 closed

[2017-04-11 10:50] Abhi2424shek commented on #330
That's against the guidelines for the bottom navigation bar.

[2017-04-11 10:50] #330 closed

[2017-04-11 10:51] Abhi2424shek commented on #329
OK please work on it if you can @neelanshsahai

[2017-04-11 13:26] CloudyPadmal opened #332 "Image deletion in main gallery doesn't reflect in upload image list"
**Actual Behaviour**

I've selected a few images from the main gallery and clicked on upload menu button to add them to upload images list. Then I've deleted them. The image name and an entry is available in the upload image list. If I try to open it from there it says cannot load image!

**Expected Behaviour**

When I delete an image from the main gallery, that image has to be removed from the up

[2017-04-11 13:32] #116 closed

[2017-04-11 13:33] Abhi2424shek commented on #332
Yes please do work on it.

[2017-04-11 13:49] #297 closed

[2017-04-11 14:13] AliAyub007 commented on #249
@Abhi2424shek my laptop got broken I had almost completed this so I will send PR with in 2-3 days as I will get my laptop fixed. :)

[2017-04-11 14:52] Abhi2424shek commented on #249
Sure

[2017-04-11 21:51] vinaysajjanapu commented on #329
@neelanshsahai which page do you mean by main screen?
I checked almost all pages and I don't find this error anywhere and the confirmation dialog has already been implemented.
Can you attach logcat for this issue?

[2017-04-12 03:11] CloudyPadmal commented on #329
I guess it's fixed already as @vinaysajjanapu mentioning! :)

[2017-04-12 04:49] #332 closed

[2017-04-12 04:52] Abhi2424shek commented on #329
I am not too seeing the bug, but you may work on it if you have it (please do try updating your fork)

[2017-04-12 11:32] CloudyPadmal opened #335 "Not enough touch space for Camera feature buttons"
**Actual Behaviour**

The existing _Switch Camera_, _Flash_ and _Grid_ buttons are stuffed and the space is inadequate!

**Expected Behaviour**

According to Material Design Guidelines, there has to be a touch space like 48dp x 48dp for interactions

**Steps to reproduce it**

1. Open app
2. Go to _Camera_ and observe

**LogCat for the issue**

**Screenshots of the issue**

![device-2017-04-12-164

[2017-04-12 18:20] Subhankar29 opened #337 "Implementation of Instagram like timeline feature"
As most of the photo editing app in the current market, they have their own page(aka Timeline or newsfeed) to share their photos to the world.

**Expected Behaviour**

Implementation of the Timeline on the app can enable the users to share their edited photos directly. All the uploaded photos will be visible on a card by implementing CardView.  This page will consist of the photos which are upload

[2017-04-12 19:39] AliAyub007 opened #338 "No need of Load More button in main Gallery"
**Actual Behaviour**

There is load more button in main gallery view which was used to load more photos into grid view. Now you can scroll pictures till end without loading more.

**Expected Behaviour**

If it should remain in current state i.e showing all images in scroll view without any need of load more then load more button should be removed.

**Screenshots of the issue**

![17902842_78549630

[2017-04-12 20:45] AliAyub007 commented on #335
@CloudyPadmal I suggest to make icons of same size too as flash icon is bigger than others.

[2017-04-13 01:56] CloudyPadmal commented on #335
@AliAyub007 exactly! :metal:

[2017-04-13 05:22] Abhi2424shek commented on #338
Yes please do so, @AliAyub007

[2017-04-13 08:30] #335 closed

[2017-04-13 13:41] #338 closed

[2017-04-13 16:41] dynamitechetan commented on #337
this is a really big task. you have to implement login and everything. Also firebase storage is paid after some limit.

[2017-04-13 20:08] amitiwary999 opened #342 "Title of picture is not updated in camera section"
**Actual Behaviour**

After taking pic if user change title of pic it is not get updated.

**Expected Behaviour**

Title of pic should get updated

**Steps to reproduce it**

1.Take a picture.
2. Change title of picture .
3. click pic and check info from info fab button.
4. you can find that title is not updated.

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on

[2017-04-13 20:32] amitiwary999 opened #344 "Soft keyword get open automatically in cropimage section."
**Actual Behaviour**

soft keyword get open automatically in cropimage section .

**Expected Behaviour**

soft keyboard should not open automatically.

**Steps to reproduce it**

1.Click a picture.
2.After that Cropimage class will open.
3.soft keyboard get open automatically.

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2017-04-14 04:38] AliAyub007 opened #345 "Pinch to Zoom in and out in camera Preview"
**Actual Behaviour**

Currently we cannot zoom in or out by pinching on camera preview.

**Expected Behaviour**

Zoom in and out should be enabled by pinching on camera preview.

**Steps to reproduce it**

Pinch zoom will be enabled on camera preview by handling zoom.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of the issue**

Where-ever possible attach a screenshot o

[2017-04-14 05:20] #217 closed

[2017-04-14 06:34] vinaysajjanapu opened #347 "Dark theme is not uniform"
**Actual Behaviour**

Dark theme is not getting applied to all the pages like view image, edit image, share, select images.......

**Expected Behaviour**

Theme should be uniform

**Would you like to work on the issue?**

yes

[2017-04-14 06:47] vinaysajjanapu opened #349 "Camera preview is distorted"
**Actual Behaviour**

The preview of the camera is distorted.

**Expected Behaviour**

Should be even.

**Steps to reproduce it**

View the preview of an image of circle.

**Screenshots of the issue**

![screenshot_20170414-121522](https://cloud.githubusercontent.com/assets/15368561/25035633/52186bb4-210c-11e7-9d29-7ff9c6ccea3e.png)

**Would you like to work on the issue?**

yes

[2017-04-14 07:26] vinaysajjanapu opened #351 "App not remaining minimized on home button pressed"
**Actual Behaviour**

App minimizes when home is pressed on splash screen and next page opens even if the app is in minimised state.

**Expected Behaviour**

Next page should open only when we resume the app again.

**Steps to reproduce it**

Open app. Press home button immediately.

**Would you like to work on the issue?**

yes

[2017-04-14 09:32] #351 closed

[2017-04-14 09:34] Abhi2424shek commented on #347
Ok

[2017-04-14 09:37] vinaysajjanapu opened #353 "No size info of image when exif data unavailable"
**Actual Behaviour**

If an image doesn't have exif data about its size, app shows it as zero.
My phone doesn't save exif data of a screenshot. Phimpme app shows its size as 0x0 whereas builtin gallery app shows as 1920x1080.

**Expected Behaviour**

Info should be shown even if exif data is unavailable

**Steps to reproduce it**

Take a screenshot and check its info(if your phone doesn't save exi

[2017-04-14 09:38] Abhi2424shek commented on #353
OK pls work on it.

[2017-04-14 09:42] #344 closed

[2017-04-14 14:56] #321 closed

[2017-04-14 15:21] #345 closed

[2017-04-15 13:17] #162 closed

[2017-04-16 06:12] rohanagarwal94 opened #358 "Update readme.md"
**Actual Behaviour**

The communication channel mentioned is still a slack channel.

**Expected Behaviour**

Update it to the gitter link. - https://gitter.im/fossasia/phimpme

**Would you like to work on the issue?**

No, I want a beginner to solve this.

[2017-04-16 12:34] #251 closed

[2017-04-16 12:51] vinaysajjanapu opened #359 "App crashing when HDR button is pressed in HDR unsupported devices"
**Actual Behaviour**

App crashing when HDR button is pressed in camera page if HDR scene mode is not supported by your device.

**Expected Behaviour**

Crash shouldn't occur.

**Steps to reproduce it**

Just tap HDR icon in camera.

**LogCat for the issue**

 FATAL EXCEPTION: main
                                                                 Process: vn.mbm.phimp.me, PID: 17232

[2017-04-16 13:26] vinaysajjanapu opened #360 "Zoom in camera is little buggy"
**Actual Behaviour**

- App crashes when you try to zoom in more than max zoom(if condition is not proper)
- Zoom functionality is not proper when more than 2 fingers are placed on screen.

**Expected Behaviour**

Zoom should be limited to max zoom
camera should zoom with only 2 fingers. not more than 2.

**Would you like to work on the issue?**

yes

[2017-04-16 13:55] amitiwary999 commented on #360
@vinaysajjanapu can you provide the step to check this error because it is working fine in my case.

[2017-04-16 13:57] #353 closed

[2017-04-16 14:04] pa1pal commented on #358
https://github.com/fossasia/phimpme-android/commit/517169bd8b3b59ebacb9f2c96a767e1139a7a1d6

[2017-04-16 14:04] #358 closed

[2017-04-16 14:35] vinaysajjanapu commented on #360
Consider a case where maxzoom is 99 and current zoom 96. 'If condition' returns true so zoom will be incremented and it causes a crash when setting parameters with zoom more than maxzoom.
It is working fine in your case because maxzoom of your phone's camera might be a multiple of 6.

The second issue
When I swipe with 3 or 4 fingers, sometimes it is zooming in and sometimes zooming out. So I thou

[2017-04-16 15:33] amitiwary999 opened #363 "App is crashing on clicking map button"
**Actual Behaviour**

App is crashing due to asynctask in mapfragment

**Expected Behaviour**

App should not crash

**Steps to reproduce it**

1. Click on map button at bottombar
2. Now press any other button.
3. wait for some time.

**LogCat for the issue**

java.lang.RuntimeException: An error occured while executing doInBackground()
                      at android.os.AsyncTask$3.done(AsyncTas

[2017-04-16 17:08] madhavrathi commented on #342
@amitiwary999  It is already reported https://github.com/fossasia/phimpme-android/issues/298
Please close this issue and comment there and we can work on this.

[2017-04-16 17:12] amitiwary999 commented on #342
@madhavrathi #298 is related to saved images and this issue is about images which is not saved yet.

[2017-04-16 19:00] amitiwary999 commented on #298
@madhavrathi are you working on this? can i work on this issue?

[2017-04-17 14:58] madhavrathi commented on #298
@amitiwary999 I am figuring it out yet, if you have a solution, please go ahead

[2017-04-17 17:53] rishz opened #366 "Pinch to Zoom in Camera is too fast to focus"
**Actual Behaviour**

Pinch to Zoom feature in Camera is too fast and zooms to Maximum on very slight movement of fingers.

**Expected Behaviour**

Pinch to Zoom feature must zoom the Camera must move gradually as per length of pinch.

**Would you like to work on the issue?**

Yes

[2017-04-17 19:13] #360 closed

[2017-04-17 21:28] amitiwary999 opened #368 "camera switch button not working properly"
**Actual Behaviour**

camera switch automatically from back to front and vice-verss

**Expected Behaviour**

It should not switch automatically

**Steps to reproduce it**

click on camera button at bottombar.
Now click switch button.
After that press any button at bottom bar.
Again click camera button. You will find that camera switches automatically.
now click a picture and discard it. You will f

[2017-04-18 12:32] Abhi2424shek commented on #368
I am not having any such issues

[2017-04-18 12:35] #366 closed

[2017-04-18 12:42] anantprsd5 opened #369 "Option to mute shutter sound"
**Actual Behaviour**

Shutter sound is there every time user takes photos.

**Expected Behaviour**

There should be an option to mute the shutter sound

**Steps to reproduce it**

Open Camera, Take photo.

**Would you like to work on the issue?**

Yes

[2017-04-18 12:45] amitiwary999 commented on #368
@Abhi2424shek follow the step properly.
1. Switch from back camera to front camera.
2. Then click on any other button at bottom bar.
3.Again click on camera button. You will find that camera automatically switched to back camera.
4. Click a pic and discard it.

[2017-04-18 16:57] #363 closed

[2017-04-18 17:30] heysadboy opened #371 "Status bar color"
**Actual Behaviour**

The status bar color must be a shade darker than title bar color but it is currently grey, I guess due to that theme management.

![screenshot_2017-04-18-22-43-17](https://cloud.githubusercontent.com/assets/22588035/25144227/b630d1be-248a-11e7-9c19-cbe1847ef3e9.png)

**Expected Behaviour**

It should be a darker shade of blue to follow material aesthetic.

Yes, I would like t

[2017-04-18 17:36] heysadboy commented on #368
Yes, and status bar appears again too @amitiwary999 .

[2017-04-19 16:13] shivam21 opened #374 "Front Camera takes lot of time to snap photo when flash is on"
**Actual Behaviour**

Its taking lot of time to snap the photo when flash is on.

**Expected Behaviour**

It should snap photo immediately.

**Steps to reproduce it**

Turn off flash as soon as the camera is switched to the front.

**Would you like to work on the issue?**

I would like to work on this issue.

[2017-04-19 19:12] #359 closed

[2017-04-20 04:00] #369 closed

[2017-04-20 05:04] #368 closed

[2017-04-20 05:06] #347 closed

[2017-04-20 05:08] Abhi2424shek commented on #371
@heysadboy is it compulsory to do so, currently we use blue as primary and grey as the secondary colour respectively and it looks good, doesn't it?

[2017-04-20 07:42] dynamitechetan commented on #30
yes. Most layouts have been changed.

[2017-04-20 08:26] Abhi2424shek commented on #30
Can you please check which all are needed @dynamitechetan

[2017-04-20 08:38] dynamitechetan commented on #30
image editing activities need some improvements, rest looks good to me.

[2017-04-20 08:50] Abhi2424shek commented on #30
@pa1pal any opinions?

[2017-04-20 09:15] heysadboy commented on #371
@Abhi2424shek Whatever you suggest. It is not compulsory though.

[2017-04-20 09:19] Abhi2424shek commented on #371
Opening discussion, what are the opinions?

[2017-04-20 15:02] pa1pal commented on #30
Which PR are you referencing here?

[2017-04-20 15:09] Abhi2424shek commented on #30
It's the entire app's design which is to be evaluated @pa1pal, what do you think, can we safely close this one or should we go for improvements in design in any other areas? @pa1pal

[2017-04-20 15:12] pa1pal commented on #371
in my opinion this color `#0288D1` for status bar
and this `#03A9F4` as primary color

[2017-04-20 15:19] pa1pal commented on #30
if @dynamitechetan already has done some work on this, so we can have a look and merge it.

[2017-04-20 15:21] dynamitechetan commented on #30
I did most of it and its already merged. @pa1pal I want you to look at the app now and check if anything is left. I think editing Image activities can be made better rest all things are done.

[2017-04-20 15:57] pa1pal commented on #30
Yes I was thinking the same. The editing Image part has mismatch with the theme.
Any other update regarding this will be updated here only.

[2017-04-20 16:28] AliAyub007 commented on #371
I think it should be gray as menu on navigation bar is gray so as all buttons, icons and writing.  Giving it a darker shade of primary color is fine too but I think we should go for gray.

[2017-04-20 21:39] amitiwary999 opened #375 "State of checkbox is changing automatically in setting activity"
**Actual Behaviour**

If checkbox is unchecked, it is get checked automatically
**Expected Behaviour**

It should not happen.

**Steps to reproduce it**

1.Uncheck the checkbox (checkbox with title show local photos).
2.Now move to camera activity , click a picture and press save button.
3.Move to setting activity. You will find that checkbox is get checked automatically.

**LogCat for the issue**

[2017-04-21 03:53] AliAyub007 opened #376 "Adding Timer to Camera"
**Actual Behaviour**

There is no Timer option in Camera

**Expected Behaviour**

There should be a timer in camera if someone wants to start timer for picture.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes I would like to work on it if suggested.

[2017-04-21 04:31] Abhi2424shek commented on #376
Seems good

[2017-04-21 10:07] madhavrathi opened #377 "AlertDialog Buttons in Upload Section are not in accordance with app theme"
**Actual Behaviour**

The colors of alert dialog are not matching up with the theme of app (LIGHT BLUE).

**Expected Behaviour**

It should have buttons with same theme. Right now all the alert boxes are having blue buttons, so we should have uniformity in app.

**Screenshots of the issue**

![screenshot_2017-04-21-15-22-26-666_vn mbm phimp me](https://cloud.githubusercontent.com/assets/22375731/2

[2017-04-21 11:22] #377 closed

[2017-04-21 11:25] Abhi2424shek commented on #375
Hi, thanks for reporting this bug, however I found that, this is due to #292 and this one seems to be a variant of #292, what do you think? @amitiwary999

[2017-04-21 11:51] amitiwary999 commented on #375
@Abhi2424shek I think it is different. There may be some issues like this. I am thinking of making some changes like if user select front camera then until he/she select back camera, camera remain in front side like in gallery app or instagram app. currently it is changing on closing app. should I open new issue for this.

[2017-04-21 12:36] Abhi2424shek commented on #375
If you find bugs feel free to report them, but I think the cause of this issue is because that the setting is not getting saved, am I right?

[2017-04-21 18:11] anantprsd5 opened #380 "Exposure controls and ISO management in camera"
**Actual Behaviour**

There are no options to manually control exposure and ISO.

**Expected Behaviour**

Seekbar for exposure control and list of supported iso values should be there to be selected manually.

**Would you like to work on the issue?**

Yes.

[2017-04-22 11:50] #278 closed

[2017-04-23 00:31] CloudyPadmal opened #382 "Image loading dialog pops up when scrolling up"
**Actual Behaviour**

In the main gallery, when I scroll down to the bottom and trying to scroll up will pop the loading image dialog box. This only happens at the bottom level. Once we pass the last few images, things are functioning normally.

**Expected Behaviour**

Since all the images are loaded, and when we're scrolling up, no need to display a load image dialog box or try to fetch images.

[2017-04-23 05:30] rishz opened #384 "Option to Capture the photo using Volume Buttons"
**Actual Behaviour**

There is no option to click the photo using Volume Buttons

**Expected Behaviour**

There should be an option to capture using Volume Buttons if someone is using a selfie stick or a similar device which captures using the buttons.

**Would you like to work on the issue?**

Yes, I would like to work on it :)

[2017-04-23 06:38] madhavrathi opened #385 "Use an Open Source Library for loading images and displaying them"
**Actual Behaviour**

Currently the app takes up a lot of memory while loading images from local storage and displaying them.

**Expected Behaviour**

I believe if we use an open source library it will help in memory optimization of the app.

**Steps to reproduce it**

we have many options such as Glide(Recommended by Google), Fresco, Image loader and Picasso.
A comparison between them can be look

[2017-04-23 14:11] amitiwary999 opened #387 "App is crashing in camera activity"
**Actual Behaviour**

app is crashing on swiping on screen in camera activity.

**Expected Behaviour**

It should not happen.

**Steps to reproduce it**

1. open camera activity.
2. now swipe on screen between and right side of screen.

**LogCat for the issue**

 java.lang.RuntimeException: setParameters failed
                      at android.hardware.Camera.native_setParameters(Native Method)

[2017-04-23 22:05] amitiwary999 opened #389 "Upload section contain duplicate photos."
**Actual Behaviour**

user can add same image two times

**Expected Behaviour**

The uploaded image should not be readded.

**Steps to reproduce it**

1.go to gallery activity, select any image and upload it.
2. Click pn that image and fromfab button click on upload button.
3. go to upload section. You will find that same picture is added two times.

**LogCat for the issue**

**Screenshots of the

[2017-04-24 01:58] CloudyPadmal commented on #389
Hello @amitiwary999! There was a discussion about this issue once. Having enabled duplicate images, we can edit each one independently! How's your idea about that feature? :)

[2017-04-24 04:07] Abhi2424shek commented on #389
Yea @amitiwary999, that's how it's being done, so sorry for you as you have made a PR, I urge you to follow the best practises, i.e, making an issue, getting approval from a contributor, discussing how it would be implemented and then making a PR.

I am closing this one.

[2017-04-24 04:07] #389 closed

[2017-04-24 04:11] #387 closed

[2017-04-24 04:11] #382 closed

[2017-04-24 08:43] Abhi2424shek commented on #375
Closing via #379

[2017-04-24 08:43] #375 closed

[2017-04-24 08:44] Abhi2424shek commented on #326
Please do so

[2017-04-24 12:25] amitiwary999 commented on #389
@CloudyPadmal @Abhi2424shek it is good feature. But why only two times. There should be option to add image in upload section as many time as user want.

[2017-04-24 13:04] amitiwary999 opened #391 "App is crashing in camera activity"
**Actual Behaviour**

App is crashing

**Expected Behaviour**

App should not crash

**Steps to reproduce it**

1.Go to camera activity.
2. click on switch button so that front camera open.
3.click on exposure button.
4.click on seekbar.

**LogCat for the issue**

 java.lang.RuntimeException: setParameters failed
                      at android.hardware.Camera.native_setParameters(Native Method)

[2017-04-24 13:12] amitiwary999 opened #392 "Issue with selected images in upload section"
**Actual Behaviour**

If images are selected and user press back button app is showing dialog box for closing app instead of unselect those images.

**Expected Behaviour**

f images are selected and when user press back button those images should get unselect.

**Steps to reproduce it**

Add images in upload section. Select picture and click back button.

**LogCat for the issue**

**Screenshots of

[2017-04-24 14:39] pa1pal commented on #392
I agree. It's good you find out that. Go ahead.

[2017-04-24 16:12] #392 closed

[2017-04-24 17:06] AliAyub007 opened #394 "Updating Layout for Camera"
**Actual Behaviour**

Icons are covering whole preview and it doesn't look that good.

**Expected Behaviour**

Icons should be managed in a good way and it should look good to users.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

It should look like this

![18109917_793151770835932_1033985379_o](https://cloud.githubusercontent.com/assets/25840461/25348996/91620

[2017-04-25 15:25] #391 closed

[2017-04-26 13:09] #384 closed

[2017-04-26 13:11] Abhi2424shek commented on #385
@madhavrathi IMO, it will be much more better if we could take inspiration from these libraries and then improve ours'. It would also avoid us from using more and more dependencies and become self sufficient. what do you think?

[2017-04-26 15:36] madhavrathi commented on #385
@Abhi2424shek I believe you are right. In a production level application, dependencies should be minimum, I guess this issue should be closed.

[2017-04-26 15:36] #385 closed

[2017-04-27 14:08] #376 closed

[2017-04-27 14:08] #394 closed

[2017-04-28 18:14] amitiwary999 opened #398 "App is crashing"
**Actual Behaviour**

App is crashing in camera activity

**Expected Behaviour**

It should not

**Steps to reproduce it**

go to camera and use volume button to click pic

**LogCat for the issue**

java.lang.RuntimeException: takePicture failed
                      at android.hardware.Camera.native_takePicture(Native Method)
                      at android.hardware.Camera.takePicture(Camera.jav

[2017-05-01 07:24] Abhi2424shek commented on #329
Can someone close this please, it seems not there now. I think I lost write access somehow, @pa1pal consider closing this pls?

[2017-05-01 09:07] pa1pal commented on #329
closing. As already fixed.

[2017-05-01 09:07] #329 closed

[2017-05-02 15:48] mariobehling opened #402 "How to implement internal APIs / Options for conversation UI and Voice UI"
At FOSSASIA we also develop SUSI.AI. What are the options to integrate the apps? Would it be possible that the Android app offers APIs that could be called from a SUSI Android app or something along those lines?

It would be fantastic to have a phimpme app, that could be controlled by a conversation user interface or a voice interface. What are your ideas?

[2017-05-02 18:15] pa1pal commented on #402
For integrating some voice commands we can use Google Voice interaction api [Link](https://developers.google.com/voice-actions/interaction/voice-interactions).
We can perform some actions such as clicking of image, selecting upload accounts.
We can use susi as well after making it to trigger some of the voice commands for Phimpme.

[2017-05-04 06:52] #380 closed

[2017-05-04 18:23] abhimanyukumar0007 opened #403 "App Crashing"
**Actual Behaviour**
App crashing when accepted to delete all downloaded images from the app setting.

Please state here what is currently happening.
App is crashing

**Expected Behaviour**
It should delete all downloaded images from the phimpme application folder

State here what the feature should enable the user to do.
It allows the user to empty their gallery

**Steps to reproduce it**
Goto se

[2017-05-05 04:12] Abhi2424shek commented on #403
It would be better if you could clean the issue template.

[2017-05-05 09:59] #398 closed

[2017-05-05 11:56] vinaysajjanapu opened #404 "App crash in camera page"
**Actual Behaviour**

App is getting crashed when onscreen capture button or volume controller button is pressed multiple times continuously.

**Expected Behaviour**

It shouldn't crash.

**Steps to reproduce it**

Open camera page. Press capture button or volume button repeatedly

**LogCat for the issue**

05-05 17:14:05.019 10925-10925/vn.mbm.phimp.me E/AndroidRuntime: FATAL EXCEPTION: main

[2017-05-06 05:39] anantprsd5 commented on #175
As there is no activity in the issue from long time, I am taking this issue as  it is important for the development of camera to check the quality changes after certain implementations properly. Right now it is too low to make out the changes.

[2017-05-06 09:00] anantprsd5 opened #406 "Captured image resolution is very low"
**Actual Behaviour**

Currently, the captured images quality is very low. Hence it also makes the other camera development difficult as the changes cannot be seen properly in a low quality images.

**Expected Behaviour**

The default resolution should be high and the there should be an option to select the resolution.

**Steps to reproduce it**

1. Open camera
2. Click picture

**Would you like to

[2017-05-06 09:12] #406 closed

[2017-05-06 10:40] vinaysajjanapu commented on #337
@Subhankar29 do you think this feature is really necessary in the app? just asking.
As phimpme is an image editing app, it would be better if we first focus on implementing and refining features for editing the pictures and sharing them on already available platforms. After implementing these features we may focus on this. This is my view.
@mariobehling what do you think?

[2017-05-06 10:56] vinaysajjanapu commented on #266
@rohanagarwal94 Have you worked on this?
if not, then can you explain what's going wrong? I don't understand clearly.

[2017-05-06 12:01] Subhankar29 commented on #337
Yes. I agree. This is not an initial step to take. I might work on it for gsoc project in the coming days.

[2017-05-06 13:10] CloudyPadmal commented on #337
@Subhankar29 would it clash with implementations by other developers? :thinking:

[2017-05-06 13:12] Subhankar29 commented on #337
That we have to discuss after we go through the main features of the app.

[2017-05-06 15:25] pa1pal commented on #349
The distorted and aspect ration problem was fixed in above PR.
There is issue with the preview size in some devices.

[2017-05-06 15:57] pa1pal opened #408 "Camera screen size error"
**Actual Behaviour**

The camera screen is not taking correct width and size in some devices. It is continuation of #349.

**Expected Behaviour**

Camera screen should take appropriate width and height.

**Steps to reproduce it**

Select the camera in bottom nav bar.

**Screenshots of the issue**
![camera_error](https://cloud.githubusercontent.com/assets/6936968/25773851/a464cbd6-32a2-11e7-977f-f7

[2017-05-06 15:59] pa1pal commented on #349
@vinaysajjanapu as per the guidelines there should be one PR for one issue. So I am closing this now and open other issue for the same. I assigned this on the milestone.

[2017-05-06 15:59] #349 closed

[2017-05-06 16:17] vinaysajjanapu commented on #408
@pa1pal I think I might know the reason for this.
In supportedpreviewsizes of most devices width is large and height is less. eg. 1600x900
I took only this kind of cases into consideration and written the code.
But after seeing your screenshot, I feel that my assumption is wrong. Can you please check that?

[2017-05-06 17:52] anantprsd5 commented on #175
@pa1pal I am working on this but don't have access to add this to milestone. So can you please add this.
Thanks :)

[2017-05-06 18:12] pa1pal commented on #175
@anantprsd5 sure.

[2017-05-06 18:14] pa1pal commented on #408
@vinaysajjanapu sure.

[2017-05-06 18:42] mohitmanuja opened #410 "Image info is not visible in gallery fragment on dark theme."
**Actual Behaviour**

Right now image info in gallery fragment is not visible in the dark theme.

**Expected Behaviour**

Image info should be visible in galleryfragment on tap of info.

**Steps to reproduce it**

1. Select Dark theme.
2. Open any image and tap on fab info button.

**Screenshots of the issue**

![screenshot_2017-05-06-23-51-52-216_vn mbm phimp me](https://cloud.githubusercontent.c

[2017-05-06 20:41] anantprsd5 commented on #249
Due to inactivity of @AliAyub007 , I will be working on this issue from now on.

[2017-05-07 01:46] Subhankar29 opened #412 "Removing only share through bluetooth option from the upload activity, and adding more sharing options."
**Actual Behaviour**
Currently, if we choose the share option from the upload activity we get redirected to another activity where we can share only through Bluetooth.

**Expected Behaviour**
While this is unnecessary, and we can have more options to share through different platforms available in the phone and not only Bluetooth.

**Steps to reproduce it**

1. Removing Bluetooth activity.
2. Addin

[2017-05-07 10:28] #404 closed

[2017-05-07 12:03] Subhankar29 commented on #402
Yes. Apart from interacting with the camera through voice, we can also access the Phimpme camera activity through google now voice command.

[2017-05-07 12:22] anantprsd5 commented on #249
@Abhi2424shek I guess we are extracting the location even when the gps is off from the network. Can you please specify where the problem is?

[2017-05-07 14:00] Abhi2424shek commented on #249
@anantprsd5 currently when GPS is off, the location data is 0 even when internet is on.

[2017-05-07 15:14] #238 closed

[2017-05-07 16:10] anantprsd5 commented on #249
@Abhi2424shek While clicking the photo, even when the GPS is disabled, I am getting the latitude and longitude via network provider.
'''
lat = locationManager.getLastKnownLocation(LocationManager.NETWORK_PROVIDER).getLatitude();
'''

[2017-05-07 19:22] mohitmanuja opened #415 "App crashes in tablet on tap on camera."
**Actual Behaviour**

App is crashing on camera layout.

**Expected Behaviour**

Should be run on all devices.

**Steps to reproduce it**

Open app in tablet and than click on the camera button.

**LogCat for the issue**

Provide logs for the crash here

FATAL EXCEPTION: main
                                                                 Process: vn.mbm.phimp.me, PID: 18183

[2017-05-08 03:55] vinaysajjanapu commented on #298
@madhavrathi @amitiwary999 Have you guys fixed this? if not I shall try.

[2017-05-08 04:00] vinaysajjanapu commented on #200
Not happening for me too

[2017-05-08 04:03] vinaysajjanapu commented on #403
@abhimanyukumar0007 It is not happening for me.

[2017-05-08 04:24] Abhi2424shek commented on #249
Is it me only whom it is not fetching any results?

[2017-05-08 04:33] anantprsd5 commented on #249
@pa1pal Don't know. I will have a check in other devices. Thanks.

[2017-05-08 10:04] pa1pal commented on #249
@anantprsd5 no lat lang value when GPS is off.

[2017-05-08 10:27] vinaysajjanapu opened #416 "Scroll in gallery page is not smooth"
**Actual Behaviour**

Currently, 20 images are loaded at once instead of loading one by one dynamically. This is causing lags while scrolling

**Expected Behaviour**

Scroll should be smooth from start to end

**Steps to reproduce it**

Open gallery page and scroll down. You will observe this only is you have more than 20 images.

**Would you like to work on the issue?**

Yes, I would like to work

[2017-05-08 14:46] #175 closed

[2017-05-08 19:01] pa1pal opened #419 "Changing the complete implementation of newGallery fragment"
**Actual Behaviour**

- [ ] Remove Grid View and add Recycler View in gallery fragment
- [ ] Add staggered grid layout manager
- [ ] Add lazy loading
- [ ] onClick listeners

**Would you like to work on the issue?**
Yes

[2017-05-08 19:15] vinaysajjanapu commented on #419
@pa1pal I just changed gridview to recyclerview and added glide for loading images as part of fixing #416. I am checking other lags in gallery now. As I already started I will complete those two today and you may start working on other two tomorrow.

[2017-05-08 19:18] pa1pal commented on #419
@vinaysajjanapu okay.
push the code you added and fix #416. Rest points I will do.

[2017-05-08 22:00] vinaysajjanapu commented on #419
yeah sure

[2017-05-08 22:16] vinaysajjanapu opened #421 "App crashes when camera button on bottomnavigationbar is pressed"
**Actual Behaviour**

App crashes when camera button on bottomnavigationbar is pressed.

**Expected Behaviour**

No crash should occur

**Steps to reproduce it**

Open app, press camera button on bottom navigation bar

**LogCat for the issue**

E/AndroidRuntime: FATAL EXCEPTION: main
                                                                 Process: vn.mbm.phimp.me, PID: 18791

[2017-05-08 22:28] vinaysajjanapu opened #422 "Enhance zoom feature in view image page"
**Actual Behaviour**

Currently, we need to double tap on image to enter zoom mode and pinch to zoom works from then.

**Expected Behaviour**

Most people expect the image to get zoomed directly by pinching in or out without double clicking.

**Steps to reproduce it**

Open app, click image in gallery, try to zoom

**Would you like to work on the issue?**

yes

[2017-05-09 04:21] vinaysajjanapu commented on #419
@pa1pal do you think staggeredGridLayoutManager is necessary? I feel it look proper with normal gridLayoutManager.

[2017-05-09 13:02] anantprsd5 commented on #374
I would like to work on this due to inactivity of @shivam21 from many days.

[2017-05-09 16:35] mohitmanuja commented on #415
Currently, I am putting it on hold will solve after #421.

[2017-05-09 17:41] #416 closed

[2017-05-09 20:01] #410 closed

[2017-05-10 03:25] mohak1712 opened #424 "Delete fails when app is resumed"
**Actual Behaviour**

Selected Images do not respond to delete when the app is resumed even though they are highlighted. Also, the toolbar text changes back to Phimp.me.

**Expected Behaviour**

Selected Items(if any) should get deleted

**Steps to reproduce it**

Select images -> Pause App -> Resume App -> Delete does not work

**Would you like to work on the issue?**

Yes

[2017-05-10 08:44] mohak1712 opened #426 "Thumbnails are blurred"
**Actual Behaviour**

Thumbnails look blurred due to small size (80 right now)

**Expected Behaviour**

Thumbnails should not be blurred

**Steps to reproduce it**

open the app and look at the thumbnails

**Screenshots of the issue**

![screenshot_20170510-134803](https://cloud.githubusercontent.com/assets/12782512/25890296/9d669dce-358a-11e7-8ad9-5c16fd852d5e.png)

**Would you like to work on th

[2017-05-10 09:40] mohitmanuja opened #427 "Annoying white screen after Splash Screen"
**Expected Behaviour**

The White screen should not be visible.

**Steps to reproduce it**

Open the app and see after splash screen.

**Screenshots of the issue**

![whatsapp video 2017-05-10 at 3 04 22 pm](https://cloud.githubusercontent.com/assets/9361754/25892682/ba513176-3592-11e7-941e-8e4366c29299.gif)

**Would you like to work on the issue?**

Yes.

[2017-05-10 09:59] anantprsd5 commented on #427
@mohitmanuja  Wouldn't it be good if we remove the splash screen itself?

[2017-05-10 10:07] mohitmanuja commented on #427
@anantprsd5 yes, but actually the white screen is not due to the splash screen, we have to disable the window preview in styles.xml and currently, we are doing nothing in splash screen so we can remove.

[2017-05-10 11:39] Abhi2424shek commented on #427
Hey, for this we need to ensure that:

- we don't do any heavy work in onCreate() as doing heavy work could cause problems.

- we set the content view right after the super.onCreate() line.

- enable the windowDisabledPreview setting in styles for *every* theme we will be using.

[2017-05-10 13:07] CloudyPadmal commented on #427
Image cursors can be loaded during the splash screen right?

[2017-05-10 17:24] vinaysajjanapu commented on #427
@anantprsd5 I don't agree with removing splash screen. As @CloudyPadmal said it would be better if we move some tasks to splash screen

[2017-05-11 04:40] mohak1712 opened #431 "flexibility to change column count"
**Actual Behaviour**

There are 3 columns in the list.

**Expected Behaviour**

The user should be able to adjust the number of columns depending on their choice.
I prefer 2 columns, not 3.

**Steps to reproduce it**

See the column count in the app.

**Would you like to work on the issue?**

Yes

[2017-05-11 13:04] vinaysajjanapu commented on #426
@mohak1712 We are planning to have quality preference for user in settings. Currently the size is overrided to 80x80. If it is increased, the image loading may not be fast in all devices.

[2017-05-11 14:21] mohak1712 commented on #426
@vinaysajjanapu I want to add two things
1.  I don't think any user will compromise on thumbnails clarity.
2. I don't think they would try again and again to get the perfect thumbnail. It might get cumbersome.

what do you think?

[2017-05-12 17:16] #408 closed

[2017-05-12 17:50] pa1pal opened #434 "Gallery Grid to show local images in Home category"
A gallery implementation, showing a grid of images on the home screen.

[2017-05-12 17:50] #422 closed

[2017-05-12 17:50] vinaysajjanapu commented on #422
Code cleaned

[2017-05-12 17:51] vinaysajjanapu commented on #421
Code cleaned

[2017-05-12 17:51] #421 closed

[2017-05-12 17:51] pa1pal opened #435 "Toolbar option to switch to all photos in the gallery"
an option menu to switch to all photos from albums mode in gallery.

[2017-05-12 17:53] pa1pal opened #436 "Sort images in Gallery"
Sort images in gallery according to name, size, date etc.

[2017-05-12 17:55] pa1pal opened #437 "Fullscreen Image window on click of image in Gallery"
When user click on any image a fullscreen Image window would appear.

[2017-05-12 17:57] pa1pal opened #438 "options on image window screen"
Implement the basic features on image window screen such as

- [ ] Edit
- [ ] Share
- [ ] Details
- [ ] Rename
- [ ] Set wallpaper.

[2017-05-12 18:02] pa1pal opened #439 "Image tuning features in Edit screen"
- [x] Crop
- [x] Angle
- [x] Brighness
- [x] Contrast
- [x] Saturation
- [x] Sharpening
- [x] Blur
- [x] Vignette
- [x] Temperature

[2017-05-12 18:04] pa1pal opened #440 "Filters in Edit Image screen"
Implement following filters
Photographic filters

- [x] HDR
- [x] Histogram equalization

General filters

- [x] sepia
- [x] monotone

Misc filters

- [x] grainy
- [x] retrolux

[2017-05-12 18:06] pa1pal opened #441 "Text on images in Edit Image screen"
Can apply text on images in different font style.

[2017-05-12 18:10] pa1pal opened #442 "Stickers on Edit image screen"
Sticker applying feature in edit image screen

[2017-05-12 18:11] pa1pal opened #443 "Click image using app in built camera"
Can click images from the camera feature provided within the app.

[2017-05-12 18:12] pa1pal opened #444 "Switch front/ back camera"
Feature to switch front/ back camera from the camera screen. Also change settings according to that.

[2017-05-12 18:18] pa1pal opened #445 "Camera screen features"
- [ ] ISO
- [ ] White balance
- [ ] Timer
- [ ] Sound
- [ ] Flash On/Off
- [ ] Exposure/saturation Controls
- [ ] Picture size
- [ ] Camera modes(Night/Cloudy/Daylight)

[2017-05-12 18:26] pa1pal opened #446 "Setup Image editing screen"
Setup a layout for image editing screen, with bottom tabs and fragments for filter and edit operations.

[2017-05-12 18:50] Subhankar29 commented on #442
Please also assign me this one also

[2017-05-12 18:57] #419 closed

[2017-05-12 19:11] mohitmanuja commented on #444
Assign me for this. @pa1pal

[2017-05-12 19:19] mohitmanuja commented on #445
@pa1pal  Assign me and @anantprsd5 for this.

[2017-05-12 19:26] anantprsd5 commented on #445
@pa1pal Yes. Will divide the work.

[2017-05-12 22:39] vinaysajjanapu commented on #435
@pa1pal assign me this

[2017-05-12 22:40] vinaysajjanapu commented on #435
@pa1pal I'll work on it

[2017-05-12 22:43] vinaysajjanapu commented on #437
@pa1pal I'll work on this

[2017-05-12 22:45] vinaysajjanapu commented on #434
@pa1pal As this is the base is the base issue, if you are not free tomorrow, I can work on it if you wish.

[2017-05-12 22:47] vinaysajjanapu commented on #439
@pa1pal I can work on part of this.

[2017-05-13 04:10] vinaysajjanapu commented on #441
@pa1pal I'll work on this.

[2017-05-13 04:13] vinaysajjanapu commented on #435
After #434.

[2017-05-13 04:14] vinaysajjanapu commented on #436
After #434

[2017-05-13 04:34] pa1pal commented on #434
@vinaysajjanapu as it is a big task we can work together to achieve this early.

[2017-05-13 09:19] #337 closed

[2017-05-13 09:19] #342 closed

[2017-05-13 09:19] #371 closed

[2017-05-13 09:19] #374 closed

[2017-05-13 09:19] #402 closed

[2017-05-13 09:19] #412 closed

[2017-05-13 09:19] #415 closed

[2017-05-13 09:19] #424 closed

[2017-05-13 09:19] #426 closed

[2017-05-13 09:19] #427 closed

[2017-05-13 09:19] #431 closed

[2017-05-13 09:19] #30 closed

[2017-05-13 09:19] #50 closed

[2017-05-13 09:19] #53 closed

[2017-05-13 09:19] #114 closed

[2017-05-13 09:19] #148 closed

[2017-05-13 09:19] #199 closed

[2017-05-13 09:19] #200 closed

[2017-05-13 09:19] #228 closed

[2017-05-13 09:19] #240 closed

[2017-05-13 09:20] #243 closed

[2017-05-13 09:20] #246 closed

[2017-05-13 09:20] #248 closed

[2017-05-13 09:20] #249 closed

[2017-05-13 09:20] #266 closed

[2017-05-13 09:20] #286 closed

[2017-05-13 09:20] #288 closed

[2017-05-13 09:20] #298 closed

[2017-05-13 09:20] #302 closed

[2017-05-13 09:20] #307 closed

[2017-05-13 09:20] #326 closed

[2017-05-13 09:20] #403 closed

[2017-05-13 13:49] vinaysajjanapu opened #448 "Select multiple images in gallery"
A feature to select multiple images in gallery for sharing or deleting.

[2017-05-13 13:51] vinaysajjanapu opened #449 "Delete Images in Gallery"
- [ ] Delete single or multiple images in gallery

- [ ] Delete Album directly

[2017-05-13 14:48] #449 closed

[2017-05-13 14:48] #448 closed

[2017-05-14 15:17] mohitmanuja opened #452 "UI improvements in Camera"
- [x] Remove all debugging information from camera (angle, time, memory)
- [x] Fixes UI element according to portrait mode.

By removing debugging information means removing the angle text , time , memory text and some toast which is not required.
Fixes some UI element like the position of takePhoto button, visibility of zoom seekbar (Hiding) because most people expect the camera to get zoomed dir

[2017-05-14 15:17] mohitmanuja commented on #452
@pa1pal Assign it to me.

[2017-05-14 19:25] anantprsd5 opened #455 "Brightness turns to maxmimum while opening camera activity"
**Actual Behaviour**

The brightness of the screen increases to maximum in the camera activity.

**Expected Behaviour**

The screen brightness should remain the same and should not be altered unless manually changed from the phone settings.

**Steps to reproduce it**

Open camera activity

**Would you like to work on the issue?**

Yes.

[2017-05-17 05:12] Subhankar29 commented on #439
@vinaysajjanapu the image editor has most of the features.

[2017-05-17 09:01] #455 closed

[2017-05-17 11:28] #452 closed

[2017-05-17 19:02] pa1pal opened #457 "Enhance Gallery implementation and remove unnecessary code"
Removing the unused features from gallery.

- [ ] Drawer
- [ ] Fab
- [ ] toolbar features
- [ ] inside bottom navigation view implementation

[2017-05-19 21:11] vinaysajjanapu opened #459 "Change Appflow"
Use MainActivity of LeafPic as the start page of app, integrate bottomnavigationbar to it and add navigation to camera and accounts page from there.

[2017-05-20 05:54] Subhankar29 opened #461 "Linking Photogallery to Image Editor Activity"
**Actual Behaviour**

There is no link between the Image Editor and the Photo Gallery

**Expected Behaviour**

Directing the selected photo from the gallery to the image editor activity.

**Steps to reproduce it**

Will add Float Button on the selected photo to send the photo from the Gallery to the Image Editor activity.

**Would you like to work on the issue?**

Yes, I am working on it.

[2017-05-20 15:26] mohitmanuja opened #462 "Change App Details and Code refactoring."
- [x] Changing About us details.
- [x] Removing Denote Button (LeafPic) from side navigation.
- [x] Removing wallpaper Button.
- [x] Refactoring LeafPic with Phimpme.

[2017-05-21 05:30] mohitmanuja commented on #127
@Abhi2424shek  Please open this issue again because we need a logo for Phimpme.

[2017-05-21 05:58] #459 closed

[2017-05-21 19:36] #462 closed

[2017-05-21 20:06] anantprsd5 opened #465 "Refractor camera activity"
**Actual Behaviour**

1. There are useless toast messages on opening the camera activity.
2. On clicking the display image button on camera, several gallery applications are shown to open the photos.

**Expected Behaviour**

- [x] Remove the option to select gallery applications to display photos and use the default Phimpme gallery to display photos.
- [x] Remove all useless toast messages.

**Wou

[2017-05-21 20:33] mohitmanuja opened #466 "Icon is not visible in Setting"
**Actual Behaviour**

Icons should be visible.

**Expected Behaviour**

Currently, Icons is not visible.

**Would you like to work on the issue?**

Yes.

[2017-05-22 15:23] #466 closed

[2017-05-22 15:26] #444 closed

[2017-05-22 15:27] pa1pal commented on #436
#451

[2017-05-22 15:27] #436 closed

[2017-05-22 15:27] #434 closed

[2017-05-22 15:28] #457 closed

[2017-05-22 15:29] #445 closed

[2017-05-22 15:31] pa1pal commented on #437
#446

[2017-05-22 15:31] #437 closed

[2017-05-22 15:33] #438 closed

[2017-05-22 17:24] pa1pal opened #468 "Inside BottomNavigationView implementation for Gallery, Camera and account manager"
**Actual Behaviour**

Currently, Camera opens in seperate activity which not matches with the flow of app, because we are using bottom navigation view.

**Expected Behaviour**

Fragment like implementation in bottom navigation view using activities.

**Would you like to work on the issue?**

Yes

[2017-05-22 18:57] mohitmanuja opened #470 "BottomNavigationBar color should be app primary color"
**Actual Behaviour**

Right now color is not suitable for UI.

![screenshot_2017-05-23-00-04-28-601_vn mbm phimp me](https://cloud.githubusercontent.com/assets/9361754/26323549/f24a1c46-3f4c-11e7-9ec8-e6a117a0fe79.png)

**Expected Behaviour**

The BottomNavigationBar color should be app primary color always according to material design.
As we can change app primary color from setting so bottom nav